<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="main.css" />
<script type="text/javascript" src="dhtml.js"></script>
</head>
<body>
<!-- BEGIN Content -->
<script type="text/javascript"><!--
    dhtml2Init = false;
    btnNormal = new Image();
    btnNormal.src = "/pb.WebMAUI/templates/default/image/btn_delete1a.png";
    btnHighlight = new Image();
    btnHighlight.src = "/pb.WebMAUI/templates/default/image/btn_delete2a.png"; /* erste Highlight-Grafik */
    btnDown = new Image();
    btnDown.src = "/pb.WebMAUI/templates/default/image/btn_delete0a.png"; /* erste Highlight-Grafik */

    function picChange(pic, newpic) {
        pic.src = newpic.src;
    }

    function RUSure(btn, s) { // aRe yoU Sure?
        if (!confirm("Wollen Sie "+s+" löschen?")) {
            btn.form.RUSureResult.value=0;
        }
    }

    function showtime() {
        if(DOM || MS) {
            timestyle = getElem("id","timevalues",null).style;
            sHide = "hidden";
            sShow = "visible";
        }
        else if(NS) {
            timestyle = getElem("id","timevalues",null);
            sHide = "hide";
            sShow = "show";
        }

        mode = getElem("id", "timestyle", null).value;
        if (mode == 0) {
            timestyle.visibility = sHide;
        }
        else {
            timestyle.visibility = sShow;
        }
    }

    function showfolderselect(a,f) {
        if(DOM || MS) {
            folderstyle = getElem("id",f,null).style;
            sHide = "hidden";
            sShow = "visible";
        }
        else if(NS) {
            folderstyle = getElem("id",f,null);
            sHide = "hide";
            sShow = "show";
        }

        mode = getElem("id", a, null).value;
        if (mode >= 0 && mode <=1) {
            folderstyle.visibility = sShow;
        }
        else {
            folderstyle.visibility = sHide;
        }
    }

    function selectFolder(actionId) {
        wnd = window.open("index.php?popup=1&action=FolderList&dn={fldDN}&actionid="+actionId,"","width=320,height=400,toolbar=no,scrollbars=yes,resizable=yes");
        wnd.focus();
    }

    //-->
    </script>
<input type="hidden" name="RUSureResult" value="1" />
<input type="hidden" name="fldType" value="{fldType}" />
<table cellspacing="1" border="0" cellpadding="2">
  <tr valign="top" class="list0">
    <td align="left">Filtername</td>
    <td>&nbsp;</td>
    <td align="left">
      <input type="text" name="fldName" size="30" value="{fldName}" />
    </td>
  </tr>
  <tr>
    <td align="left" colspan="3" height="3"></td>
  </tr>
  <tr valign="top" class="list1">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td align="left">
      <select id="timestyle" name="fldTime[mode]" onchange="showtime()">
        <option value="0" {fldtimemodesel0}>Immer Wenn</option>
        <option value="1" {fldtimemodesel1}>Wenn im Zeitraum</option>
      </select>
      <div id="timevalues" style="visibility:{fldTimeRangeVisibility}"> von&nbsp;
        <input type="text" name="fldTime[from]" size="12" value="{fldTimeFrom}" />
&nbsp;bis&nbsp;
        <input type="text" name="fldTime[to]" size="12" value="{fldTimeTo}" />
      </div>
    </td>
  </tr>
  <!-- BEGIN RulesMode -->
  <tr valign="top" class="list1">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td align="left">
      <select name="fldRulesMode">
        <option value="||" {fldrulesmodeselor}>Eine der folgenden Regeln zutrifft</option>
        <option value="&&" {fldrulesmodeseland}>Alle der folgenden Regeln zutreffen</option>
      </select>
    </td>
  </tr>
  <tr>
    <td align="left" colspan="3" height="3"></td>
  </tr>
  <tr valign="top" class="list0">
    <td align="left" colspan="3" valign="bottom">Regeln</td>
  </tr>
  <!-- END RulesMode -->
  <!-- BEGIN RulesList -->
  <tr valign="top" class="list0">
    <td>&nbsp;</td>
    <td>
      <input type="image"
                       name="btnDeleteRule[{fldPatternId}][]"
                       onmouseover="picChange(this, btnHighlight)"
                       onmouseout="picChange(this, btnNormal)"
                       onmousedown="picChange(this, btnDown)"
                       onclick="RUSure(this,'{fldPattern}')"
                       title="Löschen"
                       alt="Löschen"
                       src="/pb.WebMAUI/templates/default/image/btn_delete1a.png" />
    </td>
    <td align="left">
      <input type="text" name="fldRules[{fldPatternId}][pattern]" size="30" value="{fldPattern}" />
      <select name="fldRules[{fldPatternId}][not]">
        <option value="0" {fldrulesnotsel0}> </option>
        <option value="1" {fldrulesnotsel1}>nicht</option>
      </select>
      <select name="fldRules[{fldPatternId}][field]">
        <option value="-1">(Vergleichsfeld auswählen)</option>
        <option value="0" {fldrulesfieldsel0}>Im Empfänger (to, cc)</option>
        <option value="1" {fldrulesfieldsel1}>Im Absender</option>
        <option value="2" {fldrulesfieldsel2}>Im Betreff</option>
        <option value="3" {fldrulesfieldsel3}>Im Text</option>
        <option value="4" {fldrulesfieldsel4}>Im Betreff oder Text</option>
      </select>
    </td>
  </tr>
  <!-- END RulesList -->
  <tr>
    <td align="left" colspan="3" height="3"></td>
  </tr>
  <!-- BEGIN Actions -->
  <tr valign="top" class="list1">
    <td align="left" colspan="3" valign="bottom">Aktionen</td>
  </tr>
  <!-- BEGIN ActionsList -->
  <tr valign="top" class="list1">
    <td>&nbsp;</td>
    <td>
      <input type="image"
                       name="btnDeleteAction[{fldActionId}][]"
                       onmouseover="picChange(this, btnHighlight)"
                       onmouseout="picChange(this, btnNormal)"
                       onmousedown="picChange(this, btnDown)"
                       onclick="RUSure(this,'diese Aktion')"
                       title="Löschen"
                       alt="Löschen"
                       src="/pb.WebMAUI/templates/default/image/btn_delete1a.png" />
    </td>
    <td align="left" nowrap="nowrap" >
      <select id="fldAction{fldActionId}" name="fldActions[{fldActionId}][action]" onchange="showfolderselect('fldAction{fldActionId}', 'fldFolders{fldActionId}')">
        <option value="-1">(neue Aktion auswählen)</option>
        <option value="0" {fldactionsel0}>Verschiebe Mail in den Ordner</option>
        <option value="1" {fldactionsel1}>Kopiere Mail in den Ordner</option>
        <option value="2" {fldactionsel2}>Mail umleiten an Empfänger</option>
        <option value="3" {fldactionsel3}>Mail kopieren an Empfänger</option>
        <option value="4" {fldactionsel4}>Lösche Mail</option>
      </select>
      <input type="text" id="fldActionTarget_{fldActionId}" name="fldActions[{fldActionId}][target]" size="30" value="{fldActionTarget}" />
      <a id="fldFolders{fldActionId}" href="javascript:selectFolder("{fldactionid}")" style="visibility:{selectFolderVisibility}"> Ordner wählen</a> </td>
  </tr>
  <!-- END ActionsList -->
  <!-- END Actions -->
  <!-- BEGIN Autoreply -->
  <tr valign="top" class="list1">
    <td align="left" colspan="3" valign="bottom">Nachricht</td>
  </tr>
  <tr valign="top" class="list1">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td align="left">
      <textarea name="fldAutoreplyText" rows="5" cols="70">{fldAutoreply}</textarea>
    </td>
  </tr>
  <tr valign="top" class="list1">
    <td>Textdatei</td>
    <td>&nbsp;</td>
    <td>
      <input type="hidden" name="MAX_FILE_SIZE" value="0" />
      <input name="fldAutoreplyFile" type="file" size="60" />
    </td>
  </tr>
  <tr valign="top" class="list1">
    <td>Weiterleitung an Vertreter</td>
    <td>&nbsp;</td>
    <td>
      <input name="fldVertreter" type="text" size="60" value="{fldVertreter}" />
    </td>
  </tr>
  <!-- END Autoreply -->
</table>
<!-- END Content -->
</body>
</html>
