<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
<!-- BEGIN Content -->
<table cellspacing="1" border="0" cellpadding="2">
  <!-- BEGIN Comment -->
  <tr>
    <td class="listcomment" align="left" height="3" colspan="2">{Comment}</td>
  </tr>
  <!-- END Comment -->
  <tr valign="bottom" class="list1">
    <td colspan="2" align="left">Verschiebe {fldOldMail}</td>
  </tr>
  <tr valign="top" class="list1">
    <td align="left">Neue Adresse</td>
    <td align="left"><input type="text" name="fldNewUid" value="{fldNewUid}" size="30" />&nbsp;
      <select name="fldNewDomain" height="5">
        <!-- BEGIN DomainList -->
        <option value="{fldNewDomain}" {fldnewdomainselected}>@{fldNewDomain}</option>
        <!-- END DomainList -->
      </select>
    </td>
  </tr>
</table>
<!-- END Content -->
</body>
</html>
