<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>pb.WebMAUI - {sTitle}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<!-- BEGIN Content -->
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="border_nw"></td>
    <td class="border_nnw"></td>
    <td width="148" class="border_n"></td>
    <td class="border_nne"></td>
    <td class="border_ne"></td>
  </tr>
  <tr>
    <td class="border_wnw"></td>
    <td bgcolor="#040b51" colspan="3"></td>
    <td class="border_ene"></td>
  </tr>
  <tr>
    <td height="300" class="border_w"></td>
    <td class="menu" bgcolor="#040b51" valign="top" colspan="3">
      <table width="148">
        <tr>
          <td>
            <!-- BEGIN MenuItem -->
            <!-- BEGIN MenuBreak -->
            {MenuBreak}<br />
            <!-- END MenuBreak -->
            <a class="menu" href="{MenuItemURL}">{MenuItemCaption}</a><br />
            <!-- END MenuItem -->
          </td>
        </tr>
      </table>
    </td>
    <td class="border_e"></td>
  </tr>
  <tr>
    <td class="border_wsw"></td>
    <td bgcolor="#040b51" colspan="3"></td>
    <td class="border_ese"></td>
  </tr>
  <tr>
    <td class="border_sw"></td>
    <td class="border_ssw"></td>
    <td class="border_s"></td>
    <td class="border_sse"></td>
    <td class="border_se"></td>
  </tr>
</table>
<!-- END Content -->
</body>
</html>
