html {
	overflow:hidden; /* Hide scrollbars from IE */
	height: 100%;
}

body {
	text-align: left;
	height: 100%;
}

div.border-layout {
	position: relative;
	height: 100%;
}

div.border-layout div.layout-north {
	position: absolute;
	width: 100%;
	height: 2em;
}

div.border-layout div.layout-west, div.border-layout div.layout-east {
	position: absolute;
	width: 200px;
	top: 2em;
	bottom: 2em;
}

div.border-layout div.layout-center {
	position: absolute;
	left: 210px;
	right: 210px;
	top: 2em;
	bottom: 2em;
}

div.border-layout div.layout-east {
	right: 0px;
}

div.border-layout div.layout-south {
	position: absolute;
	width: 100%;
	bottom: 0em;
	height: 2em;
	background: red;
}

div.border-layout div.split-bar {
	position: absolute;
	background: red;
	width: 10px;
	top: 2em;
	bottom: 2em;
	background: url(../images/ofm-split-bar-bg.png) center top repeat-y;
	cursor: e-resize;
}

div.border-layout div.split-bar div.split-bar-handle {
	position: absolute;
	width: 100%;
	left: 0px;
	height: 6%;
	top: 46%;
	background: url(../images/ofm-split-bar-left.png) center center no-repeat;
	cursor: hand;
}

div.border-layout div.split-bar-w-c {
	left: 200px;
}

div.border-layout div.split-bar-c-e {
	right: 200px;
}

div.border-layout div.split-bar-c-e div.split-bar-handle {
	background-image: url(../images/ofm-split-bar-right.png)
}

div.panel {
	height: 100%;
	width: 100%;
}

div.panel div.header {
	height: 2em;
	background: #eee;
	padding: 0em 0.6em;
	overflow: hidden;
}

div.panel div.header h2 {
	float: left;
	line-height: 2em;
	font-weight: bold;

}

div.panel div.header h2.icon {
	padding-left: 30px;
	background: url(../images/phpgw-icon-logo.png) left center no-repeat;
}

div.panel div.header div.button-bar {
	float: right;
	font-weight: bold;
	white-space: nowrap;
}

div.panel div.header div.button-bar a {
	line-height: 2.5em;
	text-decoration: none;
	color: #666;
	margin-left: 1em;
	font-size: 85%;
	padding: 0.1em 0em;
}

div.panel div.header div.button-bar a:hover {
	color: #000;
}

div.panel div.header div.button-bar a.icon {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

div.panel div.body {
	overflow: auto;
	position: absolute;
	top: 2em;
	left: 0em;
	right: 0em;
	padding: 0.6em;
	background: #fff;
	bottom: 0em;
	border-top: 1px solid #000;
}

div.treeview ul ul{
	margin-left: 1em;
}
div.treeview li a {
	text-decoration: none;
}
div.treeview li a.current {
	font-weight: bold;
}

#theme-gray {
	height: 100%;
}

#theme-gray div.panel div.header {
	background: #ddd url(../images/ofm-gard-top.png) top left repeat-x;
}

#theme-gray div.panel div.header h2 {
	color: #666;
}

#theme-gray div.border-layout div.split-bar {
	background-color: #ddd;
}

#theme-gray div.panel div.body {
	border-color: #d0d0d0;
}

#theme-gray div.layout-north div.panel div.header, #theme-gray div.layout-south div.panel div.header {
	background-color: #000;
}
#theme-gray div.layout-north div.panel div.header h2 {
	color: #ccc;
}

#theme-gray div.layout-south div.panel a {
	color: #999;
}
#theme-gray div.layout-south div.panel a:hover {
	color: #fff;
}