.icon-about {
	background-image: url(../images/icons/messagebox_info.png);
}

.icon-help {
	background-image: url(../images/icons/help.png);
}

.icon-preferences {
	background-image: url(../images/icons/identity.png);
}


.icon-logout {
	background-image: url(../images/icons/lock.png);
}