.pe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.25rem;
  border: 2px solid $purple;
  font-weight: 700;
  border-radius: $rounded-large;

  &:first-child:active:focus-visible {
    box-shadow: $box-focus-shadow;
  }

  &:hover,
  &:active {
    border-color: $purple;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border-color: $purple;
    box-shadow: $box-focus-shadow;
  }

  &-primary {
    background: $purple;
    color: $white;

    &:hover,
    &:active {
      background: $white;
      color: $purple;
    }

    &:focus-visible {
      background: $purple;
      color: $white;
    }

  }

  &-secondary {
    color: $purple;
    background: $white;

    &:hover,
    &:active {
      background: $purple;
      color: $white;
    }
    
    &:focus-visible {
      border-color: $purple;
      background: $white;
      color: $purple;
    }
  }
  i.fa-solid {
    font-size: 1.5rem;
  }

  &-colour {
    &-secondary {
      border: 2px solid $blue;

      color: $blue;
      background: $white;

      &:hover,
      &:active {
        background: $blue!important;
        color: $white!important;
        border: 2px solid $blue;
      }

      &:focus-visible {
        border-color: $blue;
        background: $white;
        color: $blue;
      }
    }
  }

  &--small {
    font-size: 0.875rem;
    padding: 0.344rem 1.25rem;
  }

  &--large {
    padding: 0.657rem 1.25rem;
    font-size: 1.125rem;
  }

  &--circle {
    padding: 1rem;
  }

  &:disabled,
  &[disabled] {
    background: $grey-light;
    color: $grey;
    border-color: $grey;
    opacity: 1;
    pointer-events: none;
  }

  &--transparent {
    background-color: transparent;
    border: 0;
    padding: 0.5rem;
    min-width: 2.5rem;
  }

  &--small-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;

    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;

    i {
      display: flex; /* Ensure the icon itself is also flex */
      align-items: center; /* Center vertically */
      justify-content: center; /* Center horizontally */
      width: 100%; /* Make the icon fill the button to center it properly */
      &::before {
        display: inline-block; /* Allows for text-centering within the flex item */
        text-align: center;
        width: 100%; /* Ensures the pseudo-element covers the flex item's area */
      }

    }
    &:hover,
    &:active {
      background: $purple-16;
      color: $purple;
    }

    &:focus-visible {
      border-color: $purple;
      background: $white;
      color: $purple;
    }
    &.pe-btn-secondary {
      color: $black;
      background: $purple-16;

      &:hover,
      &:active {
        background: $purple;
        color: $white;
      }

      &:focus-visible {
        border-color: $purple;
        background: $white;
        color: $purple;
      }
    }

    //&:hover {
    //  background-color: $color-y; /* Color Y on hover */
    //}
  }

}

