.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.25rem;
  border: 2px solid $purple;
  font-weight: 700;
  border-radius: $rounded-large;

  &:hover,
  &:active,
  &:first-child:active {
    border-color: $purple;
  }

  &:focus,
  &:focus-visible {
    border-color: $purple;
    box-shadow: $box-focus-shadow;
  }

  &-primary {
    background: $purple;
    color: $white;

    &:hover,
    &:active,
    &:first-child:active {
      background: $white;
      color: $purple;
    }

    &:focus,
    &:focus-visible{
      background: $purple;
      color: $white;
    }
  }

  &-secondary {
    color: $purple;
    background: $white;

    &:hover,
    &:active,
    &:first-child:active {
      background: $purple;
      color: $white;
    }

    &:focus,
    &:focus-visible {
      border-color: $purple;
      background: $white;
      color: $purple;
    }
  }

  &--small {
    font-size: 0.875rem;
    padding: 0.344rem 1.25rem;
  }

  &--large {
    padding: 0.657rem 1.25rem;
    font-size: 1.125rem;
  }

  &:disabled,
  &[disabled] {
    background: $grey-light;
    color: $grey;
    border-color: $grey;
    opacity: 1;
  }
}