<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
<!-- BEGIN Content -->
<table cellspacing="1" border="0" cellpadding="2">
  <tr valign="top" class="list0">
    <td colspan="2">F&uuml;r den gew&auml;hlten Bereich m&uuml;ssen Sie sich (neu) authentifizieren</td>
  </tr>
  <tr>
    <td align="left" colspan="3" height="3"></td>
  </tr>
  <tr valign="top" class="list0">
    <td>Benutzername</td>
    <td><input type="text" name="fldUser" size="30" alt="Benutzername" />
    </td>
  </tr>
  <tr valign="top" class="list1">
    <td>Passwort</td>
    <td><input type="password" name="fldPassword" size="30" alt="Passwort" />
    </td>
  </tr>
</table>
<!-- END Content -->
</body>
</html>
