/*
* main.css
* Allgemeines Stylesheet
*/

body {
    margin-top: 0;
    font-family:sans-serif,Arial,Helvetica;
    font-size:8t;
    font-weight:normal;
    color:#000000;
    background-color:#FFFFFF;
}

tr,td {
    margin-top: 0;
    font-family:sans-serif,Arial,Helvetica;
    font-size:8pt;
    font-weight:normal;
}

p{
    margin-top:0;
    font-family:sans-serif,Arial,Helvetica;
    font-size:8pt;
    font-weight:normal;
}

table{
    padding-left:4pt;
    padding-right:4pt;
}

tr.title, td.title{
    color: #FFFFFF;
    font-family:sans-serif,Arial,Helvetica;
}

tr.menu, td.menu{
    font-family:sans-serif,Arial,Helvetica;
    color:#FFFFFF;
    background-color:#040B51;
}

tr.workspace, td.workspace{
    font-family:sans-serif,Arial,Helvetica;
    background-color:#E0E0E0;
}

.filter{
    background-color:#EFEFEF;
    font-weight:bold;
}

.caption{
    background-color:#808090;
    color:#FFFFFF;
    font-weight:bold;
}

.listnav{
    background-color:#F0F0FF;
    color:#303030;
    font-weight:bold;
}

.list0{
    background-color:#C0C0D0;
}

.list1{
    background-color:#E0E0F0;
}

.listcomment{
    background-color:#FFFFFF;
    color:#FF0000;
    font-size:10pt;
    font-weight:bold;
}

a.menu:hover{
    background:#4040A0;
}

a.list0:hover{
    background:#E0E0F0;
}

a.list1:hover{
    background:#C0C0D0;
}

a{
    font-family:sans-serif,Arial,Helvetica;
    text-decoration:underline;
}

a.menu{
    font-family:sans-serif,Arial,Helvetica;
    text-decoration:underline;
    color:#FFFFFF;
}

a.caption{
    font-family:sans-serif,Arial,Helvetica;
    text-decoration:none;
    color:#FFFFFF;
}

a.caption:hover{
    font-family:sans-serif,Arial,Helvetica;
    text-decoration:none;
    color:#FFFFFF;
    background:#C0C0D0;
}

h1{
    font-size:20pt;
    margin-bottom:4pt;
}

.border_n   {padding:0; height:6px; background-image: url(image/border_n.png); }
.border_nnw {padding:0; height:6px; width:6px; background-image: url(image/border_nnw.png); }
.border_nw  {padding:0; height:6px; width:6px; background-image: url(image/border_nw.png);}
.border_wnw {padding:0; height:6px; width:6px; background-image: url(image/border_wnw.png); }
.border_w   {padding:0; width:6px; background-image: url(image/border_w.png); }
.border_wsw {padding:0; height:6px; width:6px; background-image: url(image/border_wsw.png); }
.border_sw  {padding:0; height:14px; width:6px; background-image: url(image/border_sw.png); }
.border_ssw {padding:0; height:14px; width:6px; background-image: url(image/border_ssw.png); }
.border_s   {padding:0; height:14px; background-image: url(image/border_s.png); }
.border_sse {padding:0; height:14px; width:6px; background-image: url(image/border_sse.png); }
.border_se  {padding:0; height:14px; background-image: url(image/border_se.png); }
.border_ese {padding:0; height:6px; width:14px; background-image: url(image/border_ese.png); }
.border_e   {padding:0; width:14px; background-image: url(image/border_e.png); }
.border_ene {padding:0; height:6px; width:14px; background-image: url(image/border_ene.png); }
.border_ne  {padding:0; height:6px; width:14px; background-image: url(image/border_ne.png); }
.border_nne {padding:0; height:6px; width:6px; background-image: url(image/border_nne.png); }

