<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
<!-- BEGIN Content -->
<script type="text/javascript"><!--
    btnNormal = new Image();
    btnNormal.src = "/pb.WebMAUI/templates/default/image/btn_delete1a.png";
    btnHighlight = new Image();
    btnHighlight.src = "/pb.WebMAUI/templates/default/image/btn_delete2a.png"; /* erste Highlight-Grafik */
    btnDown = new Image();
    btnDown.src = "/pb.WebMAUI/templates/default/image/btn_delete0a.png"; /* erste Highlight-Grafik */

    function picChange(pic, newpic) {
        pic.src = newpic.src;
    }

    function RUSure(btn, s) { // aRe yoU Sure?
        if (!confirm("Wollen Sie "+s+" löschen?")) {
            btn.form.RUSureResult.value=0;
        }
    }
    //-->
    </script>
<input type="hidden" name="RUSureResult" value="1" />
<table cellspacing="1" border="0" cellpadding="2">
  <tr valign="top" class="list0">
    <td align="left">Name</td>
    <td align="left">&nbsp;</td>
    <td align="left"><input type="text" name="fldName" size="30" value="{fldName}" />
    </td>
  </tr>
  <tr valign="top" class="list1">
    <td align="left">Passwort</td>
    <td align="left">&nbsp;</td>
    <td align="left"><input type="password" name="fldPassword" size="30" />
    </td>
  </tr>
  <tr valign="top" class="list0">
    <td align="left">Passwort wiederholen</td>
    <td align="left">&nbsp;</td>
    <td align="left"><input type="password" name="fldPassword2" size="30" />
    </td>
  </tr>
  <tr>
    <td align="left" colspan="3" height="3"></td>
  </tr>
  <tr valign="bottom" class="list1">
    <td colspan="3" align="left">Mailadressen</td>
  </tr>
  <!-- BEGIN AddressesEdit -->
  <tr valign="top" class="list1">
    <td align="left">&nbsp;</td>
    <td align="left">&nbsp;</td>
    <td align="left"><input type="text" name="fldNewMail" size="30" />
&nbsp;
      <select name="fldNewMaildomain">
        <option value=""></option>
        <option value="{fldNewDomain}" selected="selected">@{fldNewDomain}</option>
      </select>
    </td>
  </tr>
  <!-- END AddressesEdit -->
  <!-- BEGIN AddressesList -->
  <tr valign="top" class="list1">
    <td align="left">&nbsp;</td>
    <td align="left">
      <!-- BEGIN AddressesDelete -->
      <input type="image"
                       name="btnDeleteMail{btnDeleteMailKey}"
                       onmouseover="picChange(this, btnHighlight)"
                       onmouseout="picChange(this, btnNormal)"
                       onmousedown="picChange(this, btnDown)"
                       onclick="RUSure(this,'{fldMail}')"
                       title="Löschen"
                       alt="Löschen"
                       src="/pb.WebMAUI/templates/default/image/btn_delete1a.png" />
      <!-- END AddressesDelete -->
&nbsp; </td>
    <td align="left">
      <input type="hidden" name="fldAliases[]" value="{fldMail}" />
      {fldMail} </td>
  </tr>
  <!-- END AddressesList -->
  <tr>
    <td align="left" colspan="3" height="3"></td>
  </tr>
  <tr valign="top" class="list0">
    <td colspan="3" align="left">Maildrops</td>
  </tr>
  <!-- BEGIN DropsEdit -->
  <tr valign="top" class="list0">
    <td align="left">&nbsp;</td>
    <td align="left">&nbsp;</td>
    <td align="left">
      <select name="fldNewMaildrop">
        <option value="" selected="selected">(Auswählen)</option>
        <!-- BEGIN DropsEditList -->
        <option value="{fldNewMaildrop}">{fldNewMaildrop}</option>
        <!-- END DropsEditList -->
      </select>
    </td>
  </tr>
  <!-- END DropsEdit -->
  <!-- BEGIN DropsList -->
  <tr valign="top" class="list0">
    <td align="left">&nbsp;</td>
    <td align="left">
      <!-- BEGIN DropsDelete -->
      <input type="image"
                       name="btnDeleteMaildrop_{fldMaildropIdx}"
                       onmouseover="picChange(this, btnHighlight)"
                       onmouseout="picChange(this, btnNormal)"
                       onmousedown="picChange(this, btnDown)"
                       title="Löschen"
                       alt="Löschen"
                       src="/pb.WebMAUI/templates/default/image/btn_delete1a.png" />
      <!-- END DropsDelete -->
&nbsp; </td>
    <td align="left">{fldMaildrop}</td>
  </tr>
  <!-- END DropsList -->
  <tr>
    <td align="left" colspan="3" height="3"></td>
  </tr>
  <tr valign="top" class="list1">
    <td align="left">Accesslevel</td>
    <td align="left">&nbsp;</td>
    <td align="left">
      <select name="fldAccesslevel">
        <!-- BEGIN AccesslevelOptions -->
        <option value="{AccesslevelValue}" {accesslevelselected}>{AccesslevelOption}</option>
        <!-- END AccesslevelOptions -->
      </select>
    </td>
  </tr>
  <tr>
    <td align="left" colspan="3" height="3"></td>
  </tr>
  <!-- BEGIN CommentList -->
  <tr valign="top" class="list0">
    <td align="left">Kommentar</td>
    <td align="left">&nbsp;</td>
    <td align="left">{fldComment}</td>
  </tr>
  <!-- END CommentList -->
  <!-- BEGIN CommentEdit -->
  <tr valign="top" class="list0">
    <td align="left">Kommentar</td>
    <td align="left">&nbsp;</td>
    <td align="left">
      <textarea name="fldComment" rows="5" cols="70">{fldCommentEdit}</textarea>
    </td>
  </tr>
  <!-- END CommentEdit -->
  <!-- BEGIN Changes -->
  <tr>
    <td align="left" colspan="3" height="3"></td>
  </tr>
  <tr valign="top" class="list1">
    <td colspan="3" align="left">Letzte Änderungen</td>
  </tr>
  <!-- BEGIN ChangesList -->
  <tr valign="top" class="list1">
    <td align="left">&nbsp;</td>
    <td align="left">&nbsp;</td>
    <td align="left">{fldChanges}</td>
  </tr>
  <!-- END ChangesList -->
  <!-- END Changes -->
</table>
<!-- END Content -->
</body>
</html>
