<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<!-- BEGIN Content -->
<script type="text/javascript"><!--
    btnNormal = new Image();
    btnNormal.src = "/pb.WebMAUI/templates/default/image/btn_delete.png";
    btnHighlight = new Image();
    btnHighlight.src = "/pb.WebMAUI/templates/default/image/btn_delete.png"; /* erste Highlight-Grafik */
    btnDown = new Image();
    btnDown.src = "/pb.WebMAUI/templates/default/image/btn_delete.png"; /* erste Highlight-Grafik */

    function picChange(pic, newpic) {
        pic.src = newpic.src;
    }

    function RUSure(btn, s) { // aRe yoU Sure?
        if (!confirm("Wollen Sie "+s+" löschen?")) {
            btn.form.RUSureResult.value=0;
        }
    }
    //-->
    </script>
<input type="hidden" name="RUSureResult" value="1" />
<table cellspacing="1" border="0" cellpadding="2" align="right">
  <tr>
    <td>
      <input type="text" name="fldFilter" value="{fldFilter}" size="30" />
      <input type="submit" name="btnSearch" value="suchen" />
    </td>
  </tr>
</table>
</td>
</tr>
<tr>
  <td>
    <table class="basic" cellspacing="2" style="margin-bottom: 20px; border: 2px solid #FFFFFF" cellpadding="2">
      <tr class="header">
        <td width="40%">
        	{l_distributor}
        </td>
        <td colspan="2">
        	{l_mail_account}
        </td>
      </tr>
      <!-- BEGIN Drop -->
      <tr>
        <td class="bg_color1">
        	<a href="{LinkDrop}">{Drop}</a>
        </td>
        <td class="bg_color2">
          <!-- BEGIN Address -->
          {Address}<br />
          <!-- END Address -->
        </td>
        <td class="bg_color1" style="width: 24px">
          <input type="image" 
                 name="btnDelete{btnDeleteKey}"
                 title="{l_delete}"
                 alt="{l_delete}"
                 src="{imgDir}/images/btn_delete.png"
          />
        </td>
      </tr>
      <!-- END Drop -->
    </table>
    <!--
        </TD></TR>
    </TABLE>
-->
    <!-- END Content -->
  </td>
</tr>
</body>
</html>
