<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Untitled Document</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
    <!-- BEGIN Content -->
    <script type="text/javascript"><!--
    btnNormal = new Image();
    btnNormal.src = "/pb.WebMAUI/templates/default/image/btn_delete1a.png";
    btnHighlight = new Image();
    btnHighlight.src = "/pb.WebMAUI/templates/default/image/btn_delete2a.png"; /* erste Highlight-Grafik */
    btnDown = new Image();
    btnDown.src = "/pb.WebMAUI/templates/default/image/btn_delete0a.png"; /* erste Highlight-Grafik */

    function picChange(pic, newpic) {
        pic.src = newpic.src;
    }

    function RUSure(btn, s) { // aRe yoU Sure?
        if (!confirm("Wollen Sie \""+s+"\" löschen?")) {
            btn.form.RUSureResult.value=0;
        }
    }
    //-->
    </script>
    <input type="hidden" name="RUSureResult" value="1" />

    <table width="100%" cellspacing="1" border="0" cellpadding="2" align="left">
        <tr class="filter">
            <td align="right">
                <input class="field" type="text" name="fldFilter" value="{fldFilter}" size="30" />
                <input type="submit" name="btnSearch" value="suchen" />
            </td>
        </tr>
    </table>
    </tr></td>
<tr><td>
    <table width="100%" cellspacing="1" border="0" cellpadding="2" align="left">
        <tr class="caption" valign="top">
            <td width="100%"><b>Domain</b></td>
            <td></td>
        </tr>
        <!-- BEGIN Domain -->
        <tr  class="{ListClass}" valign="top">
            <td><a class="{ListClass}" href="{LinkDomain}">{Domain}</a></td>
            <td>
                <!-- BEGIN DeleteDomain -->
                <input type="image"
                       name="btnDelete{btnDeleteKey}"
                       onmouseover="picChange(this, btnHighlight)"
                       onmouseout="picChange(this, btnNormal)"
                       onmousedown="picChange(this, btnDown)"
                       onclick="RUSure(this,'{Domain}')"
                       title="Löschen"
                       alt="Löschen"
                       src="/pb.WebMAUI/templates/default/image/btn_delete1a.png" />
                <!-- END DeleteDomain -->
            </td>
        </tr>
        <!-- END Domain -->
    </table>
    <!-- END Content -->
</td>
</tr>
</body>
</html>
