h1:before
{
    content: counter(chapter) ". ";
    counter-increment: chapter;  /* Add 1 to chapter */
    counter-reset: section;      /* Set section to 0 */
}

h2:before
{
    content: counter(chapter) "." counter(section) " ";
    counter-increment: section;
}

h4
{
	color: #537991;
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 0px;
}

pre
{
	background-color: #ccc;
	border: 1px solid #333;
	display: block;
	font-weight: bold;
	padding: 10px;
}

a.heading 
{
	text-decoration: none;
}

ol
{
        counter-reset: item;
}

ol > li
{
        display: block;
}

ol > li:before
{
        content: counters(item, ".") " ";
        counter-increment: item;
}

blockquote
{
        text-align: center; 
        font-style: italic;
}
