.DS_Store
/header.inc.php
/.cache
/.settings
/.project
/.vscode
/.vscode/launch.json
/.nbproject
/nbproject
/vendor
/phpgwapi/test/_output
.vscode/launch.json
/property/test_ad_bruker.php
compose.yml
.idea
composer.lock
PorticoEstate.iml
/docker-compose.override.yml
/tmp/
/bookingfrontend/js/bookingfrontend_2/node_modules/
