.DS_Store
/header.inc.php
/.cache
/.settings
/.project
/.vscode
/.vscode/launch.json
/.nbproject
/nbproject
/vendor
/phpgwapi/test/_output
.vscode/launch.json
/.idea/
/phpgwapi/doc/ebe_20201217.backup
/ebe_20201217.backup
