.colorbox {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  flex: none;

  &--large {
    height: 80px;
    width: 80px;
  }
}

$media-small: 576px;
$media-medium: 768px;
$media-large: 992px;
$media-xlarge: 1200px;
$media-xxlarge: 1400px;