.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.row {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.colorbox {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  flex: none;
}
.colorbox--large {
  height: 80px;
  width: 80px;
}

.text-purple {
  color: #793C8A;
}

.bg-purple {
  background-color: #793C8A;
}

.bgo-purple-80 {
  background-color: rgba(121, 60, 138, 0.8);
}

.bgo-purple-64 {
  background-color: rgba(121, 60, 138, 0.64);
}

.bgo-purple-56 {
  background-color: rgba(121, 60, 138, 0.56);
}

.bgo-purple-40 {
  background-color: rgba(121, 60, 138, 0.4);
}

.bgo-purple-24 {
  background-color: rgba(121, 60, 138, 0.24);
}

.bgo-purple-16 {
  background-color: rgba(121, 60, 138, 0.16);
}

.bgo-purple-8 {
  background-color: rgba(121, 60, 138, 0.08);
}

.bgo-purple-4 {
  background-color: rgba(121, 60, 138, 0.04);
}

.bg-purple-80 {
  background-color: #9463a1;
}

.bg-purple-64 {
  background-color: #a982b4;
}

.bg-purple-56 {
  background-color: #b492bd;
}

.bg-purple-40 {
  background-color: #c9b1d0;
}

.bg-purple-24 {
  background-color: #dfd0e3;
}

.bg-purple-16 {
  background-color: #e9e0ec;
}

.bg-purple-8 {
  background-color: #f4f0f6;
}

.bg-purple-4 {
  background-color: #faf7fa;
}

.text-blue {
  color: #28358B;
}

.bg-blue {
  background-color: #28358B;
}

.bgo-blue-80 {
  background-color: rgba(40, 53, 139, 0.8);
}

.bgo-blue-64 {
  background-color: rgba(40, 53, 139, 0.64);
}

.bgo-blue-56 {
  background-color: rgba(40, 53, 139, 0.56);
}

.bgo-blue-40 {
  background-color: rgba(40, 53, 139, 0.4);
}

.bgo-blue-24 {
  background-color: rgba(40, 53, 139, 0.24);
}

.bgo-blue-16 {
  background-color: rgba(40, 53, 139, 0.16);
}

.bgo-blue-8 {
  background-color: rgba(40, 53, 139, 0.08);
}

.bgo-blue-4 {
  background-color: rgba(40, 53, 139, 0.04);
}

.bg-blue-80 {
  background-color: #535da2;
}

.bg-blue-64 {
  background-color: #767eb5;
}

.bg-blue-56 {
  background-color: #868ebe;
}

.bg-blue-40 {
  background-color: #a9aed1;
}

.bg-blue-24 {
  background-color: #cccfe3;
}

.bg-blue-16 {
  background-color: #dcdfec;
}

.bg-blue-8 {
  background-color: #eeeff6;
}

.bg-blue-4 {
  background-color: #f7f7fa;
}

.text-black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.bgo-black-80 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bgo-black-64 {
  background-color: rgba(0, 0, 0, 0.64);
}

.bgo-black-56 {
  background-color: rgba(0, 0, 0, 0.56);
}

.bgo-black-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bgo-black-24 {
  background-color: rgba(0, 0, 0, 0.24);
}

.bgo-black-16 {
  background-color: rgba(0, 0, 0, 0.16);
}

.bgo-black-8 {
  background-color: rgba(0, 0, 0, 0.08);
}

.bgo-black-4 {
  background-color: rgba(0, 0, 0, 0.04);
}

.bg-black-80 {
  background-color: #333333;
}

.bg-black-64 {
  background-color: #5c5c5c;
}

.bg-black-56 {
  background-color: #707070;
}

.bg-black-40 {
  background-color: #999999;
}

.bg-black-24 {
  background-color: #c2c2c2;
}

.bg-black-16 {
  background-color: #d6d6d6;
}

.bg-black-8 {
  background-color: #ebebeb;
}

.bg-black-4 {
  background-color: #f5f5f5;
}

.text-beige-dark {
  color: #E6E3DB;
}

.bg-beige-dark {
  background-color: #E6E3DB;
}

.bgo-beige-dark-80 {
  background-color: rgba(230, 227, 219, 0.8);
}

.bgo-beige-dark-64 {
  background-color: rgba(230, 227, 219, 0.64);
}

.bgo-beige-dark-56 {
  background-color: rgba(230, 227, 219, 0.56);
}

.bgo-beige-dark-40 {
  background-color: rgba(230, 227, 219, 0.4);
}

.bgo-beige-dark-24 {
  background-color: rgba(230, 227, 219, 0.24);
}

.bgo-beige-dark-16 {
  background-color: rgba(230, 227, 219, 0.16);
}

.bgo-beige-dark-8 {
  background-color: rgba(230, 227, 219, 0.08);
}

.bgo-beige-dark-4 {
  background-color: rgba(230, 227, 219, 0.04);
}

.bg-beige-dark-80 {
  background-color: #ebe9e2;
}

.bg-beige-dark-64 {
  background-color: #efede8;
}

.bg-beige-dark-56 {
  background-color: #f1efeb;
}

.bg-beige-dark-40 {
  background-color: #f5f4f1;
}

.bg-beige-dark-24 {
  background-color: #f9f8f6;
}

.bg-beige-dark-16 {
  background-color: #fbfaf9;
}

.bg-beige-dark-8 {
  background-color: #fdfdfc;
}

.bg-beige-dark-4 {
  background-color: #fefefe;
}

.text-beige {
  color: #F7F5F0;
}

.bg-beige {
  background-color: #F7F5F0;
}

.bgo-beige-80 {
  background-color: rgba(247, 245, 240, 0.8);
}

.bgo-beige-64 {
  background-color: rgba(247, 245, 240, 0.64);
}

.bgo-beige-56 {
  background-color: rgba(247, 245, 240, 0.56);
}

.bgo-beige-40 {
  background-color: rgba(247, 245, 240, 0.4);
}

.bgo-beige-24 {
  background-color: rgba(247, 245, 240, 0.24);
}

.bgo-beige-16 {
  background-color: rgba(247, 245, 240, 0.16);
}

.bgo-beige-8 {
  background-color: rgba(247, 245, 240, 0.08);
}

.bgo-beige-4 {
  background-color: rgba(247, 245, 240, 0.04);
}

.bg-beige-80 {
  background-color: #f9f7f3;
}

.bg-beige-64 {
  background-color: #faf9f5;
}

.bg-beige-56 {
  background-color: #fbf9f7;
}

.bg-beige-40 {
  background-color: #fcfbf9;
}

.bg-beige-24 {
  background-color: #fdfdfb;
}

.bg-beige-16 {
  background-color: #fefdfd;
}

.bg-beige-8 {
  background-color: #fefefe;
}

.bg-beige-4 {
  background-color: #fffffe;
}

.text-grey {
  color: #D6D6D6;
}

.bg-grey {
  background-color: #D6D6D6;
}

.bgo-grey-80 {
  background-color: rgba(214, 214, 214, 0.8);
}

.bgo-grey-64 {
  background-color: rgba(214, 214, 214, 0.64);
}

.bgo-grey-56 {
  background-color: rgba(214, 214, 214, 0.56);
}

.bgo-grey-40 {
  background-color: rgba(214, 214, 214, 0.4);
}

.bgo-grey-24 {
  background-color: rgba(214, 214, 214, 0.24);
}

.bgo-grey-16 {
  background-color: rgba(214, 214, 214, 0.16);
}

.bgo-grey-8 {
  background-color: rgba(214, 214, 214, 0.08);
}

.bgo-grey-4 {
  background-color: rgba(214, 214, 214, 0.04);
}

.bg-grey-80 {
  background-color: #dedede;
}

.bg-grey-64 {
  background-color: #e5e5e5;
}

.bg-grey-56 {
  background-color: #e8e8e8;
}

.bg-grey-40 {
  background-color: #efefef;
}

.bg-grey-24 {
  background-color: #f5f5f5;
}

.bg-grey-16 {
  background-color: #f8f8f8;
}

.bg-grey-8 {
  background-color: #fcfcfc;
}

.bg-grey-4 {
  background-color: #fdfdfd;
}

.text-grey-light {
  color: #F5F5F5;
}

.bg-grey-light {
  background-color: #F5F5F5;
}

.bgo-grey-light-80 {
  background-color: rgba(245, 245, 245, 0.8);
}

.bgo-grey-light-64 {
  background-color: rgba(245, 245, 245, 0.64);
}

.bgo-grey-light-56 {
  background-color: rgba(245, 245, 245, 0.56);
}

.bgo-grey-light-40 {
  background-color: rgba(245, 245, 245, 0.4);
}

.bgo-grey-light-24 {
  background-color: rgba(245, 245, 245, 0.24);
}

.bgo-grey-light-16 {
  background-color: rgba(245, 245, 245, 0.16);
}

.bgo-grey-light-8 {
  background-color: rgba(245, 245, 245, 0.08);
}

.bgo-grey-light-4 {
  background-color: rgba(245, 245, 245, 0.04);
}

.bg-grey-light-80 {
  background-color: #f7f7f7;
}

.bg-grey-light-64 {
  background-color: #f9f9f9;
}

.bg-grey-light-56 {
  background-color: #f9f9f9;
}

.bg-grey-light-40 {
  background-color: #fbfbfb;
}

.bg-grey-light-24 {
  background-color: #fdfdfd;
}

.bg-grey-light-16 {
  background-color: #fdfdfd;
}

.bg-grey-light-8 {
  background-color: #fefefe;
}

.bg-grey-light-4 {
  background-color: #ffffff;
}

.text-white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.bgo-white-80 {
  background-color: rgba(255, 255, 255, 0.8);
}

.bgo-white-64 {
  background-color: rgba(255, 255, 255, 0.64);
}

.bgo-white-56 {
  background-color: rgba(255, 255, 255, 0.56);
}

.bgo-white-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.bgo-white-24 {
  background-color: rgba(255, 255, 255, 0.24);
}

.bgo-white-16 {
  background-color: rgba(255, 255, 255, 0.16);
}

.bgo-white-8 {
  background-color: rgba(255, 255, 255, 0.08);
}

.bgo-white-4 {
  background-color: rgba(255, 255, 255, 0.04);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.75rem;
}

h1, .h1 {
  font-size: 2.25rem;
  line-height: 4rem;
  margin-top: 0;
  font-weight: 700;
}

h2, .h2 {
  font-size: 1.75rem;
  line-height: 3rem;
  font-weight: 700;
}

h3, .h3 {
  font-size: 1.375rem;
  line-height: 3rem;
  font-weight: 700;
}

h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.text {
  /* TEXT SIZE */
  /* TEXT STYLE */
}
.text-body {
  font-size: 1rem;
  line-height: 1.75rem;
}
.text-lg {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.375rem;
  line-height: 3rem;
}
.text-2xl {
  font-size: 1.75rem;
  line-height: 3rem;
}
.text-3xl {
  font-size: 2.25rem;
  line-height: 4rem;
}
.text-4xl {
  font-size: 3.5rem;
  line-height: 4.5rem;
}
.text-bold {
  font-weight: 700;
}

.box-shadow {
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
}

.rounded-mini {
  border-radius: 0.5rem;
}
.rounded-small {
  border-radius: 1rem;
}
.rounded-medium {
  border-radius: 2rem;
}
.rounded-medium-bottom {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.rounded-large {
  border-radius: 3.125rem;
}
.rounded-large-bottom {
  border-bottom-left-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  border: 2px solid #793C8A;
  font-weight: 700;
  line-height: 1.15;
  border-radius: 3.125rem;
}
.btn:hover, .btn:active, .btn:first-child:active, .btn:focus, .btn:focus-visible {
  border-color: #793C8A;
}
.btn:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
}
.btn-primary {
  background: #793C8A;
  color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:first-child:active, .btn-primary:focus, .btn-primary:focus-visible {
  background: #FFFFFF;
  color: #793C8A;
}
.btn-secondary {
  color: #793C8A;
  background: #FFFFFF;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:first-child:active, .btn-secondary:focus, .btn-secondary:focus-visible {
  background: #793C8A;
  color: #FFFFFF;
}
.btn--small {
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
}
.btn--large {
  font-size: 1.125rem;
}
.btn:disabled, .btn[disabled] {
  background: #F5F5F5;
  color: #D6D6D6;
  border-color: #D6D6D6;
  opacity: 1;
}

a, a:link, a:visited {
  color: #000000;
  text-decoration: underline;
}
a:hover, a:focus, a:active {
  color: #793C8A;
}
a.arrow::after {
  content: url(gfx/arrow.svg);
  padding-left: 0.5rem;
}
a.link-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  padding: 1.25rem 2rem;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #F5F5F5;
  position: relative;
  text-decoration: none;
  color: #000000;
  border-radius: 3.125rem;
}
a.link-button::after {
  content: "\f054";
  padding-left: 1rem;
  font-size: 1em;
  color: #793C8A;
  font-family: "Font Awesome 5 Free";
}
a.link-button::before {
  content: "";
  border: 1px solid transparent;
  position: absolute;
  display: block;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 3.125rem;
}
a.link-button:hover {
  border-color: #793C8A;
  color: #000000;
}
a.link-button:hover::before {
  border-color: #793C8A;
}

.choice {
  position: relative;
  cursor: pointer;
  padding-left: 2.5rem;
}
.choice input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.choice input:focus-visible ~ .choice__radio, .choice input:focus-visible ~ .choice__check {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
}
.choice:hover .choice__radio, .choice:hover .choice__check {
  background-color: #793C8A;
}
.choice__radio, .choice__check {
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 1;
}
.choice__radio {
  border: 2px solid #000000;
  border-radius: 3.125rem;
}
.choice input:checked ~ .choice__radio::after {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #000000;
  z-index: 2;
  border-radius: 3.125rem;
}
.choice__check {
  border: 1px solid #D6D6D6;
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.choice input:checked ~ .choice__check {
  background-color: #793C8A;
}
.choice input:checked ~ .choice__check::after {
  content: url(gfx/checkmark-white.svg);
  position: absolute;
  color: #FFFFFF;
  z-index: 2;
  font-size: 1em;
}

.select-v2.select2-container--focus {
  border: 0;
  outline: none;
}
.select-v2.select2-container--focus:focus-visible,
.select-v2.select2-container--focus .select2-selection--multiple {
  box-shadow: 3px 3px 50px 0px rgba(0, 0, 0, 0.5);
}
.select-v2.select2-container--open .select2-selection--single,
.select-v2.select2-container--open .select2-selection--multiple {
  border-radius: 2rem;
}
.select-v2 .select2-selection--single,
.select-v2 .select2-selection--multiple {
  padding: 0.5rem 3rem 0.5rem 1.5rem;
  font-size: 0.875rem;
  border: 1px solid #D6D6D6;
  box-shadow: 3px 3px 50px 0px rgba(0, 0, 0, 0.1);
  height: auto;
  border-radius: 3.125rem;
  background-color: #FFFFFF;
}
.select-v2 .select2-selection--single:focus-visible,
.select-v2 .select2-selection--multiple:focus-visible {
  outline: none;
  box-shadow: 3px 3px 50px 0px rgba(0, 0, 0, 0.5);
}
.select-v2 .select2-selection--single::after,
.select-v2 .select2-selection--multiple::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  transform: rotate(0);
  transition: all 0.3s;
  font-size: 1rem;
  color: #000000;
}
@media (min-width: 576px) {
  .select-v2 .select2-selection--single::after,
.select-v2 .select2-selection--multiple::after {
    right: 2rem;
  }
}
.select-v2 .select2-selection--single .select2-selection__rendered,
.select-v2 .select2-selection--multiple .select2-selection__rendered {
  padding: 0;
}
.select-v2 .select2-selection--single .select2-selection__arrow,
.select-v2 .select2-selection--multiple .select2-selection__arrow {
  height: auto;
  width: auto;
  position: absolute;
}
.select-v2 .select2-selection--single .select2-selection__arrow b,
.select-v2 .select2-selection--multiple .select2-selection__arrow b {
  display: none;
}
.select-v2 .select2-selection--single .select2-selection__choice,
.select-v2 .select2-selection--multiple .select2-selection__choice {
  background-color: #FFFFFF;
  border: 0;
  margin: 0 0.5rem 0 0;
}
.select-v2.select2-container--focus .select2-selection--multiple {
  border-color: #D6D6D6;
}
.select-v2.select2-container--open .select2-selection--single {
  border-bottom: 0;
}
.select-v2.select2-container--open .select2-selection__arrow::after {
  transform: rotate(-180deg);
}
.select-v2.select2-container--open .select2-dropdown--above {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.select-v2 .select2-dropdown {
  padding: 1rem 2rem 1rem 1.5rem;
  font-size: 0.875rem;
  border: 1px solid #D6D6D6;
  border-top: 0;
}
.select-v2 .select2-dropdown--below {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.select-v2 .select2-dropdown .select2-search--dropdown {
  padding: 0 0 1rem 0;
}
.select-v2 .select2-dropdown .select2-search__field {
  padding: 0.75rem 1rem;
  border: 1px solid #D6D6D6;
}
.select-v2 .select2-dropdown .select2-search__field:focus-visible {
  outline: 0;
  box-shadow: 0 0 1px 1px rgb(0, 0, 0);
}
.select-v2 .select2-dropdown .select2-results__option {
  padding: 0.75rem 1rem;
}
.select-v2 .select2-dropdown .select2-results__option[aria-selected=true] {
  background-color: #F5F5F5;
}
.select-v2 .select2-dropdown .select2-results__option--highlighted[aria-selected] {
  background-color: #868ebe;
}/*# sourceMappingURL=main.css.map */