body {
	
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	x font-size: 25px;
}

p {
	font-family: "Arial";
	font-size: 12px;
}

p.sign {
	font-family: "Arial";
	font-size: 12px;
	border-top: solid 1px;
	text-align: center;
	width: 250px;
	margin-top: 40px;
}

dl {
	font-family: "Arial";
	font-size: 12px;
	width: 100%;
}

dl.left_column {
	position: relative;
	float: left;
	border: none;
	width: 40%;
}

dl.right_column {
	position: relative;
	float: right;
	border: none;
	width: 50%;
}

dt {
	float: left;
	clear: left;
	text-align: left;
	font-weight: bold;
}

dt.section_header {
	float: left;
	clear: left;
	text-align: left;
	font-weight: bold;
}

dd {
	margin: 0 0 0 120px;
	padding: 0 0 0.5em 0;
}

.checkbox_list dd {
	margin: 0 0 0 50px;
	padding: 0 0 0.5em 0;
}

.section_header dd {
	margin: 10px 0 5px 50px;
	padding: 0 0 0 0;
	font-weight: bold;
}

div.contract {
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px;
}

div.two_column {
	float: left;
	border: 2px solid;
	width: 100%;
	margin-bottom: 20px;
	padding: 5px 5px 5px 5px;
}

div.one_column {
	float: left;
	border: 2px solid;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
}

div.left {
	float: left;
	width: 40%;
}

div.right {
	float: left;
	width: 40%;
}

span.checkbox_bg {
	background-color: #ddffcc;
}

table {
	width: 100%;
	font-size: 12px;
	font-family: arial;
}

table.header {
	width: 100%;
	font-size: 12px;
	font-family: arial;
	border: 2px solid;
}

th {
	background-color: #C0C0C0;
	padding: 4px 4px 4px 4px;
}

td {
	padding: 4px 4px 4px 4px;
}

textarea {
	width: 100%;
	background-color: #ddffcc;
	margin-bottom: 10px;
}

input[type=text] {
	width: 300px;
	background-color: #ddffcc;
}

input[type=text].date {
	width: 30px;
	background-color: #ddffcc;
}

input[type=submit] {
	float: left;
	margin: 30px 10px 10px 0 ;
	
}
