#content {
    margin: 2em 1em;
}
.clr { clear: both;}

#inactive {
				background-color: #ff5555;
				width: 10em;
				padding: 1em;
				border: 0.2em dotted #000000;
				letter-spacing: 2px;
}
#active {
				background-color: #ffffff;
				width: 10em;
				padding: 1em;
				border: 0em dotted #000000;
				letter-spacing: 2px;
}

#inactivate-button {
				border: 1px solid #000000;
				margin-top: 1em;
				padding: 0.1em;
				background-color: #ffffff;
				}

#activate-button {
				border: 1px solid #000000;
				margin-top: 1em;
				padding: 0.1em;
				background-color: #ffffff;
				}

ul.pathway {
    font-weight: bolder;
    margin: 1em 0;
    font-size: 110%;
}
ul.pathway li a { color: #000; text-decoration: none;}
ul.pathway li a:hover { color: #008; }
ul.pathway li { 
    display: inline;
    background: url(../images/pathwaysep.png) no-repeat 0% 50%;
    padding-left: 16px;
}
ul.pathway li:first-child { background: none; padding-left: 0;}

dl.form, dl.form-col, dl.form-2col {
    margin: 1em 1em 1em 0;
	padding-right: 1em;
}

dl.form dt, dl.form-col dt, dl.form-2col dt {
    font-style: italic;
    font-weight: bolder;
    margin: .5em 0 .1em 0;
    color: #002;
}

dl.form dt p, dl.form-col dt p, dl.form-2col dt p, dl.form-col p {
    font-style: normal;
    font-weight: normal;
	font-size: smaller;
    color: #002;
}
dl.form dd textarea,
dl.form-col dd textarea {
    width: 15em;
    height: 6em;
}
dl.form-2col dd textarea {
    width: 36em;
    height: 6em;
}
dl.form dd textarea.full-width,
dl.form-col dd textarea.full-width {
    width: 33em;
    height: 10em;
}
dl.form dd textarea.threecol-width,
dl.form-col dd textarea.threecol-width {
    width: 58em;
    height: 5em;
}
dl.form dd input[type="text"],  dl.form dd .autocomplete,
dl.form-col dd input[type="text"],  dl.form-col dd .autocomplete {
    width: 15em;
}
dl.form dd .autocomplete,
dl.form-col dd .autocomplete,
dl.form-2col dd .autocomplete {
    padding-bottom: 2em;
}

div.autocomplete {
	position: relative;
}
/* ie fix. autocomplete dropdown is displayed behind some elements if the z-index is not set */
div.autocomplete input {
	z-index: 500;
}
/* ie fix. autocomplete dropdown is displayed behind some elements if the z-index is not set */
#building_container ul {
	z-index: 1000;
}

dl.form dt.heading, dl.form-col dt.heading, dl.form-2col dt.heading, div.heading,
dl.proplist dt.heading, dl.proplist-col dt.heading {
    color: #448;
    font-weight: normal;
    font-size: 110%;
    margin-top: 1.4em;
    margin-bottom: .6em;
    border-bottom: 1px solid #aaa;
}

dl.proplist { clear: both;}
dl.proplist,
dl.proplist-col {
    margin: 1em 0;
    padding-right: .5em;
}
dl.proplist dt,
dl.proplist-col dt { 
    font-style: italic; 
    font-weight: bolder; 
    font-size: 90%; 
    margin: .8em 0 .1em 0;
}

dl.proplist-col,
dl.form-col {
    width: 18em;
    float: left;
}

dl.form-2col {
    width: 38em;
    float: left;
}
.form-buttons {
    clear: both;
    padding-top: 2em;
}
.form-buttons button {
    margin-right: .5em;
}
.form-buttons .cancel {
    margin-left: .6em;
}

.date-picker .container,
.datetime-picker .container { 
    display:none; 
    position:absolute; z-index:1;
}
#toolbar {
    width: 100%;
    background-color: #eee;
    border: 1px solid #bbb;
    margin-bottom: 1em;
    padding: .3em;
}
#toolbar input[type="text"] {
    vertical-align: text-bottom;
    font-size: 120%;
    margin: auto .25em;
}

#list_actions {
   margin-top: 0.5em;
}

dl.proplist dd.address,
dl.proplist-col dd.address {
    white-space: pre;
}
#week-selector { margin: 1em 0;}
#week-selector li { display: inline; padding-right: .5em;}

#schedule_container tr td { border-top: 1px solid #ccc; background: white; white-space: nowrap; }
#schedule_container tr td:first-child { background: #eee; }
#schedule_container tr.time td { border-top: 1px solid #444;}
#schedule_container .color1  { background-color: #ccccff;}
#schedule_container .color2  { background-color: #ccffcc;}
#schedule_container .color3  { background-color: #ffcccc;}
#schedule_container .color4  { background-color: #ffffbb;}
#schedule_container .color5  { background-color: #bbffff;}
#schedule_container .color6  { background-color: #ffbbff;}
#schedule_container .color7  { background-color: #de6d6d;} /* indianred */
#schedule_container .color8  { background-color: #f0f0f0;} /* gray */
#schedule_container .color9  { background-color: #6495ed;} /* cornflowerblue */
#schedule_container .color10 { background-color: #90ee90;} /* lightgreen */
#schedule_container .color11 { background-color: #eee8aa;} /* palegoldenrod */
#schedule_container .color12 { background-color: #afeeee;} /* paleturquoise */
#schedule_container .color13 { background-color: #ffb6c1;} /* lightpink */
#schedule_container .color14 { background-color: #f0e68c;} /* khaki */
#schedule_container .color15 { background-color: #66cdaa;} /* mediumaquamarine */
#schedule_container .color16 { background-color: #ffe4c4;} /* bisque */
#schedule_container .color17 { background-color: #ffa500;} /* orange */
#schedule_container .color18 { background-color: #bdb76b;} /* darkkhaki */
#schedule_container .color19 { background-color: #32cd32;} /* limegreen */
#schedule_container .color20 { background-color: #ffe4b5;} /* moccasin */
#schedule_container .color21 { background-color: #ff4040;} 
#schedule_container .color22 { background-color: #ee3b3b;} 
#schedule_container .color23 { background-color: #cd3333;} 
#schedule_container .color24 { background-color: #8b2323;} 
#schedule_container .color25 { background-color: #deb887;} 
#schedule_container .color26 { background-color: #ffd39b;} 
#schedule_container .color27 { background-color: #eec591;} 
#schedule_container .color28 { background-color: #5f9ea0;} 
#schedule_container .color29 { background-color: #98f5ff;} 
#schedule_container .color30 { background-color: #8ee5ee;} 
#schedule_container .color31 { background-color: #53868b;} 
#schedule_container .color32 { background-color: #66cd00;} 
#schedule_container .color33 { background-color: #458b00;} 
#schedule_container .color34 { background-color: #d2691e;} 
#schedule_container .color35 { background-color: #ff7f24;} 
#schedule_container .color36 { background-color: #8b4513;} 
#schedule_container .color37 { background-color: #ff7256;} 
#schedule_container .color38 { background-color: #ffb90f;} 
#schedule_container .color39 { background-color: #cd950c;} 
#schedule_container .color40 { background-color: #8fbc8f;} 
#schedule_container .color41 { background-color: #8b0000;} 
#schedule_container .color42 { background-color: #c1ffc1;} 
#schedule_container .color43 { background-color: #b4eeb4;} 
#schedule_container .color44 { background-color: #9bcd9b;} 
#schedule_container .color45 { background-color: #698b69;} 
#schedule_container .color46 { background-color: #433d8b;} 
#schedule_container .color47 { background-color: #ee1289;} 
#schedule_container .color48 { background-color: #cd1076;} 
#schedule_container .color49 { background-color: #8b0a50;} 
#schedule_container .color50 { background-color: #ccc} 
#schedule_container .color51 { background-color: #ddd;} 
#schedule_container .color52 { background-color: #eee;} 
#schedule_container .color53 { background-color: #333;} 
#schedule_container .color54 { background-color: #444;} 
#schedule_container .color55 { background-color: #555;} 
#schedule_container .color56 { background-color: #666;} 
#schedule_container .color57 { background-color: #777;} 
#schedule_container .color58 { background-color: #888;} 
#schedule_container .color59 { background-color: #999;} 
#schedule_container .color60 { background-color: #aaa;} 

.color23, .color24, .color36, .color41, .color25, .color46, .color49, .color53, .color54, .color55 { color: white; }

#boundary-table td, #boundary-table th { 
    padding: .1em .2em;
}

.date-container {
    margin-bottom: .8em;
    white-space: nowrap;
}

.date-container .close-btn {
    display: block;
    float: right;
    border: none;
    text-decoration: none;
    background:transparent url(../../../../phpgwapi/js/yahoo/assets/skins/sam/sprite.png) no-repeat scroll 0 -300px;
    width: 25px;
    height: 15px;
    cursor: pointer;
    color: white;
}

#agegroup {
    background: #eee;
    white-space: nowrap;
	border: 1px solid #7F7F7F;
}
#agegroup, #agegroup td, #agegroup th { width: 1%; }
#agegroup td, #agegroup th { padding: .1em .3em;}
#agegroup td input { width: 3em; }

table#report {
    background: #eee;
    white-space: nowrap;
	border: 1px solid #7F7F7F;
}

table#report td, table#report th { padding: .2em .5em;}

div.allocation-list
{
    width: 30em;
    height: 10em;
    border: 1px solid #555;
    padding: .4em;
    overflow: auto;
}

.showit {
	visibility: visible;
}
.hideit {
	visibility: hidden;
}

.datetime-picker .time-picker-inputs {
	vertical-align: top;
	position: relative;
	top: 6px;
}

.yui-overlay { 
    background-color: white; 
    border: 3px #999 inset;
}
.yui-overlay .hd { padding:5px; }
.yui-overlay .bd { padding:5px; }
.yui overlay .ft { padding:5px; }

.yui-calendar td.calcell {
	border:0px !important;
}
.yui-skin-sam .yui-dt TABLE TH{
	border: none !important;
}
.yui-skin-sam .yui-dt TABLE TD{
	border: none !important;
}

div.info:hover { 
    background-image: url(../images/info.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

#overlay-info { text-align: left; padding: 1em; }
#overlay-info h3 { margin: 0 0 .9em 0; }
#overlay-info dt { font-style: italic; font-weight: bolder; font-size: 90%;}
#overlay-info dd { padding-left: 2em; }
#overlay-info .close { float: right; }
#overlay-info .actions { margin-top: 1em;}


