<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
<!-- BEGIN Content -->
<script type="text/javascript"><!--
    btnNormal = new Image();
    btnNormal.src = "/pb.WebMAUI/templates/default/image/btn_delete1a.png";
    btnHighlight = new Image();
    btnHighlight.src = "/pb.WebMAUI/templates/default/image/btn_delete2a.png"; /* erste Highlight-Grafik */
    btnDown = new Image();
    btnDown.src = "/pb.WebMAUI/templates/default/image/btn_delete0a.png"; /* erste Highlight-Grafik */

    function picChange(pic, newpic) {
        pic.src = newpic.src;
    }

    function RUSure(btn, s) { // aRe yoU Sure?
        if (!confirm("Wollen Sie "+s+" löschen?")) {
            btn.form.RUSureResult.value=0;
        }
    }
    //-->
    </script>
<input type="hidden" name="RUSureResult" value="1" />
<table cellspacing="1" border="0" cellpadding="2">
  <tr valign="top" class="list1">
    <td align="left" colspan="4" valign="bottom">Mailfilter</td>
  </tr>
  <!-- BEGIN FilterList -->
  <tr valign="top" class="list0">
    <td><input type="checkbox" {fldactive} name="activate[{fldId}]" />
    </td>
    <td align="left"><a href="{fldLink}">{fldName}&nbsp;</a></td>
    <td align="left">{fldTime}&nbsp;</td>
    <td>
      <input type="image"
                       name="btnDelete[{fldId}][]"
                       onmouseover="picChange(this, btnHighlight)"
                       onmouseout="picChange(this, btnNormal)"
                       onmousedown="picChange(this, btnDown)"
                       onclick="RUSure(this,'{fldName}')"
                       title="Löschen"
                       alt="Löschen"
                       src="/pb.WebMAUI/templates/default/image/btn_delete1a.png" />
    </td>
  </tr>
  <!-- END FilterList -->
  <tr>
    <td align="left" colspan="4" height="3"></td>
  </tr>
  <tr valign="top" class="list1">
    <td align="left" colspan="4" valign="bottom">Abwesenheit</td>
  </tr>
  <!-- BEGIN AbsentList -->
  <tr valign="top" class="list0">
    <td><input type="checkbox" {fldactive} name="activate[{fldId}]" />
    </td>
    <td align="left"><a href="{fldLink}">{fldName}&nbsp;</a></td>
    <td>{fldTime}&nbsp;</td>
    <td>
      <input type="image"
                       name="btnDelete[{fldId}][]"
                       onmouseover="picChange(this, btnHighlight)"
                       onmouseout="picChange(this, btnNormal)"
                       onmousedown="picChange(this, btnDown)"
                       onclick="RUSure(this,'{fldName}')"
                       title="Löschen"
                       alt="Löschen"
                       src="/pb.WebMAUI/templates/default/image/btn_delete1a.png" />
    </td>
  </tr>
  <!-- END AbsentList -->
</table>
<!-- END Content -->
</body>
</html>
