.dynContext {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
    border: 1px #666666 solid;
    font-family: Comic Sans MS, Verdana, Arial, Sans-Serif;
    font-size: 10pt;
    color: black;
}

.dynContext div {
    cursor: default;
    padding: 1px;
}

.dynContext div.row {
    height: 20px;
    margin: 1px;
    white-space: nowrap;
    overflow: hidden;
}

.dynContext div.mouseover {
    padding: 0px;
    background-color: #dedede;
    border: 1px solid #888888;
}

.dynContext div.image,
.dynContext div.check,
.dynContext div.radio {
    text-align: center;
    width: 30px;
    -moz-opacity: 0.4;
    display: inline;
}

.dynContext div.check,
.dynContext div.radio {
    -moz-opacity: 1;
}

.dynContext div.text {
    display: inline;
}

.dynContext div.arrow {
    display: inline;
}

.dynContext .separator {
    text-align: right;
}

.dynContext hr {
    border: 0px;
    width: 95%;
    color: #dedede;
    background-color: #dedede;
    height: 1px;
}