<?php
/*
 * PHPCVS - A PHP interface to a CVS tree.
 *
 * Configuration file that controls the behaviour of this
 * script.
 *
 * Anil Madhavapeddy <anil@recoil.org> 2000/06/18
 * 
 * $Horde: chora/config/conf.php.dist,v 1.19 2001/03/22 01:50:27 bjn Exp $
 */

/* 
 * ---------------------------
 * Paths and Locations Section
 * ---------------------------
 */

/* Location of CVS HTML templates directory */

$conf['paths']['templates']   = dirname(__FILE__).'/../templates';

/* Location of RCS binaries you must have installed as
 * part of CVS */

$conf['paths']['co']          = '/usr/bin/co';
$conf['paths']['rcs']         = '/usr/bin/rcs';
$conf['paths']['rcsdiff']     = '/usr/bin/rcsdiff';
$conf['paths']['rlog']        = '/usr/bin/rlog';
$conf['paths']['cvs']         = '/usr/bin/cvs';

/*
 * -----------------------------------
 * Look And Feel Configuration Section
 * -----------------------------------                       
 */

/* The name and email address displayed in the page footer.  This is
 * generally the name of the repository administrator. */

$conf['options']['adminName'] = 'Horde Development Team';
$conf['options']['adminEmail'] = 'dev@lists.horde.org';

/* In the directory view, a short summary of the last
 * logentry is shown.  The value here determines how many
 * characters of this to show before truncating it, and
 * appending '...' to indicate there is more to show */

$conf['options']['shortLogLength'] = 75;

/*
 * -----------------------------------
 * Cascading Style Sheets Section
 * -----------------------------------                       
 */

/* To cache stylesheets in the browser to improve
 * browsing speed, set this to true */

$conf['css']['cached'] = false;

?>
