
ul {
list-style: none;
margin: 0px;
padding: 0px;	
border: none;
}

li {
list-style: none;
margin: 0px;
padding: 0px;	
border: none;
}

input {
margin: 0px;
padding: 2px;	
border: 1px solid gray;
}

textarea {
margin: 0px;
padding: 2px;	
border: 1px solid gray;
}

.ged_title {
	font-size: 14pt;
	color: #849AC8;
}

.ged_label {
font-weight: bold;
color: #849AC8;
}

#ged_top_menu {
text-align: left;
background-color: #849ac8;
border-top: 1px solid #6A0233;
border-bottom: 1px solid #6A0233;
padding: 3px;
}

#ged_top_menu a:link {
color: white;
padding: 3px;
text-decoration: none;
font-size: 11pt;
}

#ged_top_menu a:visited  {
color: white;
padding: 3px;
text-decoration: none;
font-size: 11pt;
}

#ged_top_menu a:hover {
text-decoration: none;
color: #849ac8;
padding: 3px;
background-color: white;
font-size: 11pt;
}

#ged_tree {
float: left;
}

#ged_tree a {
  font-size: 9pt;
}

#ged_info {
float: right;
width: 400px;
text-align: left;
}

#ged_bottom {
clear: both;
}

#ged_history {
clear: both;
padding-top: 1em;
}

#ged_history table {
font-size: 8pt;
}

#ged_info .ged_file_description {
	border: 1px solid black;
	padding: 5px;
}

#ged_info .ged_file_metadata {
	font-size: 7pt;
	color: gray;
  clear: both;
}

#ged_info #ged_file_references {
	border: 1px solid black;
	width: 100%;
}

#ged_info #ged_file_versions {
	border: 1px solid black;
	width: 100%;
}

#ged_info #ged_file_relations {
	border: 1px solid black;
	width: 100%;
}

#ged_info #ged_file_relations2 {
	border: 1px solid black;
	width: 100%;
}

#ged_history .ged_events_list {
	border: 1px solid black;
	width: 100%;
}

/* text colors */

.current
{
font-weight: bold;
color: green;
}
		
.working
{
font-style: italic;
}		

.obsolete
{
color: gray;
background: lightgrey;
}

/* row colors */

.file_version_obsolete_odd
{
background: #efefef;
}

.file_version_obsolete_even
{
background: lightgrey;
}

.file_version_current_odd
{
background: #deffec;
}

.file_version_current_even
{
background: #deffec;
}

.file_version_working_odd
{
background: #fff9c4;
}

.file_version_working_even
{
background: #fff9c4;
}

.file_version_pending_for_technical_review_odd
{
background: #fff9c4;
}

.file_version_pending_for_technical_review_even
{
background: #fff9c4;
}

.file_version_pending_for_quality_review_odd
{
background: #eba1fc;
}

.file_version_pending_for_quality_review_even
{
background: #eba1fc;
}

.file_version_pending_for_acceptation_odd
{
background: #fff9c4;
}

.file_version_pending_for_acceptation_even
{
background: #fff9c4;
}

.file_version_ready_for_delivery_odd
{
background: #fff9c4;
}

.file_version_ready_for_delivery_even
{
background: #fff9c4;
}

.file_version_refused_odd
{
background: #ff7b88;
}

.file_version_refused_even
{
background: #ff7b88;
}

.event_odd
{
background: #efefef;
}

.event_even
{
background: lightgrey;
}

.alert_message
{
	font-weight: bold;
	color: red;
}
