/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.feb.2016, 14:30:07
    Author     : Erik Holm-Larsen
*/

/*
Style-class for preferences
configure spacing, column width and row-separator
*/

.pure-control-group {
    border-bottom: 1px solid;
}
.pure-control-group label {
    text-align: left;
    width: 35em;
}