/* WikkiTikkiTavi default style sheet. */
/* $Id: wiki.css 11897 2003-03-04 21:53:11Z ralfbecker $ */
body
  { background-color: #f5f5f5;
    color:            #000000;
    margin-right:     3%;
    margin-left:      3%; }
a.wiki {
	background: transparent;
	text-decoration: underline;
}
a.title
  { text-decoration: none; }
img
  { border: 0; }
div.logo
  { float: right; }
table.diff
  { width: 95%; }
td.diff-added
  { background-color: #cfffcf;
    color:            #000000; }
td.diff-removed
  { background-color: #ffffaf;
    color:            #000000; }
h1
  { margin-bottom: 0; }
textarea
  { width: 95%; }
dl, ul, ol
  { margin-top:    0px;
    margin-bottom: 0px; }
form
  { margin-top: 0px; }
p.warning
  { color:      #ff3f3f;
    background: transparent; }
span.twin
  { font-size: smaller; }
tt
  { background: transparent;
    color:      #383838; }
pre
  { background: transparent;
    color:      #383838; }
