/********************* Monitor Stats *************/
.monitor_stats_zone
{
	padding-bottom:3px;
	padding-left:4px;
	padding-top:1px;
	margin-top:20px;
	background-color:white;
	border:1px solid black;
}

/********************* HEADER TABLE *************/
table.monitor_table_header
{
        width : 100%;
        border-spacing: 0px;
        border : 0px;
}
.monitor_header_title
{
	font-size: 120%;
	font-weight:bold;
	border-bottom:3px solid white;
}
.filter_label_cell
{
	text-align:right;
}
.filter_action_cell
{
	text-align: left;
}
/********************* LIST TABLE *************/
table.monitor_table_list
{
        width : 100%;
        border-spacing: 1px;
        border : 0px;
}
.table_showing_rows
{
	border: 0px;
	width:100%; 
	margin:0 auto;
}

/********************* PROCESS MORE SPECIFIC *************/
th.th_mp_name {}
th.th_mp_activities 
{
	text-align:center;
}
th.th_mp_is_valid
{
	text-align:center;
	width:50px;
}
th.th_mp_is_active
{
	text-align:center;
	width:50px;
}
th.th_mp_instances
{
	text-align:center;
}
td.td_mp_name {}
td.td_mp_activities 
{
	text-align: right;
}
td.td_mp_is_valid
{
	text-align:center;
	width:50px;
}
td.td_mp_is_active
{
	text-align:center;
	width:50px;
}
td.td_mp_instances
{
	text-align: right;
}
table.table_mp_instances_stats
{
	width: 100%;
}
td.td_mp_in_instances
{
	width: 25%;
}
/********************* ACTIVITIES MORE SPECIFIC *************/
th.th_ma_procname {}
th.th_ma_name {}
th.th_ma_logo {}
th.th_ma_type {}
th.th_ma_interactive 
{
	text-align:center;
}
th.th_ma_autorouted
{
	text-align:center;
}
th.th_ma_instances
{
	text-align:center;
}
td.td_ma_procname {}
td.td_ma_name {}
td.td_ma_logo 
{
	text-align:center;
}
td.td_ma_type 
{
	text-align:left;
}
td.td_ma_interactive 
{
	text-align:center;
}
td.td_ma_autorouted
{
	text-align:center;
}
td.td_ma_instances
{
	text-align:center;
}
table.table_ma_instances_stats
{
	width: 100%;
}
td.td_ma_in_instances
{
	width: 25%;
}
/********************* INSTANCES MORE SPECIFIC *************/
th.th_mi_instanceid {}
th.th_mi_name
{
	text-align:center;
}
th.th_mi_procname
{
	text-align:center;
}
th.th_mi_actname
{
	text-align:center;
}
th.th_mi_status
{
	text-align:center;
}
th.th_mi_actstatus
{
	text-align:center;
}
th.th_mi_owner
{
	text-align:center;
}
th.th_mi_user
{
	text-align:center;
}
td.td_mi_instanceid {}
td.td_mi_name
{
	text-align:center;
}
td.td_mi_procname
{
	text-align:center;
}
td.td_mi_actname
{
	text-align:center;
}
td.td_mi_status
{
	text-align:center;
}
td.td_mi_actstatus
{
	text-align:center;
}
td.td_mi_owner
{
	text-align:center;
}
td.td_mi_user
{
	text-align:center;
}
/********************* WORKITEMS MORE SPECIFIC *************/
th.th_mw_itemid
{
	text-align:left;
}
th.th_mw_details
{
	text-align:left;
}
th.th_mw_procname
{
	text-align:left;
}
th.th_mw_actname
{
	text-align:left;
}
th.th_mw_instanceid {}
th.th_mw_orderid {}
th.th_mw_started {}
th.th_mw_duration {}
th.th_mw_user {}
td.td_mw_itemid
{
	text-align:left;
}
td.td_mw_details
{
	text-align:left;
}

td.td_mw_procname
{
	text-align:left;
}
td.td_mw_actname
{
	text-align:left;
}
td.td_mw_instanceid {}
td.td_mw_orderid {}
td.td_mw_started {}
td.td_mw_duration {}
td.td_mw_user {}
