body
{
	background: #537991 url('../images/logo-large.png') no-repeat fixed top left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #537991;
}

#horizon
{
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	margin-top: -175px;
	min-width: 800px; 
}

label, input[type=text], input[type=password], select, textarea 
{ 
    display: block; 
    float: left; 
    margin-bottom: 8px; 
    width: 150px; 
}

input, select
{
	background: #fff;
	border: 1px solid #537991;
	color: #537991;
	float: left;
	width: 100px;
}

p.button_group input
{
	float: none;
	width: auto;
}

label, input[type=text], input[type=password], input[type=checkbox], input[type=radio], select, textarea 
{ 
    margin-bottom: 8px; 
} 

label
{
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
	clear: left;
	display: block;
	float: left;
	margin-left: 50px;
	width: 75px;
	color: #537991;
}

br 
{ 
    clear: left; 
}

#loginbox
{
	background-color: #fff;
	border: 1px solid #999;
	margin: 0px auto;
	width: 450px;
	-moz-border-radius: 15px;
}

#logintitle
{
	background-color: #ccc;
	border-bottom: 1px solid #537991;
	color: #537991;
	font-size: large;
	margin-bottom: 25px;
	padding: 5px;

	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
}

#loginmsg, #loginmsg a, #testjs, #testjs a
{
	color: #fff;
	margin: 25px auto;
	text-align: center;
	width: 700px;
}

#testjs
{
	font-weight: bold;
}

#version
{
	text-align: right;
}
