<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<!-- BEGIN Content -->
<script type="text/javascript"><!--
    btnNormal = new Image();
    btnNormal.src = "/pb.WebMAUI/templates/default/image/btn_delete.png";
    btnHighlight = new Image();
    btnHighlight.src = "/pb.WebMAUI/templates/default/image/btn_delete.png"; /* erste Highlight-Grafik */
    btnDown = new Image();
    btnDown.src = "/pb.WebMAUI/templates/default/image/btn_delete.png"; /* erste Highlight-Grafik */

    function picChange(pic, newpic) {
        pic.src = newpic.src;
    }

    function RUSure(btn, s) { // aRe yoU Sure?
        if (!confirm("Wollen Sie "+s+" löschen?")) {
            btn.form.RUSureResult.value=0;
        }
    }
    //-->
    </script>
<input type="hidden" name="RUSureResult" value="1" />
<table cellspacing="2" style="margin-bottom: 20px; border: 2px solid #FFFFFF" cellpadding="2">
  <tr>
    <td class="header">{l_name}</td>
    <td class="bg_color2">
    	<input type="text" name="fldName" size="30" value="{fldName}" />@{fldDomain}
    </td>
  </tr>
  <tr>
    <td colspan="2" style="height: 10px" class="bg_color1"></td>
  </tr>
  <tr>
    <td class="header" colspan="2">
    	{l_mail_address}
    </td>
  </tr>
  <tr valign="top">
    <td class="bg_color1"></td>
    <td class="bg_color2">
    	<input type="text" name="fldNewMail" size="30" />
    </td>
  </tr>
  <!-- BEGIN AddressesList -->
  <tr>
    <td class="bg_color1" align="right">
      <!-- BEGIN AddressesDelete -->
      <input type="image" 
             name="btnDelete{btnDeleteKey}"
             title="{l_delete}"
             alt="{l_delete}"
             src="{imgDir}/images/btn_delete.png"
      />
      <!-- END AddressesDelete -->
    </td>
    <td class="bg_color2">
    	{fldMail}
    </td>
  </tr>
  <!-- END AddressesList -->
  <!-- BEGIN Changes -->
  <tr>
    <td colspan="2" style="height: 10px" class="bg_color1"></td>
  </tr>
  <tr>
    <td class="header" colspan="2">
    	{l_last_changes}
    </td>
  </tr>
  <!-- BEGIN ChangesList -->
  <tr>
    <td></td>
    <td>{fldChanges}</td>
  </tr>
  <!-- END ChangesList -->
  <!-- END Changes -->
</table>
<!-- END Content -->
</body>
</html>
