/*
	Border-layout for CSS only layout
*/

body {
	height: 100%;
	background: #edf5ff;
}

div#border-layout {
	text-align: left;
}

div#border-layout div.layout-north,
div#border-layout div.layout-south
{

	position: absolute;
	left: 0;
	height: 26px;
	width: 100%;
}

div#border-layout div.layout-north
{
	top: 0;
}

div#border-layout div.layout-south
{
	bottom: 0;
}

div#border-layout div.layout-west,
div#border-layout div.layout-east
{
	position: absolute;
	top: 31px;
	bottom: 31px;
	width: 194px;
}

div#border-layout div.layout-west
{
	left: 5px;
}

div#border-layout div.layout-east
{
	right: 5px;
}

div#border-layout div.layout-center {
	position: absolute;
	top: 31px;
	bottom: 31px;
	left: 204px;
	right: 204px;
}

div#border-layout div.header
{
	height: 23px;
	border: 1px solid #808080;
	border-bottom: none;
	background: #3f6ad1;
}
div#border-layout div.header h2
{
	font-size: 1em;
	margin: 0px 3px;
	color: #fff;
	font-weight: bold;
	line-height: 22px;
}
div#border-layout div.breadcrumbs
{
	font-size: 1em;
	margin: 0px 3px;
	color: #fff;
	font-weight: bold;
	line-height: 11px;
}

div#border-layout div.layout-west div.body,
div#border-layout div.layout-east div.body,
div#border-layout div.layout-center div.body
{
	background: #fff;
	position: absolute;
	overflow: auto;
	top: 23px;
	bottom: 0em;
	border: 1px solid #808080;
	left: 0px;
	right: 0px;
}

div#border-layout div.layout-center div.body
{
	background: #fff;
}


/*
	Border-layout for JS layout
*/
.yui-skin-sam .yui-layout .yui-layout-unit-top div.yui-layout-bd,
.yui-skin-sam .yui-layout .yui-layout-unit-bottom div.yui-layout-bd
{
	border: none;
}

.yui-skin-sam .yui-layout div.header
{
	display: none;
}

.yui-skin-sam .yui-layout div.yui-layout-unit div.yui-layout-bd
{
	background-color: #fff;
}

.yui-skin-sam .yui-layout div.yui-layout-unit div.yui-layout-hd h2
{
	font-size: 1em;
	margin: 0;
}

/*
	Border-layout common for CSS and JS layout
*/

div.layout-north div.body,
div.layout-south div.body
{
	position: relative;
	float: left;
	width: 100%;
	background: #000;
	color: #fff;
	line-height: 26px;
}

div.layout-north div.body h2
{
	font-size: 1em;
	font-weight: bold;
	margin: 0 5px;
}

div.layout-north div.body div.button-bar
{
	position: absolute;
	right: 0px;
	top: 0px;
	line-height: 26px;
}

div.layout-north div.body div.button-bar a
{
	color: #fff;
	text-decoration: none;
	margin: 0 5px;
	display: block;
	float: left;
}

div.layout-south div.body div.button-bar
{
	float: right;
	margin: 0 5px;
}


/*
	Navbar layout
*/

ul#navbar
{
	/*background: #fff;*/
}

ul#navbar li
{
	display: block;
	white-space: nowrap;
}

ul#navbar li a
{
	color: #000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	padding-left: 20px;
	margin-left: 20px;
	padding: 2px 0px 2px 20px;
}

#navbar a.parent
{
	margin-left: 0px;
}

ul#navbar li a.current span
{
	background: #3f6ad1;
	color: #fff;
}
ul#navbar li li
{
	padding-left: 20px;
}

#navbar li.collapsed ul
{
	display: none;
}

#navbar img.collapsed
{
	background: url(../images/collapsed.png) no-repeat center center;
}

#navbar img.collapsed:hover
{
	background-image: url(../images/collapsed-hover.png);
}

#navbar img.expanded
{

	background: url(../images/expanded.png) no-repeat center center;
}

#navbar img.expanded:hover
{
	background-image: url(../images/expanded-hover.png);
}


/*
	Reset headings which get reset by YUI! - based on firefox 2 html.css
*/

h1
{
  font-size: 2em;
  font-weight: bold;
  margin: .67em 0;
}

h2
{
  font-size: 1.5em;
  font-weight: bold;
  margin: .83em 0;
}

h3
{
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

h4
{
  font-weight: bold;
  margin: 1.33em 0;
}

strong
{
	font-weight: bold;
}

/*
	Error Related CSS
*/
.error
{
	background-color: #fcc;
	border: 1px solid #f00;
	color: #f00;
}

.msg
{
	background-color: #FFA500;
	border: 1px solid #f00;
	color: #f00;
	text-align: center;
}

.msg_good
{
	background-color:  #99FF66;
	border: 1px solid #00CC00;
	font-weight: bold;
	text-align: center;
}

.warn
{
	background-color: #ff8;
	border: 1px solid #fc0;
	color: #fc0;
}

div.error, div.warn
{
	font-weight: bold;
	padding: 2px;
	text-align: center;
}

/*
	Table styling
*/

.row_on
{
	background-color: #eee;
}

.row_off
{
	background-color: #e9e9e9;
}

.row_on, .row_off
{
	padding: 3px;
}

.row_on:hover, .row_off:hover
{
	background-color: #fff;
}

thead, th, .th
{
	background: #ddd url(../images/ofm-gard-top.png) top left repeat-x;
}
/*
	Menu layout ("navbar" conflicts with the template "simple" - testing - try the admin section)
*/

ul#menu
{
	/*background: #fff;*/
}

ul#menu li
{
	display: block;
	white-space: nowrap;
}

ul#menu li a
{
	color: #000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	padding-left: 20px;
	margin-left: 0px;
	padding: 2px 0px 2px 0px;
}

#menu a.parent
{
	margin-left: 0px;
}

ul#menu li a.current span
{
	background: #3f6ad1;
	color: #fff;
}

ul#menu li li
{
	padding-left: 20px;
}

.yui-skin-sam .yui-navset .yui-nav li.disabled
{
	opacity: .5;
}

.yui-skin-sam .yui-navset .yui-nav li.disabled a, .yui-skin-sam .yui-navset .yui-nav li.disabled a:hover
{
	background:#D8D8D8 url(sprite.png) repeat-x scroll 0% 50%;
	cursor: default;
}

