<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<!-- BEGIN Content -->
<script type="text/javascript">
<!--
    function RUSure(btn, s) { // aRe yoU Sure?
        if (!confirm("Wollen Sie "+s+" löschen?")) {
            btn.form.RUSureResult.value=0;
        }
    }
//-->
</script>
<input type="hidden" name="RUSureResult" value="1" />
<table align="right">
  <tr>
    <td>
      <input type="text" name="fldFilter" value="{fldFilter}" size="30" />
      <input type="submit" name="btnSearch" value="{lang_search}" />
    </td>
  </tr>
</table>
</td>
</tr>
<tr>
  <td>
    <table width="100%" style="margin-bottom: 20px; border: 2px solid #FFFFFF" cellspacing="2" cellpadding="2">
      <tr>
        <td class="bg_color2" colspan="3" align="right">
          <!-- BEGIN NaviLink -->
          <!-- BEGIN NaviLinkActive -->
          <a href="{NaviLinkHref}">{NaviLinkName}</a>&nbsp;
          <!-- END NaviLinkActive -->
          <!-- BEGIN NaviLinkInactive -->
          {NaviLinkName}&nbsp;
          <!-- END NaviLinkInactive -->
          <!-- END NaviLink -->
        </td>
      </tr>
      <tr class="header">
        <td width="40%">
        	{l_name}
        </td>
        <td width="60%">
        	{l_mailAccount}
        </td>
        <td style="width: 24px"></td>
      </tr>
      <!-- BEGIN Account -->
      <tr>
        <td class="bg_color1">
        	<a href="{LinkAccount}">{Name}</a>
        </td>
        <td class="bg_color2">
          <!-- BEGIN Address -->
          {Address}<br />
          <!-- END Address -->
        </td>
        <td class="bg_color1">
          <input type="image" 
                 name="btnDelete{btnDeleteKey}"
                 onclick="RUSure(this,'{Name}')"
                 title="{l_delete}"
                 alt="{l_delete}"
                 src="{imgDir}/images/btn_delete.png"
          />
        </td>
      </tr>
      <!-- END Account -->
    </table>
    <!-- END Content -->
  </td>
</tr>
</body>
</html>
