
/* CSS for newlayout */


#wrapper{
background-color: #fff;
width: 100%;
textalign: left;
margin: 0 auto;
padding: 0 0px 40px;
}

#header{
overflow: hidden;
line-height: 1;
width: 100%;
background-image: none !important;
height: 40px !important;
}

.clearBoth {
	clear: both;
}
.messages {
	font-size: 15px;
}
.messages table {
	display: inline;
	position: absolute;
}

body {
    text-align: left;
}

body{
color: #575757;
width:100%;
height:100%;
/*background: #fff;*/
/*url('../images/newlayout/bodyBg.gif') repeat-x;text-align: left;width:100%;*/
}

.required
{
	border: 1px solid red
}

.pure-menu-disabled, .pure-menu-heading, .pure-menu-link {
    padding: 0 0;
}
.bigmenubutton
{
	padding: 32px 5px;
	border: 1px solid #E7E1DA;
}

.pure-button
{
	padding: 32px 10px;
}

body {
	margin-left:5px;
	margin-right:5px;
	padding:0;
}

* {
  box-sizing: border-box;
}
html {
 /* font-family: helvetica;*/
}

html, body {
  max-width: 100vw;
}

table {
 margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
  max-width: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

td, th {
  border: solid rgb(200, 200, 200) 1px;
  padding: .5rem;
}

th {
  text-align: left;
  background-color: rgb(190, 220, 250);
 /* text-transform: uppercase;*/
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: rgb(50, 50, 100) solid 2px;
  border-top: none;
}

td {
  white-space: nowrap;
  border-bottom: none;
  color: rgb(20, 20, 20);
}

td:first-of-type, th:first-of-type {
  border-left: none;
}

td:last-of-type, th:last-of-type {
  border-right: none;
}

fieldset {
margin-right: 20px;
}

textarea
{
    height: 8em;
}

#app_header
{
	font-weight: bold;
	font-size: 120%;
}
label
{
	font-weight: bold;
}
