.dropdownContainer {
  position: relative;
  display: inline-block;
}

.timeDropdown {
  z-index: 1;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;

  div {
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
    &.active {
      background-color: #eee;
    }
  }
}
