@import '../../../../phpgwapi/templates/bookingfrontend_2/styleguide/colors/colors.scss';

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.timeDropdown {
  z-index: 1;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;

  div {
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    &.active {
      background-color: #eee;
    }
  }
}


.article-table {
  margin: 0;
  padding: 0;

  border-spacing: 0;
  border-collapse: separate;
  border-radius: 0.5rem;

  & + table {
    margin-top: 0;
  }

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // 16 parts
  &.resource-table {
    &.collapsed-head {
      .resource {
        &-name {
          border-bottom-left-radius: 0.5rem;

        }

        &-expand {
          border-bottom-right-radius: 0.5rem;
        }
      }
    }

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .resource {

      &-name {
        border-top-left-radius: 0.5rem;
        width: calc(100% / 16 * 5);

      }

      &-price {
        width: calc(100% / 16 * 6);
        text-align: end;
      }

      &-hours {
        width: calc(100% / 16 * 3);
        text-align: end;

      }

      &-total {
        width: calc(100% / 16 * 3);
        text-align: end;

      }

      &-expand {
        border-top-right-radius: 0.5rem;
        width: calc(100% / 16 * 1);
        text-align: center;

        cursor: pointer;

        button {
          color: $white;
        }
      }

    }

    --bs-table-bg: #{$purple-80};
    --bs-table-color-state: #{$white};

    th {
      vertical-align: middle;

    }
  }

  &.child-table {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &:not(:first-of-type) {
      margin-bottom: 1rem;

      thead {
        th {
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }
      }
    }

    thead {
      th {

        text-align: start;
        width: calc(100% / 16 * 15);
        padding-left: calc(100% / 16 * 1);
      }

      --bs-table-bg: #{$purple-24};
    }

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 0.5rem;

      }

      td:last-child {
        border-bottom-right-radius: 0.5rem;

      }
    }

    .item {
      &-name {
        width: calc(100% / 16 * 3);
        padding-left: calc(100% / 16 * 1);
      }

      &-description {
        width: calc(100% / 16 * 3);
      }

      &-price {
        width: calc(100% / 16 * 3);
      }

      &-quantity {
        width: calc(100% / 16 * 3);
      }

      &-sum {
        width: calc(100% / 16 * 3);
      }
    }


  }


}

.hidden-inputs {
  display: none;
}

/* Ensures that the input fields fit within the designated column width */
.form-control {
  width: 100%;
  box-sizing: border-box; /* Makes sure padding doesn't affect overall width */
}

/* Make sure tables take up the full width of the container */
.table {
  width: 100%;
  table-layout: fixed; /* This helps to ensure that all columns follow the width strictly */
}

.article-table-wrapper {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.remark {
  font-weight: 400;
  font-size: 0.8rem;
}