<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
<form>
  <!-- BEGIN Content -->
  <table width="100%" cellspacing="1" border="0" cellpadding="2">
    <tr valign="top">
      <td class="caption" align="left">Mandant</td>
      <td class="caption" align="left">Buchungskreis</td>
      <td class="caption" align="left">Kostenstelle</td>
      <td class="caption" align="right">Quota MB</td>
      <td class="caption" align="left">Internet</td>
      <td class="caption" align="left">Account</td>
      <td class="caption" align="right">MB genutzt</td>
      <td class="caption" align="right">Warnungen</td>
    </tr>
    <!-- BEGIN BillingAccount -->
    <tr valign="top" class="{ListClass}">
      <td align="left">{fldMD}</td>
      <td align="left">{fldBUKR}</td>
      <td align="left">{fldKSTL}</td>
      <td align="right">{fldQuota}</td>
      <td align="left">{fldInetaccess}</td>
      <td align="left">{fldMail}</td>
      <td align="right">{fldSizeMB}</td>
      <td align="right">{fldWarningCounter}</td>
    </tr>
    <!-- END BillingAccount -->
  </table>
  <!-- END Content -->
</form>
</body>
</html>
