/* These spans should be moved into the api */
span.label
{
	display: block;
	float: left;
	font-weight: bold;
	width: 200px;
}

span.value
{
	display: block;
	float: left;
	width: 300px;
}

#admin_view_user div
{
	height: 225px;
	overflow: auto;
	width: 320px;
}

#admin_view_user ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#admin_view_user li 
{
	padding: 2px 0px;
	width: 300px;
}

#admin_view_user li span
{
	display: block;
	float: left;
	text-align: center;
	width: 25px;
}
