/* phpGroupWare Idots Template Style Sheet
   (c) Copyright 2003 Free Software Foundation Inc
   Originally written by Pim Snel
   Currently Maintained by Dave Hall

   $Id: idots.css,v 1.6 2007/09/21 12:24:44 sigurdne Exp $
*/
   
/* Classes */
.articlecontent 
{
	background-color: #EFEFEF;
	color: #006699;
	font-size: 12px;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	line-height: 20px;
	text-align: left;
	padding: 10px; 
}

.articletitle 
{
	font-weight: bold; 
	font-size: 12px; 
	background-image: url(../images/greypanel.png); 
	color: #000000;
	text-align: center;
	text-indent: 5pt; 
	background-repeat: repeat-x; 
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; 
	height: 21px;
	vertical-align: middle;
}

.box 
{
	background-color: #ffffff;
	border: 1px solid #98aab1;
	border-collapse: collapse;
	height: 90%;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	width: 100%;
}

/* not needed afaik - skwashd
.content 
{
	color: #000000; 
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
}*/

.copyright 
{
	color: #000000;
	font-size: 9px;
	text-align: center;
}

.logo
{
	background: url("../images/panel.png");
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: top;
}

.mainnote 
{
	background-color: #FFFFFF; /* */
	color: #006699; 
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	height: 20px;
	vertical-align: top;
}

.navpanel
{
	 background: url("../images/panel.png");
	 background-repeat: repeat-x;
	 background-color: #FFFFFF;
	 border-collapse:collapse;
	 height: 60px;
	 margin: 0px;
	 padding: 0px;
	 text-align: left;
	 vertical-align: top;
}

.popup
{
	background-color: #FFFFFF;
	border-bottom: 2px solid #000000;
	border-left: 1px solid #000000;
	border-right: 2px solid #999999;
	border-top: 1px solid #999999;
	border-collapse: collapse;
	padding: 0px;
	width: 300px;
}

.popuptitle
{
	background-image: url(../images/boxbg.png);
	background-repeat: repeat-x;
	color: #000000;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
	font-size: 12px;						
}

.sidecontent
{
	 border:0px;
	 border-collapse: collapse;
	 padding:0px;
	 vertical-align: top;
	 width: 160px;
}

.sideboxcontent 
{
	background-color: #EFEFEF;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	/*line-height: 18px;*/
	/*padding: 2px;*/
	width: 160px; 
}

.sideboxtitle 
{
	background-image: url(../images/boxbg.png);
	background-position: center 50%;
	color: #000000;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px; 
	font-weight: bold;
	height: 26px;
	text-align: center;
}

spacer
{
	border: 0px;
	width: 15px;
}

/* Not used afaik, also a tag name - skwashd
.title 
{
	color: #000000;
	font-size: 12px;
	font-weight: 12px;
	padding: 5px;
}
*/

/* not used afaik - skwashd
.toppannel 
{
	background-image: url(../images/panel.png); 
	background-repeat: repeat-x
}
*/

@media screen
{
	.sidebox
	{
		border: 1px solid #98aab1;
		border-collapse: collapse;
		padding: 0px;
		width: 160px; 
	}
}

/* Save some space when printing */
@media print
{
	.sidebox
	{
		display: none;
	}
	#nav
	{
		display: none;
	}
}

/* Tags */
a, a:visited, a:link 
{
	color: #006699; 
	text-decoration: none;
}

a:active, a:hover 
{
	color: #FF9933;
	text-decoration: underline;
}

body 
{
	background-color: #e5e5e5;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10pt;
}

form 
{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10pt;
}

img
{
	border: 0px;
}

/* this should work but doesn't - i will come back to it 
td.navpanel > a > img
{
	-moz-opacity: 0.8;  mozilla/gecko 
	filter: alpha(opacity=8); IE 5.5+? 
	opacity: 0.8; CSS3 
}

td.navpanel > a > img:hover
{
	-moz-opacity: 1.0;
	filter: alpha(opacity=10);
	opacity: 1.0;
}
*/

input, select, textarea 
{
	color: #006699; 
	background-color: #EFEFEF;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
}

input, textarea
{
//	-moz-border-radius: 5px;
	border: 1px solid #006699;
//	border-radius: 5px;
}

input:focus, select:hover, textarea:focus
{
	background-color: #F3F3F3;
	color: #1177AA;
}

input[type=image]
{
	border: 0px;
}

.row_on input, .row_on textarea
{
	background-color: #E8F0F0;
}

.row_off input, .row_off textarea
{
	background-color: #DDDDDD;
}

span.star
{
	color: #FF9933;
	font-weight: bold;
}

table 
{
	FONT-SIZE: 12px; 
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}

/* Used by tabs */
th.activetab
{
//	-moz-border-radius-topleft: 10px;
//	-moz-border-radius-topright: 10px;
	background-color: #FFFFFF;
	/*border-color: #000000;*/
//	border-radius-topleft: 10px;
//	border-radius-topright: 10px;
	/*border-style: solid;
	border-width: 1px 1px 0px 1px;*/
	height: 20px;
	padding: 0px 5px 0px 5px;
	white-space: nowrap; 
}
 
th.inactivetab
{
//	-moz-border-radius-topleft: 10px;
//	-moz-border-radius-topright: 10px;
	background-color:#CCCCCC;
	/*border: 1px solid #000000;*/
//	border-radius-topleft: 10px;
//	border-radius-topright: 10px;
	color:#006699;
	height: 20px;
	padding: 0px 5px 0px 5px;
	white-space: nowrap;
}

th.tablast
{
/*	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #000000;*/
	width: 100%;
}

/* Used by tabs */
ul.tabs
{
	background-image: url('../images/tabs-bg.png');
	height: 32px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.tabs li
{
	display: block;
	float: left;
	height: 32px;
	margin: 0px;
	padding: 0px;
	width: 150px;
}

ul.tabs li a, ul.tabs li input
{
	background-image: url('../images/tab-r.png');
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0px;
	color: #000;
	display: block;
	height: 32px;
	overflow: hidden;
	padding-top: 7px;
	text-decoration: none;
	white-space: nowrap; 
	width: 150px;
}

ul.tabs li.tablast
{
	background-color: transparent;
	background-image: url('../images/tab-last.png');
	background-repeat: no-repeat;
}

ul.tabs li.activetab
{
	background-color: transparent;
	background-image: url('../images/tab-active-bg.png');
	height: 32px;
}

ul.tabs li.activetab a
{
	background-image: url('../images/tab-active-r.png');
	background-position: top right;
}
 
ul.tabs li
{
	background-image: url('../images/tab-bg.png');
	color:#069;
	height: 32px;
	text-align: center;
	white-space: nowrap;
}

/* nextmatch values */
.row_off
{
	background-color: #E8F0F0;
	color: #000000;
}

.row_on
{
	background-color: #DDDDDD;
	color: #000000;
}

.th
{
	background-color: #D3DCE3;
	color: #000000;
	font-weight: bold;
}

.small_text
{
	font-size: 8pt;
}
