.show {
    padding-right: none !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-header .modal-title {
    font-family: 'Raleway', sans-serif;
}

.modal-header .modal-title span {
    font-size: 16px;
}

.modal-body {
    padding-top: 0;
}

.modal-body .topBorder {
    height: 0px;
    width: 100%;
    margin: 0 auto;
    background-color: #e0e0e0;
}

.modal-body .navigationContainer {
    margin-top: 5%;
}

.modal-body button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.modal-body .prevMonth {
    float: left;
    font-size: 25px;
    color: #9e9e9e;
    font-weight: 100;
    transition: all 0.3s;
    opacity: 0.5;
}

.modal-body .nextMonth {
    float: right;
    font-size: 25px;
    color: #9e9e9e;
    font-weight: 100;
    transition: all 0.3s;
    opacity: 0.5;
}

.nextMonth:hover, .prevMonth:hover {
    color: #c33764;
    transform: scale(1.75);
    opacity: 1;
}

.modal-body #currentMonth {
    clear: none;
    text-align: center;
    margin: 0 auto;
}

.calendarContainer {
    border-top: 1px solid #e0e0e0;
    margin-top: 5%;
    padding-top: 2%;
    width: 100%;
    margin-left: 0 !important;
}

.selectDaysCont {
    min-height: 260px;
}

.date h5 {
    transition: all 0.3s;
    opacity: 0;
}

.calendarContainer .dayCont .calendarDay {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #2E2E2E;
    border: 2px solid white;
    transition: all 0.3s;
    opacity: 0;
}

.calendarContainer .calendarDay:hover {
    background-color: #eeeeee;
    border-radius: 12px;
    cursor: pointer;
}

.calendarContainer .calendarDay h5 {
    font-size: 16px;
    font-weight: 600;
}

.calendarContainer .activeDay {
    border: 2px solid #66bb6a !important;
    color: #66bb6a;
    font-weight: 800;
    border-radius: 12px;
    transition: all 0.3s;
    z-index: 1337;
    background-color: transparent !important;
}

.calendarContainer .activeDay:hover {
    background-color: transparent !important;
}

.calendarContainer .activeDay h5 {
    font-weight: 800;
}

.calendarContainer .calendarDay .dayNr {
   margin-top: 12.5px;
}

.dayLabel {
    width: 14.28571428571429%;
    text-align: center;
    font-weight: 600;
}

.dayCont {
   width: 14.28571428571429%;
}

.year {
    font-size: 25px;
    color: #9e9e9e;
}

.month {
    font-size: 30px;
    color: #212121;
}

.date h5 {
    font-size: 55px;
    font-weight: 600;
    color: #c33764;
    margin-bottom: 0;
}

.sunday {
    opacity: 0.7;
    background-color: #eeeeee !important;
    color: #424242 !important;
    border-radius: 0;
}

.calendarCancel {
    color: #919191;
    transition: all 0.3s;
}

.calendarConfirm {
    background-color: #c33764;
    color: white;
    transition: all 0.3s;
}

.calendarConfirm:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slideContainer {
    width: 100%; 
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
    cursor: pointer;
}
 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px;
    background: #c33764; 
    cursor: pointer; 
}


.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #c33764; 
    cursor: pointer; 
}

/** IE SLIDER **/
.ie-slider {
    width: 100% !important;
}

.ie-slider[type=range]::-moz-range-track {
    width: 100%;
    height: 25px;
    background: #ddd;
    border: none;
    border-radius: 0;
}
.ie-slider[type=range]::-moz-range-thumb {
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #c33764;
}

/*hide the outline behind the border*/
.ie-slider[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}
.ie-slider[type=range]::-ms-track {
    width: 100%;
    height: 25px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
.ie-slider[type=range]::-ms-fill-lower {
    background: #ddd;
    border-radius: 0;
    opacity: 0.7;
}
.ie-slider[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 0;
    opacity: 0.7;
}
.ie-slider[type=range]::-ms-thumb {
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 0;
    background: #c33764;
}
.ie-slider[type=range]:focus::-ms-fill-lower {
    background: #ddd;
}
.ie-slider[type=range]:focus::-ms-fill-upper {
    background: #ddd;
    opacity: 1;
}

.slideContainer h5 {
    border-top: 1px solid #e0e0e0;
    padding-top: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #9e9e9e;
}

.slideContainer p {
    margin-top: 10px;
    margin-bottom: 5px;
}

#timeSplitter {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #9e9e9e;
}

.clock span {
    font-size: 40px;
    color: #c33764;
    font-weight: 600;
}

#calendarError {
    float: left;
    color: #ef5350;
}

/** phone **/
@media only screen and (max-width: 767px) {
    modal-body .prevMonth {
        float: left;
        font-size: 25px;
        color: #9e9e9e;
        font-weight: 100;
        transition: all 0.3s;
        opacity: 1;
    }
    
    .modal-body .nextMonth {
        float: right;
        font-size: 25px;
        color: #9e9e9e;
        font-weight: 100;
        transition: all 0.3s;
        opacity: 1;
    }

    .nextMonth:hover, .prevMonth:hover {
        transform: none;
        color: #919191;
    }

    slider {
        height: 40px;
    }
    
    .slider:hover {
        opacity: 1;
        cursor: pointer;
    }
     
    .slider::-webkit-slider-thumb {
        width: 40px; 
        height: 40px;
    }
    
    
    .slider::-moz-range-thumb {
        width: 40px; 
        height: 40px; 
    }

    .ie-slider[type=range]::-moz-range-track {
        height: 40px;
    }

    .ie-slider[type=range]::-moz-range-thumb {
        border: none;
        height: 40px;
        width: 40px;
    }
    
    .ie-slider[type=range]::-ms-track {
        height: 40px;
    }

    .ie-slider[type=range]::-ms-thumb {
        height: 40px;
        width: 40px;
    }
}