/***************************************************************************
* copyright            : (C) 2001-2003 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: usercp.tmpl 13837 2003-11-01 22:57:15Z skwashd $
*
* This program is free software; you can redistribute it and/or modify it 
* under the terms of the GNU General Public License as published by the 
* Free Software Foundation; either version 2 of the License, or 
* (at your option) any later version.
***************************************************************************/

{PHP_FILE: input: usercp.inc.t; output: usercp.inc;}

{SECTION: usercp_lnk}
{ROOT}?t=search&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: usercp_lnk2}
{ROOT}?t=help_index&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: usercp_lnk3}
{ROOT}?t=index&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: uc_home}
{MSG: home}
{SECTION: END}

{SECTION: uc_search}
{MSG: search}
{SECTION: END}

{SECTION: uc_faq}
{MSG: faq}
{SECTION: END}

{SECTION: register_lnk}
{ROOT}?t=register&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: profile profile link}
{MSG: profile}
{SECTION: END}

{SECTION: private_msg_lnk}
{ROOT}?t=pmsg&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: private_msg_empty link to private msg control panel}
{MSG: pm}
{SECTION: END}

{SECTION: private_msg_unread link to private msg control panel with unread messages indicator}
{MSG: new_private_messages}
{SECTION: END}

{SECTION: member_search_lnk}
{ROOT}?t=finduser&amp;btn_submit=Find&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: member_search link to member search}
{MSG: members}
{SECTION: END}

{SECTION: custom_avatar_queue (appears if there are custom avatars in que for approval)}
{MSG: custom_avatar_queue} <span class="GenTextRed">({VAR: avatar_count})</span>
{SECTION: END}

{SECTION: group_mgr_lnk}
{ROOT}?t=groupmgr&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: group_mgr link to the group manager for admin & group managers}
{MSG: group_mgr}
{SECTION: END}

{SECTION: reported_msgs_lnk}
{ROOT}?t=reported&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: reported_msgs link to reported messages form, with an idicator that shows the # of reported messages}
{MSG: reported_messages} <span class="GenTextRed">({VAR: report_count})</span>
{SECTION: END}

{SECTION: thr_exch_lnk}
{ROOT}?t=thr_exch&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: thr_exch a link to thread exchange, with an idicator of the # of threads waiting approval}
{MSG: thread_exchange} <span class="GenTextRed">({VAR: thr_exchc})</span>
{SECTION: END}

{SECTION: mod_que_lnk}
{ROOT}?t=modque&amp;{DEF: _rsid}
{SECTION: END}

{SECTION: mod_que link to form for approving messages in moderated forums}
{MSG: moderation_queue} <span class="GenTextRed">({VAR: approve_count})</span>
{SECTION: END}

{SECTION: admin_control_panel admin control panel link}
{MSG: admin_control_panel}
{SECTION: END}
