.errors
{
	color: #f00;
	text-align: center;
}

#news_form br, #news_nlbuild br
{
	clear: left;
}

#news_form fieldset
{
	margin: 0px auto;
	padding: 10px;
	width: 700px;
}

#news_form legend
{
	font-weight: bold;
}

#news_form label, #news_form input, #news_form select, #news_form textarea, #nlb_content1 label, #nlb_content1 input, #nlb_content1 select
{
	display: block;
	width: 600px;
	float: left;
	margin-bottom: 10px;
}

#news_form input[type=hidden]
{
	display: none;
}

#news_form iframe, #news_form textarea#news_content
{
	display: block;
	margin-left: 95px;
	width: 600px;
	height: 250px;
}

#news_form label, #news_nlbuild label
{
	font-weight: bold;
	text-align: right;
	width: 75px;
	padding-right: 20px;
}

#news_nlbuild .small
{
	width: 100px;
}

div.buttons
{
	text-align: right;
	width: 500px;
}

div.buttons button
{
	height: 30px;
	margin-right: 10px;
	padding: 4px 3px;
	width: 100px;
}

div.buttons button img
{
	height: 24px;
	vertical-align: middle;
	width: 24px;
}

#date_ranges select, #date_ranges input
{
	width: 100px;
}

#date_ranges img
{
	display: block;
	float: left;
	margin-right: 5px;
}

#app_menu_bar
{
	height: 26px;
	padding: 3px;
}

#app_menu_bar ul
{
	display: block;
	height: 20px;
	list-style: none;
	margin: 0px;
}

#app_menu_bar li
{
	clear: none;
	float: left;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 200px;
}

#news_nlbuild
{
	margin: 10px auto;
	text-align: center;
	width: 700px;
}

#nlb_content1, #nlb_content1, #nlb_content3
{
	display: table-cell;
	text-align: left;
}

#nlb_content2 table
{
	border: 0px;
	border-collapse: collapse;
	margin: 50px auto;
	padding: 0px;
	width: 700px;
}

#nlb_content2 td, #nlb_content2 th
{
	overflow: hidden;
	white-space: nowrap;
	width: 20px;
}

#nlb_content2 td
{
	text-align: left;
}

#nlb_content2 .news_teaser
{
	display: none;
}

#nlb_content2 .author
{
	width: 100px;
}

#nlb_content2 .title
{
	width: 580px;
}

#nlb_content3 iframe, #nlb_content3 textarea
{
	height: 400px;
	width: 700px;
}


h1
{
	text-align: center;
}

.news_item .summary
{
	font-style: italic;
}

.news_item
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 10px 30px;
}

.news_item .info
{
	font-size: smaller;
	margin: 0px;
	padding: 0px;
}

/* Fix select lists in tinyMCE (when used) */
#news_form .mceEditorContainer select
{
	display: inline;
	width: auto;
}

