<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- dialog template used as parent for dialogs within workspace -->
<title>pb.WebMAUI - {sTitle}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
<!-- BEGIN Content -->
<form method="post" enctype="multipart/form-data" name="pbwebmaui">
  <table width="98%" cellspacing="0" border="0" cellpadding="2" align="left">
    <!-- BEGIN FormComment -->
    <tr>
      <td class="listcomment" align="left" height="3">{FormComment}</td>
    </tr>
    <!-- END FormComment -->
    <tr>
      <td align="left">{Dialog}</td>
    </tr>
    <tr>
      <td align="left">
        <table class="dialogButtons" cellspacing="0" border="0" cellpadding="2">
          <tr>
            <!-- BEGIN Buttons -->
            <td>
              <input type="{btnType}" name="{btnName}" value="{btnCaption}" />
            </td>
            <!-- END Buttons -->
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
<!-- END Content -->
</body>
</html>
