td.holiday
{
	color: red;
}

.projects_box
{
	background-color:transparent;
	/* position:relative; */
	top: 15px; 
	left: 200px;
	z-index: 2;
	display: none;

	position: absolute;
	color:black;
	background-color:#DBD6CB;
	text-decoration:none;
	width:450px;
	border-top:2px solid #837c6b;
	border-right:2px solid #e4d9c0;
	border-bottom:2px solid #e4d9c0;
	border-left:2px solid #837c6b;
}
.projects_box a 
{
	text-decoration:none;
	display:block;
	padding:5px;
}

.projects_box visited
{
	text-decoration:none;
	background-color:transparent;
	display:none;
}

.projects_box a:hover 
{
	position: absolute;
	display:none;
	color:#f6e4c1;
	background-color:#DBD6CB;
	text-decoration:none;
	width:450px;
	border-top:2px solid #837c6b;
	border-right:2px solid #e4d9c0;
	border-bottom:2px solid #e4d9c0;
	border-left:2px solid #837c6b;
}

.projects_box a:active 
{
	color:#f6e4c1;
}

.projects_box a .info 
{
	display:none;
}

.projects_box a:hover .info 
{
	color:black; 
	background:#DBD6CB;
	font:8pt courier,sans-serif;
	display:none;
	padding:5px;
	text-align:justify;
}
