<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/javascript" src="dhtml.js"></script>
</head>
<body>
<!-- BEGIN Content -->
<script type="text/javascript">
<!--
    function RUSure(btn, s) { // aRe yoU Sure?
        if (!confirm("Wollen Sie "+s+" löschen?")) {
            btn.form.RUSureResult.value=0;
        }
    }

    function showtime()
    {
			var timestylediv = document.getElementById('timestyle');
			if (document.getElementById('sbTime').value == 1)
			{
        timestylediv.style.visibility = 'visible';
      }
      else
      {
      	timestylediv.style.visibility = 'hidden';
      }
		}

    function showfolderselect(a,f)
    {

			mode = document.getElementById(a).value;
			folderstylediv = document.getElementById(f).style;
			//alert(folderstylediv.style);
    	if (mode >= 0 && mode <=1)
    	{
      	folderstylediv.visibility = 'visible';
    	}
      else
      {
      	folderstylediv.visibility = 'hidden';
			}
    }

    function selectFolder(actionId) {
        wnd = window.open("{phpgwurl}&popup=1&action=FolderList&dn={fldDN}&actionid="+actionId,"","width=320,height=400,toolbar=no,scrollbars=yes,resizable=yes");
        wnd.focus();
    }

	function addybook(extraparm)
	{
		Window1=window.open("{js_addylink}"+extraparm,"Search","width=800{jsaddybook_width},height=600{jsaddybook_height},toolbar=no,scrollbars=yes,resizable=yes");
	}
    //-->
    </script>
<input type="hidden" name="RUSureResult" value="1" />
<input type="hidden" name="fldType" value="{fldType}" />
<table style="margin-bottom: 20px; border: 2px solid #FFFFFF" cellspacing="2" cellpadding="2">
  <tr class="header">
    <td colspan="2">
    	{l_filter_name}
    </td>
    <td>
      <input type="text" name="fldName" size="30" value="{fldName}" />
    </td>
  </tr>
  <tr>
    <td colspan="3"style="height: 10px" class="bg_color1">
    </td>
  </tr>
  <tr>
    <td colspan="2" class="bg_color1"></td>
    <td class="bg_color2">
      <select id="sbTime" name="fldTime[mode]" onchange="showtime()">
        <option value="0" {fldtimemodesel0}>{l_always_if}</option>
        <option value="1" {fldtimemodesel1}>{l_if_in_period}</option>
      </select>
      <div id="timestyle" style="visibility:{fldTimeRangeVisibility}"> {l_from}&nbsp;
        <input type="text" name="fldTime[from]" size="12" value="{fldTimeFrom}" />
&nbsp;{l_until}&nbsp;
        <input type="text" name="fldTime[to]" size="12" value="{fldTimeTo}" />
      </div>
    </td>
  </tr>
  <!-- BEGIN RulesMode -->
  <tr>
    <td colspan="2" class="bg_color1"></td>
    <td class="bg_color2">
      <select name="fldRulesMode">
        <option value="||" {fldRulesModeSelOr}>{l_one_of_the_following_rules_apply}</option>
        <option value="&&" {fldFulesModeSelAnd}>{l_all_of_the_following_rules_apply}</option>
      </select>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="height: 10px" class="bg_color1"></td>
  </tr>
  <tr class="header">
    <td colspan="3" valign="bottom">{l_rules}</td>
  </tr>
  <!-- END RulesMode -->
  <!-- BEGIN RulesList -->
  <tr>
    <td colspan="2" style="width: 24px; text-align: right" class="bg_color1">
      <input type="image" 
             name="btnDeleteRule[{fldPatternId}][]"
             onclick="RUSure(this,'{fldPattern}')"
             title="{l_delete}"
             alt="{l_delete}"
             src="{imgDir}/images/btn_delete.png"
      />
    </td>
    <td class="bg_color2">
      <input type="text" name="fldRules[{fldPatternId}][pattern]" size="30" value="{fldPattern}" />
      <select name="fldRules[{fldPatternId}][not]">
        <option value="0" {fldRulesNotSel0}> </option>
        <option value="1" {fldRulesNotSel1}>{l_not}</option>
      </select>
      <select name="fldRules[{fldPatternId}][field]">
        <option value="-1">({l_select_comparison_field})</option>
        <option value="0" {fldRulesFieldSel0}>{l_in_recipient} (to, cc)</option>
        <option value="1" {fldRulesFieldSel1}>{l_in_addressor}</option>
        <option value="2" {fldRulesFieldSel2}>{l_in_subject}</option>
        <option value="3" {fldRulesFieldSel3}>{l_in_text}</option>
        <option value="4" {fldRulesFieldSel4}>{l_in_subject_or_text}</option>
      </select>
    </td>
  </tr>
  <!-- END RulesList -->
  <tr>
    <td colspan="3" style="height: 10px" class="bg_color1"></td>
  </tr>
  <!-- BEGIN Actions -->
  <tr class="header">
    <td colspan="3" valign="bottom">
    	{l_actions}
    </td>
  </tr>
  <!-- BEGIN ActionsList -->
  <tr>
    <td colspan="2" style="width: 24px; text-align: right" class="bg_color1">
      <input type="image" 
             name="btnDeleteAction[{fldActionId}][]"
             onclick="RUSure(this,'diese Aktion')"
             title="{l_delete}"
             alt="{l_delete}"
             src="{imgDir}/images/btn_delete.png"
      />
    </td>
    <td class="bg_color2" nowrap="nowrap" >
      <select id="fldAction{fldActionId}" name="fldActions[{fldActionId}][action]" onchange="showfolderselect('fldAction{fldActionId}', 'fldFolders{fldActionId}')">
        <option value="-1">({l_select_new_action})</option>
        <option value="0" {fldActionSel0}>{l_move_mail_in_the_folder}</option>
        <option value="1" {fldActionSel1}>{l_copy_mail_in_the_folder}</option>
        <option value="2" {fldActionSel2}>{l_mail_redirect_to_recipient}</option>
        <option value="3" {fldActionSel3}>{l_mail_copy_to_recipient}</option>
        <option value="4" {fldActionSel4}>{l_delete_mail}</option>
      </select>
      <input type="text" id="fldActionTarget_{fldActionId}" name="fldActions[{fldActionId}][target]" size="30" value="{fldActionTarget}" />
      <a id="fldFolders{fldActionId}" href="javascript:selectFolder('{fldActionId}')" style="visibility:{selectFolderVisibility}"> {l_select_folder}</a> </td>
  </tr>
  <!-- END ActionsList -->
  <!-- END Actions -->
  <!-- BEGIN Autoreply -->
  <tr class="header">
    <td colspan="3" valign="bottom">
    	{l_message}
    </td>
  </tr>
  <tr class="bg_color2">
    <td colspan="2"></td>
    <td>
      <textarea name="fldAutoreplyText" rows="5" cols="70">{fldAutoreply}</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="bg_color1">{l_text_file}</td>
    <td class="bg_color2">
      <input type="hidden" name="MAX_FILE_SIZE" value="0" />
      <input name="fldAutoreplyFile" type="file" size="60" />
    </td>
  </tr>
  <tr>
    <td colspan="2" class="bg_color1">
    	{l_forwarding_to_agent}
    </td>
    <td class="bg_color2">
      <input name="fldVertreter" type="text" size="60" value="{fldVertreter}" />
		<a href="javascript:addybook('&hidecc=1&hidebcc=1&formname=pbwebmaui&fn_to=fldVertreter')"> {l_select_address}</a>
    </td>
  </tr>
  <!-- END Autoreply -->
</table>
<!-- END Content -->
</body>
</html>
