body, div, input, p, select, textarea
{
	font-family: "Liberation Sans", Verdana, sans-serif;
	font-size: 1em;
}

a
{
	text-decoration: none;
}

a:hover, a:active
{
	text-decoration: underline;
}

img
{
	border: 0px;
}

textarea
{
	white-space: normal;
}

thead
{
	background-color: #d3dce3;
	font-weight: bold;
	text-align: center;
}

.button_group
{
	text-align: center;
}

.link_group
{
	text-align: center;
}
.error
{
	background-color: #fcc;
	border: 1px solid #f00;
	color: #f00;
}

.msg
{
	color: #f00;
	font-weight: bold;
	text-align: center;
}

.msg_good
{
	background-color:  #99FF66;
	border: 1px solid #00CC00;
	font-weight: bold;
	text-align: center;
}
ol.source
{
	background-color: #ccc;
	border: 1px solid #ccc;
	height: 300px;
	list-style-type: decimal;
	overflow: auto;
	padding-left: 4em;
}

ol.source li
{
	background-color: #fff;
	border-bottom: 1px dashed #eee;
	display: list-item;
	font-family: monospace;
	list-style-type: decimal;
	white-space: pre;
}
