div.border-layout div.layout-center hr {
	display: none;
}

div.border-layout div.layout-center div.panel div.body {
	padding: 0px;
}

div.border-layout div.layout-center div.toolbar form {
	display: inline;
}
div.border-layout div.layout-center div.toolbar select {
	margin: 0px;
	display: inline;
	float: none;
	margin: 0em 0.2em;
	vertical-align: middle;
}
