<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
<!-- BEGIN Content -->
<script type="text/javascript"><!--
        function selectFolder(actionId, folder) {
//            alert("selectFolder("+actionId+", "+folder+")");

            el = opener.document.getElementById("fldActionTarget_"+actionId);
//            alert("el="+el);
            el.value = folder;
            self.close();
        }
    //-->
    </script>
<table cellspacing="1" border="0" cellpadding="2">
  <!-- BEGIN Folder -->
  <tr valign="top" class="{ListClass}">
    <td align="left"><a href='javascript:selectFolder("{ActionId}","{Folder}")'>{FolderName}</a></td>
  </tr>
  <!-- END Folder -->
</table>
<!-- END Content -->
</body>
</html>
