<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Mainframe including Header, Menu, Workspace -->
<title>pb.WebMAUI</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/javascript" src="./templates/default/dhtml.js"></script>
<link rel="stylesheet" type="text/css" href="./templates/default/main.css" />
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="left">
  <tr>
    <td colspan="2" height="50">{Title}</td>
  </tr>
  <tr>
    <td valign="top" width="180" height="300">{Menu}</td>
    <td valign="top" align="left">{Workspace}</td>
  </tr>
  <tr>
    <td colspan="2">{DebugArea}</td>
  </tr>
</table>
</body>
</html>
