.shortcut {
  display:flex;
  flex-direction: column;
  background-color: $white;
  padding: 3.5rem 2.5rem;
  align-items: center;
  margin-top: 4rem;
  border-radius: $rounded-large;
  width: 100%;
  
  img {
    max-width: 20rem;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: -7rem;
  }
}