a, a:visited
{
	text-decoration:none;
	color: blue;
}


a:active, a:hover
{
	text-decoration:none;
	color: red;
}

body
{
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-family: Arial, Helvetica, san-serif;
}

.row_on
{
	color: #000;
	background-color: #ddd;
}

.row_off
{
	color: #000;
	background-color: #eee;
}

#navbar, #footer ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#navbar, #footer
{
	background-color: #99f;
}

#navbar li
{
	display: inline;
	margin: 0;
	padding: 3px;
}

#navbar-current-app
{
	text-align: center;
	font-weight: bold;
	background-color: #d3dce3;
	padding:5px;
}

#footer li
{
	display: block;
	float: left;
	font-size: smaller;
	font-weight: bold;
	padding: 3px; 
	text-align: center;
	width: 33%;
}

#footer li, #footer a
{
	color: #fff;
}

th
{
	color: #000;
	background-color: #d3dce3;
}

.tablink
{
	color: #000;
}

img, input[type=image]
{
	border: 0px;
}
