
#app_header 
{
	text-align: center;
	font-weight: bold;
	background-color: #80BBFF;
	padding:5px
}

body,p,td,th,table,input,form,option
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

body
{
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
}

img, input[type=image]
{
	border: 0px;
}

table
{
	border-width: 0;
}

td.alarm
{
	color: #FF0000;
}

a:link,a:visited,a:active,a:hover
{
	text-decoration: none;
}

a.th,a.th_text
{
	font-weight: bold;
}

table.portal
{
	width: 100%;
}

table.about
{
	width: 70%;
}

table.login
{
	margin-top: 130px;
	width: 40%;
	text-align: center;
}

.login,.portal,.about,.msgbox
{
	border-width: 1px;
	border-style: ridge;
}

.small_text
{
	font-size: 80%;
}

.header_text
{
	font-size: 110%;
	font-weight: bold;
}

.th_text,.app_header,.th
{
	font-weight: bold;
}


.app_header
{
	text-align: center;
	padding: 2px;
	padding-top: 5px;
}

body,p,td,th,table,input,form,option
{
	color: #000000;
}

body
{
	background-color: #FFFFFF;
}

a:link,a:visited,a:active
{
	color: mediumblue;
}

a:hover
{
	color: #cc0000;
}

.navbar,.th,.app_header
{
	background-color: #80BBFF;
}

.login,.portal,.about
{
	background-color: #80BBFF;
	border-color: #000000;
}

.portal_text,.info
{
	color: #FFFFFF;
}

.row_on,.th_bright
{
	background-color: #CCEEFF;
}

.msgbox
{
	background-color: #FFFFFF;
}

.row_off
{
	background-color: #DDF0FF;
}

.cal_today
{
	background-color: #FFFFCC;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email_folder
{
	background-color: #7090FF;
	color: #FFFFFF;
}

a.info,.info
{
	font-weight: bold;
}

/* Used by tabs */
ul.tabs
{
	background-image: url('../images/tabs-bg.png');
	height: 32px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.tabs li
{
	display: block;
	float: left;
	height: 32px;
	margin: 0px;
	padding: 0px;
	width: 150px;
}

ul.tabs li a, ul.tabs li input
{
	background-image: url('../images/tab-r.png');
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0px;
	color: #000;
	display: block;
	height: 32px;
	overflow: hidden;
	padding-top: 7px;
	text-decoration: none;
	white-space: nowrap; 
	width: 150px;
}

ul.tabs li.tablast
{
	background-color: transparent;
	background-image: url('../images/tab-last.png');
	background-repeat: no-repeat;
}

ul.tabs li.activetab
{
	background-color: transparent;
	background-image: url('../images/tab-active-bg.png');
	height: 32px;
}

ul.tabs li.activetab a
{
	background-image: url('../images/tab-active-r.png');
	background-position: top right;
}
 
ul.tabs li
{
	background-image: url('../images/tab-bg.png');
	color:#069;
	height: 32px;
	text-align: center;
	white-space: nowrap;
}

  /*
   * Sidebox menu style
   */
 
 .horbar	{
	color: #212020;
	background-color: #ECE9D8;
	border: 1px solid #FFFFFF;
}

.horbaritem	{
	float: left;
	white-space: nowrap;
	font-family: luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 14px;
}

.horbaritem a	{
	display: block;
	text-decoration: none;
}

.horbaritem a:link	{
	color: #000000;
}

.horbaritem a:visited	{
	color: #000000;
}

.horbaritem a:hover	{
	color: #ffffff;
	background-color: #808080;
}

.horbaritem a:active	{
	color: #ff0000;
}

.verbar	{
	color: black;
	background-color: #dcdad5;
	border: 2px outset #cecac1;
}

.submenu	{
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.subframe	{
	position: relative;
	display: block;
	background-color: #dcdad5;
	border: 2px solid #cecac1;
}

.item	{
	position: relative;
	text-align: left;
	white-space: nowrap;
	font-family: luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 14px;
}

.item a	{
	position: relative;
	display: block;
	text-decoration: none;
}

.item a:link	{
	color: #000000;
}

.item a:visited	{
	color: #000000;
}

.item a:hover	{
	color: #ffffff;
	background-color: #808080;
}

.item a:active	{
	color: #ff0000;
}

.item .fwdarr	{
	position: absolute;
	top: 5px;
/*	right: 4px; */
	right: 7px;
}

TR.passed
{
	background-color: #d5d7d7;
}

TR.notpassed
{
	background-color: #bd6767;
}

ol.source
{
	background-color: #ccc;
	border: 1px solid #ccc;
	height: 300px;
	list-style-type: decimal;
	overflow: auto;
	padding-left: 4em;
}

ol.source li
{
	background-color: #fff;
	border-bottom: #eee;
	display: list-item;
	font-family: monospace;
	list-style-type: decimal;
	white-space: pre;
}
