/*
 *
 * Theme
 */
/*
Font
-Settes til Calibri eller PT Sans
-Blå titler ha fargekode #2d6d8f
-Linker skal ha fargekode #2d6d8f. De skal også (helst) være underlinjert. De må endres ved mouseover – farge endres til fargekoden #00acb8 (og evt. at underline kommer først ved mouseover).
*/

body {
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.home-menu {
	background: rgb(231, 239,241);
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: #2d6d8f;
	letter-spacing: 0.1em;
    font-weight: normal;
   /* text-transform: uppercase;*/
}

.pure-g [class*="pure-u"] {
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

.footer {
	background: #383838;
}

.home-menu .pure-menu-heading {
    color: #2d6d8f;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: #2d6d8f;
}

.home-menu a {
    color: #2d6d8f;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
  /*  border: none;*/
    color: #00acb8;
}

a {
    color: #2d6d8f;
    text-decoration: none;
    cursor: pointer;
    background: transparent none repeat scroll 0 0;
}
a:hover{
    text-decoration: underline;

}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: #2d6d8f;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    display: block;
    text-align: left;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}


.custom-menu-toggle .bar {
    background-color: #2d6d8f;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
   /* background-color: rgba(0, 0, 0, 0.5);*/
	background-color: rgb(231, 239,241);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

@media (max-width: 62em) {

    .custom-menu {
        display: block;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #2d3e50\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }

}