<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<!-- BEGIN Content -->
<script type="text/javascript">
<!--
function RUSure(btn, s) { // aRe yoU Sure?
	if (!confirm("Wollen Sie "+s+" löschen?")) {
		btn.form.RUSureResult.value=0;
	}
}
//-->
</script>
<input type="hidden" name="RUSureResult" value="1" />
<table style="width: 500px; margin-bottom: 20px; border: 2px solid #FFFFFF" cellspacing="2" cellpadding="1">
	<tr>
		<td class="header" colspan="4">
			{l_mail_filter}:
		</td>
	</tr>
	<!-- BEGIN FilterList -->
	<tr class="bg_color2">
		<td style="width: 14px">
			<input type="checkbox" {fldActive} name="activate[{fldId}]" />
		</td>
		<td style="width: 100%">
			<a href="{fldLink}">{fldName}</a>
		</td>
		<td>
			{fldTime}
		</td>
		<td style="text-align: right">
			<input type="image" 
             name="btnDelete[{fldId}][]"
             onclick="RUSure(this,'{fldName}')"
             title="{l_delete}"
             alt="{l_delete}"
             src="{imgDir}/images/btn_delete.png"
      />
    </td>
  </tr>
  <!-- END FilterList -->
  <tr>
    <td colspan="4" style="height: 10px" class="bg_color1">
    	
    </td>
  </tr>
  <tr>
    <td colspan="4" class="header">
    	{l_absence}:
    </td>
  </tr>
  <!-- BEGIN AbsentList -->
  <tr class="bg_color2">
    <td>
    	<input type="checkbox" {fldActive} name="activate[{fldId}]" style="width: 14px" />
    </td>
    <td style="width: 100%">
    	<a href="{fldLink}">{fldName}</a>
    </td>
    <td>
    	{fldTime}
    </td>
    <td>
      <input type="image" 
             name="btnDelete[{fldId}][]"
             onclick="RUSure(this,'{fldName}')"
             title="{l_delete}"
             alt="{l_delete}"
             src="{imgDir}/images/btn_delete.png"
      />
    </td>
  </tr>
  <!-- END AbsentList -->
</table>
<!-- END Content -->
</body>
</html>
