.text-primary {
  color: #793C8A !important;
}
.text-secondary {
  color: #28358B !important;
}

.text-purple {
  color: #793C8A;
}

.bg-purple, .calendar .calendar-body .event-temporary {
  background-color: #793C8A;
}

.bgo-purple-80 {
  background-color: rgba(121, 60, 138, 0.8);
}

.bgo-purple-64 {
  background-color: rgba(121, 60, 138, 0.64);
}

.bgo-purple-56 {
  background-color: rgba(121, 60, 138, 0.56);
}

.bgo-purple-40 {
  background-color: rgba(121, 60, 138, 0.4);
}

.bgo-purple-24 {
  background-color: rgba(121, 60, 138, 0.24);
}

.bgo-purple-16 {
  background-color: rgba(121, 60, 138, 0.16);
}

.bgo-purple-8 {
  background-color: rgba(121, 60, 138, 0.08);
}

.bgo-purple-4 {
  background-color: rgba(121, 60, 138, 0.04);
}

.bg-purple-80 {
  background-color: #9463a1;
}

.bg-purple-64 {
  background-color: #a982b4;
}

.bg-purple-56 {
  background-color: #b492bd;
}

.bg-purple-40 {
  background-color: #c9b1d0;
}

.bg-purple-24 {
  background-color: #dfd0e3;
}

.bg-purple-16 {
  background-color: #e9e0ec;
}

.bg-purple-8 {
  background-color: #f4f0f6;
}

.bg-purple-4 {
  background-color: #faf7fa;
}

.text-blue {
  color: #28358B;
}

.bg-blue, .calendar .calendar-body .event-event {
  background-color: #28358B;
}

.bgo-blue-80 {
  background-color: rgba(40, 53, 139, 0.8);
}

.bgo-blue-64 {
  background-color: rgba(40, 53, 139, 0.64);
}

.bgo-blue-56 {
  background-color: rgba(40, 53, 139, 0.56);
}

.bgo-blue-40 {
  background-color: rgba(40, 53, 139, 0.4);
}

.bgo-blue-24 {
  background-color: rgba(40, 53, 139, 0.24);
}

.bgo-blue-16 {
  background-color: rgba(40, 53, 139, 0.16);
}

.bgo-blue-8 {
  background-color: rgba(40, 53, 139, 0.08);
}

.bgo-blue-4 {
  background-color: rgba(40, 53, 139, 0.04);
}

.bg-blue-80 {
  background-color: #535da2;
}

.bg-blue-64 {
  background-color: #767eb5;
}

.bg-blue-56 {
  background-color: #868ebe;
}

.bg-blue-40 {
  background-color: #a9aed1;
}

.bg-blue-24 {
  background-color: #cccfe3;
}

.bg-blue-16 {
  background-color: #dcdfec;
}

.bg-blue-8 {
  background-color: #eeeff6;
}

.bg-blue-4 {
  background-color: #f7f7fa;
}

.text-black, .calendar .calendar-body .info .info-inner, .calendar .calendar-body .available-slot, .calendar .calendar-body .event-booking, .calendar .calendar-body .event-allocation {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.bgo-black-80 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bgo-black-64 {
  background-color: rgba(0, 0, 0, 0.64);
}

.bgo-black-56 {
  background-color: rgba(0, 0, 0, 0.56);
}

.bgo-black-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bgo-black-24 {
  background-color: rgba(0, 0, 0, 0.24);
}

.bgo-black-16 {
  background-color: rgba(0, 0, 0, 0.16);
}

.bgo-black-8 {
  background-color: rgba(0, 0, 0, 0.08);
}

.bgo-black-4 {
  background-color: rgba(0, 0, 0, 0.04);
}

.bg-black-80 {
  background-color: #333333;
}

.bg-black-64 {
  background-color: #5c5c5c;
}

.bg-black-56 {
  background-color: #707070;
}

.bg-black-40 {
  background-color: #999999;
}

.bg-black-24 {
  background-color: #c2c2c2;
}

.bg-black-16 {
  background-color: #d6d6d6;
}

.bg-black-8 {
  background-color: #ebebeb;
}

.bg-black-4 {
  background-color: #f5f5f5;
}

.text-beige-dark {
  color: #E6E3DB;
}

.bg-beige-dark {
  background-color: #E6E3DB;
}

.bgo-beige-dark-80 {
  background-color: rgba(230, 227, 219, 0.8);
}

.bgo-beige-dark-64 {
  background-color: rgba(230, 227, 219, 0.64);
}

.bgo-beige-dark-56 {
  background-color: rgba(230, 227, 219, 0.56);
}

.bgo-beige-dark-40 {
  background-color: rgba(230, 227, 219, 0.4);
}

.bgo-beige-dark-24 {
  background-color: rgba(230, 227, 219, 0.24);
}

.bgo-beige-dark-16 {
  background-color: rgba(230, 227, 219, 0.16);
}

.bgo-beige-dark-8 {
  background-color: rgba(230, 227, 219, 0.08);
}

.bgo-beige-dark-4 {
  background-color: rgba(230, 227, 219, 0.04);
}

.bg-beige-dark-80 {
  background-color: #ebe9e2;
}

.bg-beige-dark-64 {
  background-color: #efede8;
}

.bg-beige-dark-56 {
  background-color: #f1efeb;
}

.bg-beige-dark-40 {
  background-color: #f5f4f1;
}

.bg-beige-dark-24 {
  background-color: #f9f8f6;
}

.bg-beige-dark-16 {
  background-color: #fbfaf9;
}

.bg-beige-dark-8 {
  background-color: #fdfdfc;
}

.bg-beige-dark-4 {
  background-color: #fefefe;
}

.text-beige {
  color: #F7F5F0;
}

.bg-beige {
  background-color: #F7F5F0;
}

.bgo-beige-80 {
  background-color: rgba(247, 245, 240, 0.8);
}

.bgo-beige-64 {
  background-color: rgba(247, 245, 240, 0.64);
}

.bgo-beige-56 {
  background-color: rgba(247, 245, 240, 0.56);
}

.bgo-beige-40 {
  background-color: rgba(247, 245, 240, 0.4);
}

.bgo-beige-24 {
  background-color: rgba(247, 245, 240, 0.24);
}

.bgo-beige-16 {
  background-color: rgba(247, 245, 240, 0.16);
}

.bgo-beige-8 {
  background-color: rgba(247, 245, 240, 0.08);
}

.bgo-beige-4 {
  background-color: rgba(247, 245, 240, 0.04);
}

.bg-beige-80 {
  background-color: #f9f7f3;
}

.bg-beige-64 {
  background-color: #faf9f5;
}

.bg-beige-56 {
  background-color: #fbf9f7;
}

.bg-beige-40 {
  background-color: #fcfbf9;
}

.bg-beige-24 {
  background-color: #fdfdfb;
}

.bg-beige-16 {
  background-color: #fefdfd;
}

.bg-beige-8 {
  background-color: #fefefe;
}

.bg-beige-4 {
  background-color: #fffffe;
}

.text-grey {
  color: #D6D6D6;
}

.bg-grey {
  background-color: #D6D6D6;
}

.bgo-grey-80 {
  background-color: rgba(214, 214, 214, 0.8);
}

.bgo-grey-64 {
  background-color: rgba(214, 214, 214, 0.64);
}

.bgo-grey-56 {
  background-color: rgba(214, 214, 214, 0.56);
}

.bgo-grey-40 {
  background-color: rgba(214, 214, 214, 0.4);
}

.bgo-grey-24 {
  background-color: rgba(214, 214, 214, 0.24);
}

.bgo-grey-16 {
  background-color: rgba(214, 214, 214, 0.16);
}

.bgo-grey-8 {
  background-color: rgba(214, 214, 214, 0.08);
}

.bgo-grey-4 {
  background-color: rgba(214, 214, 214, 0.04);
}

.bg-grey-80 {
  background-color: #dedede;
}

.bg-grey-64 {
  background-color: #e5e5e5;
}

.bg-grey-56 {
  background-color: #e8e8e8;
}

.bg-grey-40 {
  background-color: #efefef;
}

.bg-grey-24 {
  background-color: #f5f5f5;
}

.bg-grey-16 {
  background-color: #f8f8f8;
}

.bg-grey-8 {
  background-color: #fcfcfc;
}

.bg-grey-4 {
  background-color: #fdfdfd;
}

.text-grey-light {
  color: #F5F5F5;
}

.bg-grey-light, .calendar .calendar-body .available-slot.disabled {
  background-color: #F5F5F5;
}

.bgo-grey-light-80 {
  background-color: rgba(245, 245, 245, 0.8);
}

.bgo-grey-light-64 {
  background-color: rgba(245, 245, 245, 0.64);
}

.bgo-grey-light-56 {
  background-color: rgba(245, 245, 245, 0.56);
}

.bgo-grey-light-40 {
  background-color: rgba(245, 245, 245, 0.4);
}

.bgo-grey-light-24 {
  background-color: rgba(245, 245, 245, 0.24);
}

.bgo-grey-light-16 {
  background-color: rgba(245, 245, 245, 0.16);
}

.bgo-grey-light-8 {
  background-color: rgba(245, 245, 245, 0.08);
}

.bgo-grey-light-4 {
  background-color: rgba(245, 245, 245, 0.04);
}

.bg-grey-light-80 {
  background-color: #f7f7f7;
}

.bg-grey-light-64 {
  background-color: #f9f9f9;
}

.bg-grey-light-56 {
  background-color: #f9f9f9;
}

.bg-grey-light-40 {
  background-color: #fbfbfb;
}

.bg-grey-light-24 {
  background-color: #fdfdfd;
}

.bg-grey-light-16 {
  background-color: #fdfdfd;
}

.bg-grey-light-8 {
  background-color: #fefefe;
}

.bg-grey-light-4 {
  background-color: #ffffff;
}

.text-white, .calendar .calendar-body .event-temporary, .calendar .calendar-body .event-event {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.bgo-white-80 {
  background-color: rgba(255, 255, 255, 0.8);
}

.bgo-white-64 {
  background-color: rgba(255, 255, 255, 0.64);
}

.bgo-white-56 {
  background-color: rgba(255, 255, 255, 0.56);
}

.bgo-white-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.bgo-white-24 {
  background-color: rgba(255, 255, 255, 0.24);
}

.bgo-white-16 {
  background-color: rgba(255, 255, 255, 0.16);
}

.bgo-white-8 {
  background-color: rgba(255, 255, 255, 0.08);
}

.bgo-white-4 {
  background-color: rgba(255, 255, 255, 0.04);
}

.text-green-light {
  color: #B0FF94;
}

.bg-green-light, .calendar .calendar-body .available-slot.selected {
  background-color: #B0FF94;
}

.bgo-green-light-80 {
  background-color: rgba(176, 255, 148, 0.8);
}

.bgo-green-light-64 {
  background-color: rgba(176, 255, 148, 0.64);
}

.bgo-green-light-56 {
  background-color: rgba(176, 255, 148, 0.56);
}

.bgo-green-light-40 {
  background-color: rgba(176, 255, 148, 0.4);
}

.bgo-green-light-24 {
  background-color: rgba(176, 255, 148, 0.24);
}

.bgo-green-light-16 {
  background-color: rgba(176, 255, 148, 0.16);
}

.bgo-green-light-8 {
  background-color: rgba(176, 255, 148, 0.08);
}

.bgo-green-light-4 {
  background-color: rgba(176, 255, 148, 0.04);
}

.text-red-light {
  color: #FF9494;
}

.bg-red-light {
  background-color: #FF9494;
}

.bgo-red-light-80 {
  background-color: rgba(255, 148, 148, 0.8);
}

.bgo-red-light-64 {
  background-color: rgba(255, 148, 148, 0.64);
}

.bgo-red-light-56 {
  background-color: rgba(255, 148, 148, 0.56);
}

.bgo-red-light-40 {
  background-color: rgba(255, 148, 148, 0.4);
}

.bgo-red-light-24 {
  background-color: rgba(255, 148, 148, 0.24);
}

.bgo-red-light-16 {
  background-color: rgba(255, 148, 148, 0.16);
}

.bgo-red-light-8 {
  background-color: rgba(255, 148, 148, 0.08);
}

.bgo-red-light-4 {
  background-color: rgba(255, 148, 148, 0.04);
}

.text-red-error {
  color: #B00020;
}

.bg-red-error {
  background-color: #B00020;
}

.bgo-red-error-80 {
  background-color: rgba(176, 0, 32, 0.8);
}

.bgo-red-error-64 {
  background-color: rgba(176, 0, 32, 0.64);
}

.bgo-red-error-56 {
  background-color: rgba(176, 0, 32, 0.56);
}

.bgo-red-error-40 {
  background-color: rgba(176, 0, 32, 0.4);
}

.bgo-red-error-24 {
  background-color: rgba(176, 0, 32, 0.24);
}

.bgo-red-error-16 {
  background-color: rgba(176, 0, 32, 0.16);
}

.bgo-red-error-8 {
  background-color: rgba(176, 0, 32, 0.08);
}

.bgo-red-error-4 {
  background-color: rgba(176, 0, 32, 0.04);
}

.text-yellow-light {
  color: #FFEE94;
}

.bg-yellow-light, .calendar .calendar-body .available-slot {
  background-color: #FFEE94;
}

.bgo-yellow-light-80 {
  background-color: rgba(255, 238, 148, 0.8);
}

.bgo-yellow-light-64 {
  background-color: rgba(255, 238, 148, 0.64);
}

.bgo-yellow-light-56 {
  background-color: rgba(255, 238, 148, 0.56);
}

.bgo-yellow-light-40 {
  background-color: rgba(255, 238, 148, 0.4);
}

.bgo-yellow-light-24 {
  background-color: rgba(255, 238, 148, 0.24);
}

.bgo-yellow-light-16 {
  background-color: rgba(255, 238, 148, 0.16);
}

.bgo-yellow-light-8 {
  background-color: rgba(255, 238, 148, 0.08);
}

.bgo-yellow-light-4 {
  background-color: rgba(255, 238, 148, 0.04);
}

.colorbox {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  flex: none;
}
.colorbox--large {
  height: 80px;
  width: 80px;
}

.flex-auto {
  flex: auto;
}

.main-container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 992px) {
  .main-container {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}

.heading-underline {
  border-bottom: 1px solid #dfd0e3;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

fieldset {
  padding: 0;
}

.pb-2r {
  padding-bottom: 2rem;
}

.mb-2r {
  margin-bottom: 2rem;
}

.fi {
  width: 1.625rem;
  height: 1.25rem;
  border-radius: 0.25rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}
@media (max-width: 1024px) {
  body {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

h1, .h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  line-height: 4.25rem;
}
@media (max-width: 1024px) {
  h1, .h1 {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}

h2, .h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.75rem;
}
@media (max-width: 1024px) {
  h2, .h2 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

h3, .h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}
@media (max-width: 1024px) {
  h3, .h3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

h4, .h4 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
@media (max-width: 1024px) {
  h4, .h4 {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.font-size-h1 {
  height: 4.25rem;
}
@media (max-width: 1024px) {
  .font-size-h1 {
    height: 2.75rem;
  }
}
.font-size-h2 {
  height: 2.75rem;
}
@media (max-width: 1024px) {
  .font-size-h2 {
    height: 1.875rem;
  }
}
.font-size-h3 {
  height: 1.625rem;
}
@media (max-width: 1024px) {
  .font-size-h3 {
    height: 1.5rem;
  }
}
.font-size-h4 {
  height: 1.75rem;
}
@media (max-width: 1024px) {
  .font-size-h4 {
    height: 1.375rem;
  }
}
.font-size-small {
  height: 0.9375rem;
}
@media (max-width: 1024px) {
  .font-size-small {
    height: 0.84375rem;
  }
}

.text-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media (max-width: 1024px) {
  .text-small {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
.text-overline {
  font-size: 0.75rem;
  line-height: 1.375rem;
  text-transform: uppercase;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .text-overline {
    font-size: 0.625rem;
    line-height: 1.25rem;
  }
}
.text-body, .text-normal, .text-medium, .text-lg {
  font-size: 1rem;
  line-height: 1.75rem;
}
@media (max-width: 1024px) {
  .text-body, .text-normal, .text-medium, .text-lg {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
.text-label {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .text-label {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.625rem;
}
@media (max-width: 1024px) {
  .text-xl {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
.text-2xl {
  font-size: 2.25rem;
  line-height: 2.75rem;
}
@media (max-width: 1024px) {
  .text-2xl {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}
.text-3xl, .text-4xl {
  font-size: 3.5rem;
  line-height: 4.25rem;
}
@media (max-width: 1024px) {
  .text-3xl, .text-4xl {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}
.text-normal {
  font-weight: 400;
}
.text-bold {
  font-weight: 700;
}
.text-bolder {
  font-weight: 900;
}

.line-height-h1 {
  line-height: 2.75rem;
}
@media (max-width: 1024px) {
  .line-height-h1 {
    line-height: 1.875rem;
  }
}
.line-height-h2 {
  line-height: 1.625rem;
}
@media (max-width: 1024px) {
  .line-height-h2 {
    line-height: 1.5rem;
  }
}
.line-height-h3 {
  line-height: 1.75rem;
}
@media (max-width: 1024px) {
  .line-height-h3 {
    line-height: 1.375rem;
  }
}
.line-height-h4 {
  line-height: 1.25rem;
}
@media (max-width: 1024px) {
  .line-height-h4 {
    line-height: 1.125rem;
  }
}

.box-shadow {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}
.box-shadow--large {
  box-shadow: 3px 3px 50px 0px rgba(0, 0, 0, 0.1);
}

.divider {
  height: 1px;
  border-color: rgba(40, 53, 139, 0.2);
}
.divider-primary {
  border-color: rgba(121, 60, 138, 0.2);
}

.rounded-mini {
  border-radius: 0.5rem;
}
.rounded-small {
  border-radius: 1rem;
}
.rounded-medium {
  border-radius: 2rem;
}
.rounded-medium-bottom {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.rounded-large {
  border-radius: 3.125rem;
}
.rounded-large-bottom {
  border-bottom-left-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem;
}

:root {
  --day-width: 1fr;
  --time-width: 3em;
  --calendar-rows: 1;
  --header-height: 110px;
  --day-columns: 12;
}
@media all and (max-width: 480px) {
  :root {
    --time-width: 2em;
    --header-height: 130px;
  }
}

#ui-datepicker-div {
  z-index: 20 !important;
}

.calendar {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
}
.calendar .header {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 24px;
}
.calendar .header .date {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  flex-grow: 1;
}
.calendar .header .date fieldset {
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}
.calendar .header .date fieldset label {
  display: block;
}
.calendar .header .date .date-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.calendar .header .date .date-selector .pe-btn--circle {
  border-radius: 50%;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 480px) {
  .calendar .header .date fieldset {
    flex-grow: 1;
  }
  .calendar .header .date input {
    flex-grow: 1;
  }
}
.calendar .header .calendar-settings {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.calendar .header .temp-event-pills {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; /* space between pills */
}
.calendar .header .temp-event-pills .temp-event-pill {
  padding: 0px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5px; /* space between text and 'x' */
}
.calendar .header .info-types {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.calendar .header .pending-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.calendar .header .pending-row .pills {
  display: none;
}
.calendar .header .pending-row .pills.collapsed {
  max-height: 2.75rem;
}
@media screen and (min-width: 840px) {
  .calendar .header .pending-row .pills {
    min-height: 2.75rem;
    overflow-y: hidden;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}
.calendar .header .pending-row .show-more {
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 10rem;
  align-self: flex-start;
}
.calendar .header .select_building_resource {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 8px;
}
.calendar .header .select_building_resource .resource-switch {
  max-width: 34rem;
}
@media screen and (max-width: 840px) {
  .calendar .header .select_building_resource .resource-switch {
    max-width: unset;
  }
}
.calendar .header .select_building_resource .application-button {
  max-width: 9rem;
  max-height: 3rem;
}
@media screen and (max-width: 840px) {
  .calendar .header .select_building_resource .application-button {
    max-width: unset;
  }
}
@media screen and (max-width: 840px) {
  .calendar .header .select_building_resource {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .calendar .header .select_building_resource .resource-switch {
    max-width: 34rem;
  }
  .calendar .header .select_building_resource > button {
    flex-grow: 1;
  }
}
.calendar .header .select_building_resource > div {
  width: 100%;
}
.calendar .header .select_building_resource > span {
  min-width: 15rem;
}
.calendar .header .select_building_resource select {
  /* Style when the select is disabled */
}
.calendar .header .select_building_resource select:disabled + * {
  opacity: 0.5; /* Reduced opacity to indicate disabled state */
}
.calendar .header .select_building_resource select:disabled + * .select2-selection--single {
  cursor: not-allowed !important; /* Cursor indicating action is not allowed */
}
.calendar .header .type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 20px;
}
.calendar .header .type img {
  height: 14px;
}
.calendar .calendar-body {
  user-select: none;
  overflow-x: scroll;
  display: grid;
  grid-template-rows: 3em auto;
  border-width: 10px 10px 10px 10px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  grid-template-columns: var(--time-width) repeat(7, 1fr);
}
@media all and (min-width: 481px) and (max-width: 992px) {
  .calendar .calendar-body {
    width: calc(300vw + var(--time-width));
  }
}
.calendar .calendar-body .js-basic-datepicker {
  font-size: 1rem;
}
.calendar .calendar-body .title {
  background: #217346;
  text-align: center;
  display: grid;
  place-content: center;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.calendar .calendar-body .days {
  background: #FFFFFF;
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: repeat(7, 1fr);
  position: sticky;
  top: 0;
  z-index: 11;
  line-height: 1rem;
  grid-row: 1/span 1;
  grid-column: 2/span 7;
}
@media all and (max-width: 480px) {
  .calendar .calendar-body .days {
    width: 500vw;
  }
}
@media all and (min-width: 481px) and (max-width: 992px) {
  .calendar .calendar-body .days {
    width: 300vw;
  }
}
.calendar .calendar-body .day {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3em;
  background-color: #F5F5F5;
  margin-right: 1px;
}
.calendar .calendar-body .day :nth-child(2) {
  font-weight: normal;
  font-size: 0.8rem;
}
.calendar .calendar-body .day:last-child {
  margin-right: 0;
}
.calendar .calendar-body .time-container {
  display: grid;
  grid-row: 3/span var(--calendar-rows);
  grid-column: 1/span 1;
  position: sticky;
  left: 0;
  z-index: 10;
  background-color: #FFF;
  height: 100%;
}
.calendar .calendar-body .content {
  display: grid;
  grid-template-columns: repeat(84, 1fr);
  grid-row: 3/span 1;
  grid-column: 2/span 7;
}
@media all and (max-width: 480px) {
  .calendar .calendar-body .content {
    width: 500vw;
  }
}
@media all and (min-width: 481px) and (max-width: 992px) {
  .calendar .calendar-body .content {
    width: 300vw;
  }
}
.calendar .calendar-body .time {
  grid-column: 1;
  text-align: right;
  align-self: end;
  position: relative;
  bottom: -1ex;
  color: #70757a;
  padding-right: 2px;
  height: 12px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1px;
}
.calendar .calendar-body .col {
  border-right: 1px solid #dadce0;
}
.calendar .calendar-body .past-day, .calendar .calendar-body .past-hour {
  background-color: #eaeaea;
  z-index: auto;
}
.calendar .calendar-body .filler-col {
  grid-row: 1/-1;
  grid-column: 2;
  border-right: 1px solid #dadce0;
}
.calendar .calendar-body .row {
  grid-column: 1/-1;
  border-bottom: 1px solid #dadce0;
  margin-left: 0;
  margin-right: 0;
}
.calendar .calendar-body .event {
  z-index: auto;
  position: relative;
  border-radius: 5px;
  padding: 5px;
  font-weight: normal;
  font-size: 1rem;
  border: 1px solid #FFF;
  line-height: 1rem;
  display: grid;
  grid-template-columns: 1fr 1.5rem;
}
.calendar .calendar-body .event .event-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.calendar .calendar-body .event .event-text .event-title {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .calendar .calendar-body .event .event-text .event-title {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
.calendar .calendar-body .event button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.calendar .calendar-body .event-no-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.calendar .calendar-body .event-no-title .event-title {
  display: none;
}
.calendar .calendar-body .weekend {
  background-color: #f1f3f4;
}
.calendar .calendar-body .current {
  font-weight: bold;
}
.calendar .calendar-body .dots-container {
  z-index: 11;
}
.calendar .calendar-body .dots-container i {
  color: white;
}
.calendar .calendar-body .dots-container {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(3em - 10px); /* Adjust as needed */
}
.calendar .calendar-body .dots-container i {
  font-size: 150%; /* Ensures the icon scales with the container */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .calendar-body .event-allocation {
  background-color: #E6E3DB;
  border-color: #FFF;
  position: relative;
}
.calendar .calendar-body .event-allocation .dots {
  height: 16px;
  width: 16px;
  fill: #000;
}
.calendar .calendar-body .event-booking {
  background-color: #999EC1;
  border-color: #FFF;
  position: relative;
}
.calendar .calendar-body .event-booking .dots {
  height: 16px;
  width: 16px;
  fill: #000;
}
.calendar .calendar-body .event-event {
  border-color: #FFF;
  position: relative;
}
.calendar .calendar-body .event-event .dots {
  height: 16px;
  width: 16px;
  filter: invert(100%);
}
.calendar .calendar-body .event-temporary {
  opacity: 85%;
  border-color: #FFF;
  position: relative;
  z-index: 11; /* Ensure they are on top */
}
.calendar .calendar-body .event-temporary.current-temp {
  z-index: auto;
}
.calendar .calendar-body .event-temporary .event-title {
  flex-grow: 1;
}
.calendar .calendar-body .event-temporary::before, .calendar .calendar-body .event-temporary::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 10px; /* Define the height of the resizable area at the top and bottom */
  cursor: ns-resize; /* Two-sided vertical arrow */
  z-index: 12; /* Ensure they are on top */
}
.calendar .calendar-body .event-temporary::before {
  top: 0; /* Position the ::before element at the top */
}
.calendar .calendar-body .event-temporary::after {
  bottom: 0; /* Position the ::after element at the bottom */
}
.calendar .calendar-body .event-temporary .drag-handle {
  bottom: 0;
  display: flex;
  cursor: ns-resize;
  align-items: flex-end;
  justify-content: center;
  grid-column: span 2;
  max-height: 10px;
  align-self: flex-end;
}
.calendar .calendar-body .event-temporary .drag-handle .drag-handle-inner {
  border-radius: 8px;
  min-width: 50%;
  min-height: 3px;
  max-height: 3px;
  background-color: #999999;
}
.calendar .calendar-body .event-small {
  padding: 1px;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.calendar .calendar-body .event-small .event-text .event-title {
  font-size: 1rem;
  line-height: 1.25rem;
}
@media (max-width: 1024px) {
  .calendar .calendar-body .event-small .event-text .event-title {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
.calendar .calendar-body .event-small .dots-container {
  height: 16px;
  width: 16px;
  align-self: inherit;
}
.calendar .calendar-body .event-small .dots-container i {
  font-size: 100%;
}
.calendar .calendar-body .available-slot {
  border-color: #FFF;
  z-index: 4;
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.calendar .calendar-body .available-slot.first-day {
  margin-left: 1.5rem;
}
.calendar .calendar-body .available-slot.second-day {
  margin-right: 1.5rem;
}
.calendar .calendar-body .available-slot.selected {
  opacity: 0.75;
}
.calendar .calendar-body .available-slot.disabled {
  cursor: not-allowed;
  opacity: 0.75;
}
.calendar .calendar-body .info {
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #793C8A;
  background-color: #F5F5F5;
  min-height: 100px;
  min-width: 100px;
  display: none;
  z-index: 12;
}
.calendar .calendar-body .info .info-inner {
  cursor: pointer;
  width: max-content;
}
.calendar .calendar-body .info .info-inner .info-title {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.calendar .calendar-body .info .info-inner .info-title h3 {
  margin: 0;
}
.calendar .calendar-body .info .info-inner .info-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.calendar .calendar-body .info[data-show] {
  display: flex;
}
.calendar .event-filter {
  filter: invert(16%) sepia(22%) saturate(6235%) hue-rotate(219deg) brightness(105%) contrast(91%);
}
.calendar .booking-filter {
  filter: invert(65%) sepia(11%) saturate(712%) hue-rotate(195deg) brightness(97%) contrast(87%);
}
.calendar .allocation-filter {
  filter: invert(84%) sepia(12%) saturate(111%) hue-rotate(6deg) brightness(108%) contrast(90%);
}
@media screen and (max-width: 480px) {
  .calendar .hide-mobile {
    display: none;
  }
}

.badge {
  background-color: #28358B;
  padding: 0.2em 0.5em;
  border-radius: 10px;
}

.expansion-panel .expansion-header {
  display: inline-block;
  cursor: pointer;
}
.expansion-panel .expansion-content {
  display: none;
}

.calendar-cell {
  z-index: 10;
}

.time-slot-card {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 6.375rem 1fr auto;
  min-height: 5rem;
  align-items: center;
  max-width: 450px;
}
.time-slot-card .time-slot-status {
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #dfd0e3;
  border-right: 0;
  padding-left: 1rem;
  font-weight: bold;
  align-self: stretch;
  display: flex;
  align-items: center;
}
.time-slot-card .time-slot-status.green {
  background-color: #B0FF94;
}
.time-slot-card .time-slot-status.yellow {
  background-color: #FFEE94;
}
.time-slot-card .time-slot-status.red {
  background-color: #FF9494;
}
.time-slot-card .time-slot-date-time {
  flex-direction: column;
  align-self: stretch;
  border: 1px solid #dfd0e3;
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 0;
  border-left: 0;
  display: flex;
  justify-content: center;
}
.time-slot-card .time-slot-date-time .time-slot-date-container .single-date {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}
.time-slot-card .time-slot-date-time .time-slot-date-container .multi-date {
  display: flex;
  gap: 0.25rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.time-slot-card .time-slot-button {
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  border: 1px solid #dfd0e3;
  border-left: 0;
  align-self: stretch;
  align-items: center;
  border-radius: 0 0.5rem 0.5rem 0;
}

.z-auto {
  z-index: auto !important;
}

/*# sourceMappingURL=pecalendar.css.map */
