$title-height: 3em;
$days-height: 3em;
$time-width: 3em;
$time-height: 3em;
$grid-color: #dadce0;
$calendar-template: $time-width repeat(7, 1fr);
$current-time-color: #ea4335;

* {
    box-sizing: border-box;
}

body {
    background: #fff;
}

.calendar {
    width: 100%;
    display: grid;
    grid-template-rows: $title-height $days-height auto;
    position: absolute;
}

.title {
    background: #217346;
    text-align: center;
    display: grid;
    place-content: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.days {
    background: #FFFFFF;
    display: grid;
    place-content: center;
    text-align: center;
    grid-template-columns: $calendar-template;
    position: sticky;
    top: $title-height;
    z-index: 10;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #D6D6D6;
}

.day {
    border-left: 1px solid $grid-color;
    font-weight: bold;
    display: grid;
    align-items: center;
    height: $days-height;
}

.content {
    display: grid;
    grid-template-columns: $calendar-template;
}

.time {
    grid-column: 1;
    text-align: right;
    align-self: end;
    font-size: 80%;
    position: relative;
    bottom: -1ex;
    color: #70757a;
    padding-right: 2px;
}

.col {
    border-right: 1px solid $grid-color;
}

.filler-col {
    grid-row: 1 / -1;
    grid-column: 2;
    border-right: 1px solid $grid-color;
}

.row {
    grid-column: 2 / -1;
    border-bottom: 1px solid $grid-color;
}

.event {
    border-radius: 5px;
    padding: 5px;
    font-weight: normal;
    font-size: 80%;
}

.weekend {
    background-color: #f1f3f4;
}

.event4 {
    grid-column: 8;
    grid-row: 21 / span 2;
}

.current {
    font-weight: bold;
}

.event-allocation {
    background-color: #E6E3DB;
    border-color: #acb2d3;
    z-index: 2;
}

.event-booking {
    background-color: #8d742f;
    border-color: #acb2d3;
    z-index: 3;
}

.event-event {
    background-color: #5c9a11;
    border-color: #acb2d3;
    z-index: 4;
}