@import '../../templates/bookingfrontend_2/styleguide/colors/colors.scss';
@import '../../templates/bookingfrontend_2/styleguide/custom.scss';
@import '../../templates/bookingfrontend_2/styleguide/typography/typography.scss';

:root {
  --day-width: 1fr;
  --time-width: 3em;
  --calendar-rows: 1;
  --header-height: 110px;

  @media all and (max-width: 480px) {
    --time-width: 2em;
    --header-height: 130px;
  }
}

$days-height: 3em;
$time-width: 3em;
$time-height: 3em;
$grid-color: #dadce0;
$current-time-color: #ea4335;

//* {
//  box-sizing: border-box;
//}
//
//body {
//  background: #fff;
//  @media all and (max-width: 480px) {
//    margin: 0;
//    padding: 0;
//  }
//}
//.over-ting {
//  padding-top: 200px;
//}
//
//.under-ting {
//  padding-top: 200px;
//}

//.container {
//  margin: 10px;
//  @media all and (min-width: 481px) and  (max-width: 992px) {
//    width: 100vw;
//    height: 100vh;
//    //position: relative;
//    //overflow: scroll;
//  }
//  @media all and (max-width: 480px) {
//    margin: 0;
//    padding: 0;
//    width: 100vw;
//    height: 100vh;
//    //position: relative;
//    overflow: scroll;
//  }
//}

#ui-datepicker-div {
  z-index: 20 !important;
}

.calendar {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;

  .header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 8px;
    //display: grid;
    //grid-template-columns: var(--time-width) repeat(7, 1fr);
    //background: #F5F5F5;
    //border-width: 10px 10px 10px 10px;
    //border-radius: 20px 20px 20px 20px;
    //box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
    //padding: 10px 15px 10px 15px;
    //grid-row: 1 /span 1;
    //grid-column: 1 / span 8;
    //z-index: 12;

    .date {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;

      fieldset {
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: row;

        label {
          display: block;
        }
      }

      input {
      }

      .date-selector {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        .pe-btn--circle {
          border-radius: 50%;
          padding: 0;
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }

    @media screen and (max-width: 480px) {
      .date {
        fieldset {
          flex-grow: 1;
        }

        input {
          flex-grow: 1;
        }
      }
    }

    .calendar-settings {
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
    }

    .temp-event-pills {
      display: flex;
      flex-wrap: wrap;
      gap: 10px; /* space between pills */
      .temp-event-pill {
        padding: 0px 10px;
        border-radius: 15px;
        //background-color: #EFEFEF;
        display: flex;
        align-items: center;
        gap: 5px; /* space between text and 'x' */
      }
    }


    .info-types {
      flex-wrap: nowrap;
      display: flex;
      flex-direction: row;
      gap: 8px;
    }

    .pending-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .pills{
        &.collapsed {
          max-height: 2.75rem;
        }
        display: none;
        @media screen and (min-width: 840px) {
          min-height: 2.75rem;

          overflow-y: hidden;
          flex-wrap: wrap;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          display: flex;
          flex-direction: row;
          gap: 0.275rem;
        }
      }
      .show-more {
        flex-wrap: nowrap;
        white-space: nowrap;
        min-width: 10rem;
        align-self: flex-start;
      }

    }



    .select_building_resource {
      //margin-top: 5px;
      //display: flex;
      //flex-direction: row;
      //justify-content: space-between;
      //align-items: center;
      //flex-wrap: wrap;
      //gap: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;


      gap: 8px;

      .resource-switch {
        max-width: 34rem;
        @media screen and (max-width: 840px) {
            max-width: unset;
        }
      }
      .application-button {
        max-width: 9rem;
        max-height: 2.75rem;
        @media screen and (max-width: 840px) {
            max-width: unset;
        }
      }


      @media screen and (max-width: 840px) {
        .resource-switch {
          max-width: 34rem;
        }
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        > button {
          flex-grow: 1;
        }
      }

      > div {
        width: 100%;
      }

      > span {
        min-width: 15rem;
      }

      select {
        /* Style when the select is disabled */
        &:disabled + * {
          opacity: 0.5; /* Reduced opacity to indicate disabled state */
          //background-color: #f3f3f3; /* Light gray background */
          .select2-selection--single {
            cursor: not-allowed !important; /* Cursor indicating action is not allowed */
          }
        }
      }

    }


    .type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-right: 20px;

      img {
        height: 14px;
      }
    }
  }


  .calendar-body {
    user-select: none;
    overflow-x: scroll;
    display: grid;
    grid-template-rows: $days-height auto;
    border-width: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    grid-template-columns: var(--time-width) repeat(7, 1fr);
    //@media all and (max-width: 480px) {
    //  width: calc(500vw + var(--time-width));
    //}

    @media all and (min-width: 481px) and (max-width: 992px) {
      width: calc(300vw + var(--time-width));
    }


    .js-basic-datepicker {
      font-size: 1rem;
    }


    .title {
      background: #217346;
      text-align: center;
      display: grid;
      place-content: center;
      color: #fff;
      position: sticky;
      top: 0;
      z-index: 10;
    }

    .days {
      background: #FFFFFF;
      display: grid;
      place-content: center;
      text-align: center;
      grid-template-columns: repeat(7, 1fr);
      position: sticky;
      //position: -webkit-sticky;
      top: 0;
      z-index: 11;
      line-height: 1rem;
      grid-row: 1 / span 1;
      grid-column: 2 / span 7;
      @media all and (max-width: 480px) {
        width: 500vw;
      }

      @media all and (min-width: 481px) and (max-width: 992px) {
        width: 300vw;
      }
    }

    .day {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: $days-height;
      background-color: #F5F5F5;
      margin-right: 1px;

      :nth-child(2) {
        font-weight: normal;
        font-size: 0.8rem;
      }
    }

    .day:last-child {
      margin-right: 0;
    }

    .time-container {
      display: grid;
      grid-row: 3 / span var(--calendar-rows);
      grid-column: 1 / span 1;
      position: sticky;
      //position: -webkit-sticky;
      left: 0;
      z-index: 10;
      background-color: #FFF;
      height: 100%;
    }

    .content {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-row: 3 / span 1;
      grid-column: 2 / span 7;
      @media all and (max-width: 480px) {
        width: 500vw;
      }

      @media all and (min-width: 481px) and (max-width: 992px) {
        width: 300vw;
      }

    }

    .time {
      grid-column: 1;
      text-align: right;
      align-self: end;
      position: relative;
      bottom: -1ex;
      color: #70757a;
      padding-right: 2px;
      height: 12px;

      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1px;
    }

    .col {
      border-right: 1px solid $grid-color;
    }

    .past-day, .past-hour {
      background-color: #eaeaea;
      z-index: auto;
    }

    .filler-col {
      grid-row: 1 / -1;
      grid-column: 2;
      border-right: 1px solid $grid-color;
    }

    .row {
      grid-column: 1 / -1;
      border-bottom: 1px solid $grid-color;
      margin-left: 0;
      margin-right: 0;
    }

    .event {
      z-index: auto;
      position: relative;
      border-radius: 5px;
      padding: 5px;
      font-weight: normal;
      font-size: 1rem;
      border: 1px solid #FFF;
      line-height: 1rem;

      > div:first-child {
        display: flex;
        flex-direction: column;

        > div {
          font-size: 0.8rem;
          display: flex;
          flex-direction: column;
        }

        > div:nth-child(1) {
          font-size: 1rem;
          @extend .text-bold;
        }


      }

      button {
        height: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }

    .weekend {
      background-color: #f1f3f4;
    }

    .current {
      font-weight: bold;
    }

    .dots-container{
      z-index: 11;
      i {
        color: white;
      }
    }

    .event-allocation {
      background-color: #E6E3DB;;
      border-color: #FFF;
      @extend .text-black;
      position: relative;
      display: flex;
      justify-content: space-between;

      .dots {
        height: 16px;
        width: 16px;
        fill: #000;
      }
    }

    .event-booking {
      background-color: #999EC1;
      border-color: #FFF;
      @extend .text-black;
      position: relative;
      display: flex;
      justify-content: space-between;

      .dots {
        height: 16px;
        width: 16px;
        fill: #000;
      }
    }

    .event-event {
      @extend .bg-blue;
      border-color: #FFF;
      @extend .text-white;
      position: relative;
      display: flex;
      justify-content: space-between;

      .dots {
        height: 16px;
        width: 16px;
        filter: invert(100%);
      }
    }

    .event-temporary {
      @extend .bg-blue;
      border-color: #FFF;
      @extend .text-white;
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-left: 1.5rem;
      z-index: 11; /* Ensure they are on top */
      &.current-temp {
        z-index: auto;
      }

      //opacity: 0.75;
      //resize: vertical;
      //overflow: auto;
      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 10px; /* Define the height of the resizable area at the top and bottom */
        cursor: ns-resize; /* Two-sided vertical arrow */
        z-index: 12; /* Ensure they are on top */
      }

      &::before {
        top: 0; /* Position the ::before element at the top */
      }

      &::after {
        bottom: 0; /* Position the ::after element at the bottom */
      }

      .dots-container {
        height: 16px;
        width: 16px;

        i {
          color: white;
        }

      }
    }

    .available-slot {
      @extend .bg-yellow-light;
      border-color: #FFF;
      z-index: 4;
      @extend .text-black;
      position: relative;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &.first-day {
        margin-left: 1.5rem;
      }

      &.second-day {
        margin-right: 1.5rem;
      }

      &.selected {
        @extend .bg-green-light;
        //margin-left: 1.5rem;
        opacity: 0.75;

      }

      &.disabled {
        @extend .bg-grey-light;
        //margin-left: 1.5rem;
        cursor: not-allowed;
        opacity: 0.75;
      }

      //
      //resize: vertical;
      //overflow: auto;

      .dots-container {
        height: 16px;
        width: 16px;

        i {
          color: white;
        }

      }
    }

    .info {
      .info-inner {
        background: #FFF;
        @extend .text-black;
        padding: 4px 8px;
        border-radius: 5px;
        border: 1px solid #000;
        min-height: 100px;
        z-index: 12;
        width: 10rem;
        cursor: pointer;
        font-size: 1rem;
        position: relative;
      }

      display: none;
      z-index: 12;
    }

    .info[data-show] {
      display: block;
    }


  }

  .event-filter {
    filter: invert(16%) sepia(22%) saturate(6235%) hue-rotate(219deg) brightness(105%) contrast(91%);
  }

  .booking-filter {
    filter: invert(65%) sepia(11%) saturate(712%) hue-rotate(195deg) brightness(97%) contrast(87%);
  }

  .allocation-filter {
    filter: invert(84%) sepia(12%) saturate(111%) hue-rotate(6deg) brightness(108%) contrast(90%);
  }

  .hide-mobile {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}

.badge {
  background-color: #28358B;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  // Additional styles for the badge
}

.expansion-panel {
  .expansion-header {
    display: inline-block;
    cursor: pointer;
    // Additional styles for the header


  }

  .expansion-content {
    display: none;
    // Additional styles for the content
  }
}


.calendar-cell {
  z-index: 10;
}

.time-slot-card {
  //border: 1px solid #ddd;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 6.375rem 1fr auto;
  min-height: 5rem;
  align-items: center;

  .time-slot-status {
    border-radius: 0.5rem 0 0 0.5rem ;
    border: 1px solid $purple-24;
    border-right: 0;

    padding-left: 1rem;
    font-weight: bold;

    align-self: stretch;
    display: flex;
    align-items: center;
    &.green { background-color: $green-light; }
    &.yellow { background-color: $yellow-light; }
    &.red { background-color: $red-light; }
  }

  .time-slot-date-time {
    flex-direction: column;
    align-self: stretch;
    border: 1px solid $purple-24;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 0;
    border-left: 0;
    display: flex;
    justify-content: center;

  }

  .time-slot-button {
  padding-right: 1rem;
  padding-left: 1rem;
    display: flex;
    border: 1px solid $purple-24;
    border-left: 0;

    align-self: stretch;
    align-items: center;

    border-radius:0  0.5rem 0.5rem 0 ;

  }
}

