.filter {
  position: relative;
  cursor: pointer;


  & input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
  }

   & input:focus-visible ~ &__check,
   & input:focus-visible ~ &__radio {
    box-shadow: 0 0 0 0.25rem rgba($black, .5);
  }

  &__check {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 1rem;
    color: $purple;
    background-color: $white;
    border: 2px solid $purple;
    z-index: 1;
    border-radius: $rounded-large;
  }

  & input[type='checkbox']:hover ~ &__check {
    color: $white;
    background-color: $purple;
  }

  & input[type='checkbox']:checked ~ &__check {
    color: $white;
    background-color: $purple; 
  }

  & input[type='checkbox']:checked:hover ~ &__check {
      color: $purple;
      background-color: $white;
  }

  & input[type='checkbox']:checked ~ &__check::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    color: $white;
    z-index: 2;
    padding-right: 0.5rem;
  }

  & input[type='checkbox']:checked:hover ~ &__check::before {
    color: $purple;
  }

  &__radio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    padding: 0.25rem 0.65rem;
    color: $black;
    background-color: $white;
    z-index: 1;
    border: 2px solid transparent;
  }

  & input[type='radio']:hover ~ &__radio {
    color: $black;
    background-color: $white;
    border: 2px solid $purple;
  }

  & input[type='radio']:checked ~ &__radio,
  & input[type='radio']:checked:hover ~ &__radio {
    color: $white;
    background-color: $purple;
    border: 2px solid $purple;
  }
}