<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<!-- BEGIN Content -->
<script type="text/javascript"><!--
    btnNormal = new Image();
    btnNormal.src = "/pb.WebMAUI/templates/default/image/btn_delete.png";
    btnHighlight = new Image();
    btnHighlight.src = "/pb.WebMAUI/templates/default/image/btn_delete.png"; /* erste Highlight-Grafik */
    btnDown = new Image();
    btnDown.src = "/pb.WebMAUI/templates/default/image/btn_delete.png"; /* erste Highlight-Grafik */

    function picChange(pic, newpic) {
        pic.src = newpic.src;
    }

    function RUSure(btn, s) { // aRe yoU Sure?
        if (!confirm("Wollen Sie "+s+" löschen?")) {
            btn.form.RUSureResult.value=0;
        }
    }
    //-->
    </script>
<input type="hidden" name="RUSureResult" value="1" />
<table cellspacing="1" cellpadding="2" style="margin-bottom: 20px; border: 2px solid #FFFFFF">
  <tr>
    <td colspan="2" class="header">{l_name}</td>
    <td class="bg_color2">
    	<input type="text" name="fldName" size="30" value="{fldName}" />
    </td>
  </tr>
  <tr>
    <td colspan="2" class="header">{l_password}</td>
    <td class="bg_color2">
    	<input type="password" name="fldPassword" size="30" />
    </td>
  </tr>
  <tr>
    <td class="header" colspan="2">{l_password} {l_repeat}</td>
    <td class="bg_color2">
    	<input type="password" name="fldPassword2" size="30" />
    </td>
  </tr>
  <tr>
    <td colspan="3" style="height: 10px" class="bg_color1"></td>
  </tr>
  <tr class="header">
    <td colspan="3">
    	{l_mail_address}
    </td>
  </tr>
  <!-- BEGIN AddressesEdit -->
  <tr>
    <td colspan="2" class="bg_color1"></td>
    <td class="bg_color2">
    	<input type="text" name="fldNewMail" size="30" />
      <select name="fldNewMaildomain">
        <option value=""></option>
        <option value="{fldNewDomain}" selected="selected">@{fldNewDomain}</option>
      </select>
    </td>
  </tr>
  <!-- END AddressesEdit -->
  <!-- BEGIN AddressesList -->
  <tr>
    <td colspan="2" align="right" class="bg_color1">
      <!-- BEGIN AddressesDelete -->
      <input type="image"
             name="btnDeleteMail{btnDeleteMailKey}"
             onclick="RUSure(this,'{fldMail}')"
             title="{l_delete}"
             alt="{l_delete}"
             src="{imgDir}/images/btn_delete.png"
      />
      <!-- END AddressesDelete -->
    </td>
    <td class="bg_color2">
      <input type="hidden" name="fldAliases[]" value="{fldMail}" />
      {fldMail}
     </td>
  </tr>
  <!-- END AddressesList -->
  <tr>
    <td colspan="3" style="height: 10px" class="bg_color1"></td>
  </tr>
  <tr class="header">
    <td colspan="3">
    	{l_maildrops}
    </td>
  </tr>
  <!-- BEGIN DropsEdit -->
  <tr>
    <td colspan="2"></td>
    <td>
      <select name="fldNewMaildrop">
        <option value="" selected="selected">(Auswählen)</option>
        <!-- BEGIN DropsEditList -->
        <option value="{fldNewMaildrop}">{fldNewMaildrop}</option>
        <!-- END DropsEditList -->
      </select>
    </td>
  </tr>
  <!-- END DropsEdit -->
  <!-- BEGIN DropsList -->
  <tr>
    <td colspan="2">
      <!-- BEGIN DropsDelete -->
      <input type="image" 
             name="btnDeleteMaildrop_{fldMaildropIdx}"
             title="Löschen"
             alt="Löschen"
             src="{imgDir}/images/btn_delete.png"
      />
      
      <!-- END DropsDelete -->
    </td>
    <td>
    	{fldMaildrop}
    </td>
  </tr>
  <!-- END DropsList -->
  <tr>
    <td colspan="3" style="height: 10px" class="bg_color1"></td>
  </tr>
<!--
  <tr>
    <td>{l_accesslevel}</td>
    <td>&nbsp;</td>
    <td>
      <select name="fldAccesslevel">
        <!-- BEGIN AccesslevelOptions -->
        <option value="{AccesslevelValue}" {accesslevelselected}>{AccesslevelOption}</option>
        <!-- END AccesslevelOptions -->
      </select>
    </td>
  </tr>
  <tr>
    <td align="left" colspan="3" height="3"></td>
  </tr>
-->
  <!-- BEGIN CommentList -->
  <tr class="header">
    <td colspan="2">{l_comment1}</td>
    <td>{fldComment}</td>
  </tr>
  <!-- END CommentList -->
  <!-- BEGIN CommentEdit -->
  <tr>
    <td class="bg_color1" colspan="2">{l_comment2}</td>
    <td class="bg_color2">
      <textarea name="fldComment" rows="5" cols="70">{fldCommentEdit}</textarea>
    </td>
  </tr>
  <!-- END CommentEdit -->
  <!-- BEGIN Changes -->
  <tr>
    <td colspan="3" style="height: 10px" class="bg_color1"></td>
  </tr>
  <tr>
    <td colspan="3" class="header">
    	{l_last_changes}
    </td>
  </tr>
  <!-- BEGIN ChangesList -->
  <tr>
    <td align="left">&nbsp;</td>
    <td align="left">&nbsp;</td>
    <td align="left">{fldChanges}</td>
  </tr>
  <!-- END ChangesList -->
  <!-- END Changes -->
</table>
<!-- END Content -->
</body>
</html>
