#check_list_menu a, #check_list_menu span {
  background: none repeat scroll 0 0 #F4EDE3;
  border: 1px solid #E7E1DA;
  color: #444444;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 18px 0;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

input.date {
  text-align: right;
  width: 125px;
}

#save_check_list
{
	text-align: center;
    padding: 32px 5px;
	margin-bottom: 10px;
}
#submit_ok {
 	text-align: center;
	background-color: #4CAF50; /* Green */
    padding: 32px 5px;
	margin-bottom: 10px;
}
#submit_deviation {
	text-align: center;
	background-color: #f44336;
    padding: 32px 5px;
 	margin-bottom: 10px;
}
#submit_group {
	position: relative;
    float: none;
	margin-left: 150px;
}
ul.add-cases {
    list-style-type: none;
}

ul.expand_list {
    list-style-type: none;
}
ul.expand_list h4 {
    cursor: pointer;
    font-size: 1.1em;
}
.add-cases .expand-trigger {
    background: none repeat scroll 0 0 #DDDDDD;
    cursor: pointer;
    padding: 7px 10px;
}

body {
	margin-left:5px;
	margin-right:5px;
	padding:0;
}
.frm_update_case{
  display: none;
}
.frm_update_case label {
  display: block;
}


* {
  box-sizing: border-box;
}
html {
 /* font-family: helvetica;*/
}

html, body {
  max-width: 100vw;
}

table {
 margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
  max-width: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

td, th {
  border: solid rgb(200, 200, 200) 1px;
  padding: .5rem;
}

th {
  text-align: left;
  background-color: rgb(190, 220, 250);
 /* text-transform: uppercase;*/
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: rgb(50, 50, 100) solid 2px;
  border-top: none;
}

td {
  white-space: nowrap;
  border-bottom: none;
  color: rgb(20, 20, 20);
}

td:first-of-type, th:first-of-type {
  border-left: none;
}

td:last-of-type, th:last-of-type {
  border-right: none;
}