#check_list_menu a, #check_list_menu span {
  background: none repeat scroll 0 0 #F4EDE3;
  border: 1px solid #E7E1DA;
  color: #444444;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 18px 0;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

input.date {
  text-align: right;
  width: 100px;
}
