<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
<form>
  <!-- BEGIN Content -->
  <table width="100%" cellspacing="1" border="0" cellpadding="2" align="left">
    <tr valign="top">
      <td align="left" colspan="2"> Gesamt genutzer Speicher: {fldSumMB}MB ({fldUsagePercent}%) </td>
    </tr>
    <tr valign="top">
      <td class="caption" align="left" width="50%"> <a class="caption" href="{LinkSortFolder}">Mailordner</a> </td>
      <td class="caption" align="right" nowrap="nowrap"> <a class="caption" href="{LinkSortSize}">kB genutzt</a> </td>
    </tr>
    <!-- BEGIN FolderUsage -->
    <tr valign="top" class="{ListClass}">
      <td align="left">{fldFolder}</td>
      <td align="right">{fldSizeKB}</td>
    </tr>
    <!-- END FolderUsage -->
  </table>
  <!-- END Content -->
</form>
</body>
</html>
