<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
<form>
  <!-- BEGIN Content -->
  <table width="100%" cellspacing="1" border="0" cellpadding="2" align="left">
    <!-- BEGIN QuotaMailResult -->
    <tr>
      <td>
        <table width="100%" cellspacing="1" border="0" cellpadding="2" align="left">
          <!-- BEGIN QuotaMailResultList -->
          <tr valign="top" xclass="{ListClass}">
            <td>Mailversand an {MailTo}: {MailResult}</td>
          </tr>
          <!-- END QuotaMailResultList -->
        </table>
      </td>
    </tr>
    <!-- END QuotaMailResult -->
    <!-- BEGIN QuotaWarning -->
    <tr>
      <td>
        <table width="100%" cellspacing="1" border="0" cellpadding="2" align="left">
          <tr class="filter">
            <td align="right">
              <input class="field" type="text" name="fldFilter[min]" value="{fldFilter_min}" size="10" />
              % bis
              <input class="field" type="text" name="fldFilter[max]" value="{fldFilter_max}" size="10" />
              %
              <input type="submit" name="btnSearch" value="suchen" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%" cellspacing="1" border="0" cellpadding="2" align="left">
          <tr valign="top">
            <td class="caption" align="left" width="50%"> <a class="caption" href="{LinkSortMail}">Mail</a> </td>
            <td class="caption" align="right" nowrap="nowrap"> <a class="caption" href="{LinkSortSize}">MB genutzt</a> </td>
            <td class="caption" align="right"> <a class="caption" href="{LinkSortPercent}">%</a> </td>
            <td class="caption" align="right"> Warnungen </td>
          </tr>
          <!-- BEGIN AccountUsage -->
          <tr valign="top" class="{ListClass}">
            <td align="left">{fldMail}</td>
            <td align="right">{fldSizeMB}</td>
            <td align="right">{fldUsagePercent}</td>
            <td align="right">{fldWarningCounter}</td>
          </tr>
          <!-- END AccountUsage -->
        </table>
      </td>
    </tr>
    <!-- END QuotaWarning -->
  </table>
  <!-- END Content -->
</form>
</body>
</html>
