$medium-screen: 1024px;

$text-regular: 400;
$text-medium: 500;
$text-bold: 700;
$text-bolder: 900;

@mixin small-screen {
  @media (max-width: $medium-screen) {
    @content;
  }
}

@function getFontDef($device-map, $type, $size-or-height) {
  @return nth(map-get($device-map, $type), if($size-or-height == 'size', 1, 2));
}



// name: (SIZE, HEIGHT)
$desktop: (
    display: (3.5rem, 4.25rem),
    headline: (2.25rem, 2.75rem),
    title: (1.25rem, 1.625rem),
    subtitle: (1.125rem, 1.75rem),
    label: (1rem, 1.25rem),
    overline: (0.75rem, 1.375rem),
    body: (1rem, 1.75rem),
    caption: (0.875rem, 1.25rem)
);

$mobile: (
    display: (2.125rem, 2.75rem),
    headline: (1.5rem, 1.875rem),
    title: (1.125rem, 1.5rem),
    subtitle: (1rem, 1.375rem),
    label: (0.875rem, 1.125rem),
    overline: (0.625rem, 1.25rem),
    body: (0.875rem, 1.5rem),
    caption: (0.75rem, 1.125rem)
);


@mixin applyFontProperties($type) {
    font-size: getFontDef($desktop, $type, 'size');
    line-height: getFontDef($desktop, $type, 'height');

    @include small-screen {
        font-size: getFontDef($mobile, $type, 'size');
        line-height: getFontDef($mobile, $type, 'height');
    }
}

@mixin applyLineHeights($type) {
    line-height: getFontDef($desktop, $type, 'height');

    @include small-screen {
        line-height: getFontDef($mobile, $type, 'height');
    }
}

@mixin applyFontSize($type) {
    font-size: getFontDef($desktop, $type, 'size');

    @include small-screen {
        font-size: getFontDef($mobile, $type, 'size');
    }
}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: $text-regular;
  @include applyFontProperties('body');
}

h1, .h1 {
  font-family: "Poppins", sans-serif;
  font-weight: $text-regular;
  margin-top: 0;
  margin-bottom: 2rem;
  @include applyFontProperties('display');
}

h2, .h2 {
  font-family: "Poppins", sans-serif;
  font-weight: $text-regular;
  @include applyFontProperties('headline');
}

h3, .h3 {
  font-weight: $text-bold;
  @include applyFontProperties('title');
}

h4, .h4 {
  font-weight: $text-medium;
  @include applyFontProperties('subtitle');
}

.font-size {
  &-h1 {
    height: getFontDef($desktop, 'display', 'height');
    @include small-screen {
      height: getFontDef($mobile, 'display', 'height');
    }
  }

  &-h2 {
    height: getFontDef($desktop, 'headline', 'height');
    @include small-screen {
      height: getFontDef($mobile, 'headline', 'height');
    }
  }

  &-h3 {
    height: getFontDef($desktop, 'title', 'height');
    @include small-screen {
      height: getFontDef($mobile, 'title', 'height');
    }
  }

  &-h4 {
    height: getFontDef($desktop, 'subtitle', 'height');
    @include small-screen {
      height: getFontDef($mobile, 'subtitle', 'height');
    }
  }
}

.text {
  &-small {
    @include applyFontProperties('caption');
  }

  &-overline {
    @include applyFontProperties('overline');
    text-transform: uppercase;
    font-weight: $text-regular;
  }

  &-body, &-normal, &-medium, &-lg {
    @include applyFontProperties('body');
  }

  &-label {
    @include applyFontProperties('label');
  }

  &-xl {
    @include applyFontProperties('title');
  }

  &-2xl {
    @include applyFontProperties('headline');
  }

  &-3xl, &-4xl {
    @include applyFontProperties('display');
  }

  &-normal {
    font-weight: $text-regular;
  }

  &-bold {
    font-weight: $text-bold;
  }

  &-bolder {
    font-weight: $text-bolder;
  }
}

.line-height {
  &-h1 {
    @include applyLineHeights('headline');
  }

  &-h2 {
    @include applyLineHeights('title');
  }

  &-h3 {
    @include applyLineHeights('subtitle');
  }

  &-h4 {
    @include applyLineHeights('label');
  }
}