
$box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
$box-shadow-large: 3px 3px 50px 0px rgba(0, 0, 0, 0.1);
$box-focus-shadow: 0 0 0 0.25rem rgba($purple-light, 1);
$box-focus-shadow-purple: 0 0 0 2px rgba($purple, 1);

.box-shadow {
  box-shadow: $box-shadow;

  &--large {
    box-shadow: $box-shadow-large;
  }
}

$rounded-mini: 0.5rem;
$rounded-small: 1rem;
$rounded-medium: 2rem;
$rounded-large: 3.125rem;

.divider {
  height: 1px;
  border-color: rgba($blue, 0.2);

  &-primary {
    border-color: rgba($purple, 0.2);
  }
}

.rounded {
  &-mini {
    border-radius: $rounded-mini;
  }

  &-small {
    border-radius: $rounded-small;
  }

  &-medium {
    border-radius: $rounded-medium;

    &-bottom {
      border-bottom-left-radius: $rounded-medium;
      border-bottom-right-radius: $rounded-medium;
    }
  }

  &-large {
    border-radius: $rounded-large;

    &-bottom {
      border-bottom-left-radius: $rounded-large;
      border-bottom-right-radius: $rounded-large;
    }
  }
}