body, div, input, p, select, textarea
{
	font-family: "Liberation Sans", Verdana, sans-serif;
	font-size: 1em;
}

a
{
	text-decoration: none;
}

a:hover, a:active
{
	text-decoration: underline;
}

img
{
	border: 0px;
}

textarea
{
	white-space: normal;
}

thead
{
	background-color: #d3dce3;
	font-weight: bold;
	text-align: center;
}

.button_group
{
	text-align: center;
}

.link_group
{
	text-align: center;
}
.error
{
	background-color: #fcc;
	border: 1px solid #f00;
	color: #f00;
}

.msg
{
	color: #f00;
	font-weight: bold;
	text-align: center;
}

.msg_good
{
	background-color:  #99FF66;
	border: 1px solid #00CC00;
	font-weight: bold;
	text-align: center;
}
ol.source
{
	background-color: #ccc;
	border: 1px solid #ccc;
	height: 300px;
	list-style-type: decimal;
	overflow: auto;
	padding-left: 4em;
}

ol.source li
{
	background-color: #fff;
	border-bottom: 1px dashed #eee;
	display: list-item;
	font-family: monospace;
	list-style-type: decimal;
	white-space: pre;
}



/** Sigurd :: test **/

BODY {
	font-family: Lucida Grande, Lucida Sans, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000;
	margin: 0;
	padding: 0;
}

A {
	color: #00D;
	text-decoration: none;
}
A:visited {
	color: #60C;
}
A:hover {
	color: #00F;
	text-decoration: underline;
}
A:visited:hover {
	color: #00D;
	text-decoration: none;
}


TD {
	vertical-align: top;
}

P {
	line-height: 1.5em;
	margin: 0.75em 0 0.5em;
}

H1 {
	color: #C30;
	/*	font: 1.65em Georgia, "Times New Roman", Times, serif;*/
	font-weight: normal;
	letter-spacing: 0.1em;
	margin: 0 0 0.75em;
}
H1 A , /* bookmarks - depricated? */
H1 A:visited ,
H1 A:hover {
	color: #C30 !important;
}

H2 {
	/*	font: 1.3em Georgia, "Times New Roman", Times, serif;*/
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #566F6F;
	border-bottom:  1px dotted #566F6F;
	padding: 1em 0 3px;
	margin: 0.5em 0 0.75em;
}

H3 {
	font-size: 1.2em;
	font-weight: bold;
	font-style: italic;
	padding-top: 1em;
	margin: 0.5em 0 0.75em;
}

H4 {
	font-size: 1.1em;
	font-weight: bold;
	padding-top: 0.5em;
	margin: 0.5em 0 1em;
}

BLOCKQUOTE {
	margin: 1em 0 1em 3em;
}
TT { /* used for inline code references */
	font-size: 1.1em;
	font-weight: bold;
}
PRE { /* used for code blocks */
	font-size: 1.1em;
	font-weight: normal;
	margin: 1em 0;
	padding: 5px 7px 7px;
	border: 1px solid #CCC;
	background-color: #F6F6F6;
}
PRE I { /* code comment */
	color: #666;
	font-style: italic;
}

STRONG {
	font-weight: bold;
	color: #B30;
}

UL, OL {
	margin-top: 0.5ex;
	margin-bottom: 1ex;
	margin-left: 2em;
	padding: 0;
}
LI {
	line-height: 1.35em;
	padding: 0.75ex 0;
	margin: 0;
}

/* ID Styles */

#logo {
	/*	font: 2em Georgia, "Times New Roman", Times, serif;*/
	color: #FFF;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 0.5em 15px 2px;
}


IFRAME {
	border-top: 1px solid #777;
	background-color: #FFF;
}

TR.main {
	background-color: #fff;
}

TD.content {
	padding: 1em 2em 3em;
}

TD.sidebarLeft {
	background-color: #a4c2c2;
}
TD.sidebarLeft P {
	/*	font: 1em Georgia, "Times New Roman", Times, serif;*/
	color: #366;
	line-height: 1.5em;
	padding: 20px;
	margin: 0;
}

TD.sidebarRight {
	padding: 1em;
	padding-left: 0;
}
DIV.bookmarks {
	background-color: #a4c2c2;
	padding: 0.5em;
}

/* Generic Classes */

.bold		{ font-weight: bold; }
.notBold	{ font-weight: normal; }
.italic		{ font-style: italic; }
.notItalic	{ font-style: normal; }

.noMargin		{ margin: 0; }
.noTopMargin	{ margin-top: 0; }
.noBottomMargin	{ margin-bottom: 0; }

.noPadding	{ padding: 0; }

.white		{ color: #FFF; }
.grey		{ color: #777; }
.red		{ color: #F00; }


/*
*	STYLES FOR: documentation and tips pages
*
*	Created with ThemeRoller...
*	http://ui.jquery.com/themeroller/?bgColorDefault=e0e0e0&bgTextureDefault=02_glass.png&bgImgOpacityDefault=80&borderColorDefault=cccccc&fcDefault=444444&iconColorDefault=888888&bgColorHover=d8d8d8&bgTextureHover=02_glass.png&bgImgOpacityHover=90&borderColorHover=888888&fcHover=111111&iconColorHover=222222&bgColorActive=8ab9ff&bgTextureActive=02_glass.png&bgImgOpacityActive=50&borderColorActive=2694e8&fcActive=000000&iconColorActive=ffffff&bgColorContent=f3f3f3&fcContent=362b36&ffDefault=Lucida%20Grande,%20Lucida%20Sans,%20Arial,%20sans-serif&fwDefault=normal&fsDefault=1.2&fsDefaultUnit=em#bgColorDefault=d6d6d6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=80&borderColorDefault=bbbbbb&fcDefault=000000&iconColorDefault=444444&bgColorHover=eeeeee&bgTextureHover=02_glass.png&bgImgOpacityHover=90&borderColorHover=cccccc&fcHover=000066&iconColorHover=000066&bgColorActive=80ade5&bgTextureActive=04_highlight_hard.png&bgImgOpacityActive=100&borderColorActive=266cc0&fcActive=000000&iconColorActive=ffffff&bgColorContent=D1E6FC&bgTextureContent=10_dots_medium.png&bgImgOpacityContent=90&borderColorContent=bbbbbb&fcContent=000000&iconColorContent=222222&ffDefault=Lucida+Grande%2C+Lucida+Sans%2C+Arial%2C+sans-serif&fwDefault=normal&fsDefault=1&fsDefaultUnit=em
*/


body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	background-color: #f9f9f9;
}

TABLE.TOC {
	border: 1px solid #BBB;
	border-collapse: collapse;
	margin: 1em 0;
}
.TOC TR.rTitle TD{
	font-size:		0.95em;
	font-weight:	bold;
	letter-spacing:	1px;
	padding-top:	4px;
	padding-bottom:	5px;
	background:		#99B5B5;
	color:			#FFF
}
.TOC TR.r0 {
	background:	#FFF;
}
.TOC TR.r0 {
	background:	#EEE;
}
.TOC TD {
	padding: 2px 10px 4px;
	white-space: nowrap;
	border-left: 1px solid #BBB;
}


H5 {
	font-size: 1em;
	font-weight: normal;
	line-height: 1em;
	padding: 1em 0 5px;
	margin: 1em 0 1em;
	border-bottom: 1px dotted #CCC;
}
H5.withNext {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: -1em;
}
H5 A.bm {
	font-weight: bold;
	color:#C30;
}
H5 EM {
	font-style: normal;
	font-size: 0.9em;
	float: right;
	margin-top: -1.4em;
}
