
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 20, 2018, 11:08:19 AM
    Author     : niruban
*/
img {
    image-orientation: from-image;
}

html {
    font-size: 1rem;
    height: 100%;
    color: red !important;
}

h1{
	font-size: 30px;
}

h2{
	font-size: 20px;
}

h3{
	font-size: 16px;
}

@media (max-width: 767px) {
body {
    position: relative;
    margin: 0;
/*    font-family: Raleway,Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important;*/

    font-family: Open Sans,Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important;

    font-size: 16px;


}
}


body {
   background-color: #f5f5f5;
    min-height: 100% !important;
    position: relative;
    margin: 0;

/*    font-family: Raleway,Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important;*/
/*     font-family: FuturaStd-Light  !important;*/

     font-family: Open Sans,Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important;
     font-size: 16px;
}

a:active {
    outline: 0 !important;
}

.body a {
    color: #26348B;
    text-decoration: none;
    display:inline-block !important;
}

.header-text span {
    font-size: 1.5rem;
}

.termAccept a:hover{
	text-decoration: underline;
	color: #0056b3;
}

a:hover {
    text-decoration: underline;
    color: var(--link-color-hover);
}

a {
	color: #26348B;
}

@media (max-width: 567px) {
#logowidth  img {
   height: 50px !important;
   width: 80px !important;
}
}


@media (max-width: 767px) {
#logowidth  img {
   height: 40px !important;
   width: 80px !important;
}
}

.footer {
    background-color:white;
}

#nun   {
    background-color:white !important;
}

@media (max-width: 767px) {
    #nun   {
    width: 100%  !important;
}
}


@media (max-width: 768px) {
    .header-text {
	position: absolute;
                      padding-top: 10%;
                      padding-bottom: 10%;
                    padding-left: 0  !important;
                    width: 50%;
                    display: inline-block;
}
}


.header-text {
	display: inline-block;
                      transform: translateX(-50%) translateY(-50%);
                      left: 50%;
                      top: 50%;
                      position: absolute;
}




.btn.focus, .btn:focus {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}


.ml-auto  {
      left: auto !important;
      right: 0px;
    }


.navbar-header{
  width:100%;
  padding:0 50px;
}

.second-button{
    float:right;
}

.navbar {
    padding-bottom: 1.4em;
    -webkit-transform: scale(1); /* Saf3.1+, Chrome */
     -moz-transform: scale(1); /* FF3.5+ */
      -ms-transform: scale(1); /* IE9 */
       -o-transform: scale(1); /* Opera 10.5+ */
          transform: scale(1);
    background-color: white !important;
}

.nav-link {
    margin: 5px !important;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    line-height: 1.4em;
    text-decoration: underline;
}

.brand-site-title {
    font-size: 45px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    color: #26348B;
    text-decoration: none !important;
    margin-top: 24px  !important;
}

/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .brand-site-title { margin-top: -18px  !important; }
}

@media (max-width: 767px) {
    .brand-site-title {
    font-size: 45px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
/*    color:#26348B;   */
    margin-top: 8px  !important;
    text-decoration: none !important;
}
}


.brand-site-img {
    -webkit-transition: ease 0.2s; /* Safari */
    transition: ease 0.2s;
}

.navbar-brand span {
    line-height: normal !important;
    display: block !important;
    font-weight: bold;
}


.custom-card  a {
    text-decoration: none;
    color: #26348B;
}

.custom-card  a:hover {
    text-decoration: underline;
    color: #26348B !important;
}

.building-bookable .custom-card:hover {
    background: #89266a;
    color: #fff;
}


#mainSearchInput  {
    border-left: 2px solid #26348B  !important;
    border-top: 2px solid #26348B  !important;
    border-bottom: 2px solid #26348B  !important;
    border-right: 0 !important;
 }


/* #searchmotor  {
     border: 1px solid #26348B  !important;
 }*/

.grow-left {
  direction: rtl;
}

.grow-left > * {
  direction: ltr;
}


.mac-style {
/*     display: inline-block !important;
     position:  relative  !important;*/

    width: 10%;
      height: 35px  !important;
       -webkit-transition: width 1s ease-in-out;
    -moz-transition:width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    float:right ;
}

 .mac-style:hover {
    width: 70%;
}


#coll {
    width:100px;
    background-color:red   !important;
    float:left   !important;
}


.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: #000;
}


#searchinput:fokus {
     border-color: black !important;
       border: 2px solid black  !important;
}

/* NAVBAR SEARCHBAR STYLING */
.search-container {
justify-content: baseline;
margin-top: auto;
}

.search-container form {
    display:flex;
}

.search-container #searchInput {
    border: 1px solid #26348B;
    border-right:none;
    padding: .5rem;
    width: 150px;
    font-size: 1.25rem;
    transition: width .55s ease-in-out;
}

.search-container #searchInput:hover,
.search-container #searchInput:focus {
    width: 300px;
}

.search-container .searchButton {
    border: 1px solid #26348B;
    padding: 0.375rem 0.75rem;
    height: 45px;
    background: none;
    transition: all .15s ease-in-out;
}

.search-container .searchButton:hover {
    background: #89266a;
    cursor: pointer;
}
.search-container .searchButton:hover i {
    color: #fff;
}

.search-container .searchButton i {
    color: #6c757d;
    transition: all .15s ease-in-out;
}

.info-content {
    padding-top: 2em;
}

  .parentdiv  {
    position: relative !important;
    margin-right: 27px !important;
    margin-top: -30px !important;
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
 }

 .childdiv  {
       position:  absolute  !important;
       top: 25% !important;
       right: 4% !important;
       display: inline-block !important;
       width: 250px;
       height: 50px;
}

 #globalsearchbuttong  input#searchmotor {

     width: 150px;
     height: 45px;
     border: 1px solid #26348B !important;
     font-size: 16pt;
     float: right;
	 border-radius: 0px;
	 margin-top: 10px;
	 outline:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;

  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;

 }


 #globalsearchbuttong  input#searchmotor:hover {
width: 300px;
outline:none;
}


#searchbuttons {
   border: 1px solid #26348B !important;
   margin-left: 100% !important;
   height: 45px;
   margin-top: -29% !important;
   outline:none;
   border-left: none;
   border-radius: 0;
}


.tiny-logo {
    -webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.7); /* FF3.5+ */
      -ms-transform: scale(0.7); /* IE9 */
       -o-transform: scale(0.7); /* Opera 10.5+ */
          transform: scale(0.7);
          -webkit-transition: ease 0.3s; /* Safari */
          transition: ease 0.3s;
}

.tiny-navbar {
    padding-bottom: 0.5em;
    -webkit-transition: ease 0.3s; /* Safari */
    transition: ease 0.3s;
}

.msg_good {
    text-align: center;
    margin-bottom: 0px;
    margin-top: -5px;
    border-radius: 0;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.error {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    margin-bottom: 0px;
}

.msgbox_text {
    margin-top: 2rem;
}

.check-box-label {
	position: relative;
	cursor: pointer;
	color: #666;
	font-size: 1.28em;
}

input[type="checkbox"], input[type="radio"]{

	right: 9000px;
}

/*Check box*/
input[type="checkbox"] + .label-text:before{
	content: "\f0c8";
	font-family: "Font Awesome 5 Free";
	speak-as: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

.form-check {
    padding-left: 0;
}

input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}

/*Radio*/

input[type="radio"] + .label-text:before{
	content: "\f111";
	font-family: "Font Awesome 5 Free";
	speak-as: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	animation: effect 250ms ease-in;
}


.container-top-fix {
    margin-top: 7rem;
}

.margin-top-content {
    margin-top: 140px;
}
.dropdown-menu {
    transform: none !important;
    top: auto !important;
    left: auto !important;
}
F
.bookable-resource-link-href {
    text-decoration: none;
}

.bookable-resource-link-href span,
.termAcceptDocsUrl {
    line-height: 1.4em;
    display: inline-block;
}

.margin-top-and-bottom {
    margin: 1.9em 0em;

}

.margin-bottom {
    margin-bottom: 1.9em;
}

.margin-left-and-right {
    margin: 0em 1.9em;
}


.footer {
    background: white;
    line-height: 25px !important;
    padding: 25px 20px;
    position: absolute;
    bottom: -350px;
    width: 100%;
   border-top: 1.5px solid #89266a;
}



@media screen and (max-width:  567px)    {
    .footer {
    line-height: 25px !important;
    padding: 15px 10px;
    position: absolute;
    width: 100% !important;
    height:10px !important;
   border-top: 1.5px solid #89266a;
    background-color: white !important;
}
}

@media (min-width:  567px)  and (max-width: 767px)    {
    .footer {
    line-height: 25px !important;
    padding: 25px 20px;
    position: absolute;
    width: 100% !important;
    height:350px !important;
   border-top: 1.5px solid #89266a;
    background-color: white !important;
}
}


.footer a {
/*    color: #000;
    */
    color: #27348B;
    text-decoration: none;
    display:inline-block !important;
}

.footer a:hover {
     text-decoration: underline;
}

.footer span {
    display: block;
}

.lightbox-body {
    padding: 0 !important;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.lightbox-body img {
    max-width: 100% !important;
}

.lightbox-body .close {
    font-size: 1.4em;
    font-weight: bold;
    float: right;
    padding: 0.1em;
    color: #fff !important;
}

.tooltip {
    pointer-events: auto !important;
    z-index: 1000;
}

.tooltip.show {
    margin-top: -30px;
    margin-left: -10px;
}

.tooltip .arrow {
    display: none;
}

.tooltip-inner {
    padding: 1.4em;
    text-align: left;
    max-width: none;
    border-radius: 0px;

    background-color: #fff !important;

    border: 1px solid #c9c9c9 !important;
    color: #000 !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.tooltip-inner span{
    font-weight: bold;
}

.tooltip-desc {
    margin-top: 10px;
    display: none;
}

.popover-content,
.popover-title {
    padding: 1em;
	width: 23em;
    text-align: center;
}

.popover-title {
    border-bottom: 1px #e2e2e2 solid;
    background-color: #f5f5f5;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


@media (max-width: 1048px) {
    .navbar-search {
        display: none;
    }
	.col-md-6 {
        margin-top: 1.5em;
    }
}


@media (max-width: 767px) {
    .navbar-search input {
    border: 1px solid red  !important;
     position: absolute !important;

}
.col-md-6 {
        margin-top: 1.5em;
    }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .brand-site-title {
        font-size: 26px;
		margin-top: 14px !important;
    }
    .dropdown {
        margin-top: 10px !important;
    }

    .footer {
        height: 22em !important;
    }

    .push {
      height: 1em;
    }

    .footer {
        background-color: #fff;
        height: 20em;
    }

    .col-md-6 {
        margin-top: 1.5em;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {

    .footer,
    .push {
      height: 1em;
    }

    .footer {
        background-color: #fff;
        height: 20em;
    }

    .col-md-6 {
        margin-top: 1.5em;
    }
}

@media (max-width: 340px) {
    .brand-site-title {

        font-size: 14px;

    }
}

/********************************************
SEARCH PAGE STYLE
*********************************************/



.jumbotron {
    background-color: #fff;
    padding-top: 50px;
}

.searchContainer {
    margin-top: 0%!important;
     position: relative;
}

.searchContainer p {
    font-size: 16px;
    padding-top: 5%  !important;
}

.flex-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
    padding: 0 1rem;
}

/* .searchContainer  .frontpagetext {
    cursor: pointer;
    list-style-type:none  !important;
    width:600px !important;
}

.search-page-content  .frontpagetext > p {
    font-size: 15px;
    margin-left: 1.5em;
}


#SD  .frontpagetext {
    cursor: pointer;
    list-style-type:none  !important;
    width:600px !important;
}

#SD  .frontpagetext > p {
    font-size: 15px;
    margin-left: 1.5em;
}

#search-page-content  .frontpagetext {
    cursor: pointer;
    list-style-type:none  !important;
    width:600px !important;
}

#search-page-content  .frontpagetext > p {
    font-size: 15px;
    margin-left: 1.5em;
}* */


.searchInput {
    border: 2px solid #3d3d3d !important;
    border-radius: 0 !important;
}

.searchInput:focus {
    box-shadow: none;
    border: 2px solid #3d3d3d !important;
}

.searchBtn {
border: 2px solid #26348B !important;
background-color: white !important;
transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.searchBtn:hover {
background-color: #89266a !important;
color: white !important;
cursor: pointer;
}

.building-card-header .btn-link{
	color: #27348B !important;
}

input:focus{
    outline: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*#searchbuttons {
    background-color: #3d3d3d !important;
    border: 1px solid #26348B !important;
    margin-top: 140% !important;
}*/


/*#searchmotor  {
     border: 1px solid #26348B  !important;
      margin-top: 25% !important;
 }*/


/* #globalsearchbuttong  {
      margin-top: 20% !important;
 }*/

.dropdown .btn,
.dropdown .btn:hover,
.dropdown .btn:active,
.dropdown .btn:focus,
.dropdown .show > .dropdown .btn-secondary.dropdown-toggle
{
   background-color: #fff !important;
    color: #000 !important;
    min-width: 10em;
    border: 1px #3d3d3d solid;
    border-radius: 0;
}


.dropdown .btn:hover
{
    background-color: rgb(137, 38, 106) !important;
    color: white !important;
}


.dropdown-item:active {
    background-color: #f8f9fa;
}

.dropdown-item a:hover {
    text-decoration: none;
}

/* SEARCH CONTAINER */
.circle {
    fill: #89266a;
}

.pageResults {
    margin-bottom: 5em;
    min-height: 400px;
}

.result-title {
    margin-top: 2em;
    margin-bottom: 2em;
}

.filterSearchToggle {
    width: 100%;
    margin-left: -14.9px;
    margin-bottom: 10px;
    background-color: rgb(247, 247, 247);
    border: 1px solid #dedede;
    outline: none;
    margin-top: -10px !important;
    text-align: center;
    cursor: pointer;
}

.filterSearchToggle:active, .filterSearchToggle:focus {
    outline: none;
}

.custom-card {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 10px;
    width: 100%;
    border: 1px black solid;
    text-decoration: none !important;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #000000;

}
#searchResult .row .custom-card:hover {
    color: #ffffff;
    background: #89266a ;
}

#welcomeResult .card-text a[class="upcomming-event-href"] {
    color: #26348B !important;
}

#welcomeResult .card-text a[class="upcomming-event-href"]:hover {
    color: #0056b3 !important;
    text-decoration: underline;
}

.custom-card p {
    font-size: 14px;
    min-height: 50px;
}

.custom-subcard {
    background-color: #fff;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 1em;
    border: 1px #dedede solid;
    border-bottom: 0px;
    width: 100%;
}

.custom-subcard:last-child {
    border-bottom: 1px solid #dedede;
}


.custom-subcard .show {
    display: block;
}

.custom-subcard .hide {
    display: none;
}

.custom-card-org{
	background-color: #fff;
	color: #000;
	width: 100%;

}

#welcomeResult .title {
    min-height: 30px;
    overflow: hidden;
}

#welcomeResult .custom-card {
    min-height: 170px;
    max-height: 170px;
}

#welcomeResult .custom-card:hover {
    background-color: #fff;
}

#welcomeResult .mb-2 {
    margin-bottom: 0 !important;
}

#welcomeResult h2.title,
#searchResult h2 {
    margin-bottom: .15rem;
    font-size: 1.25rem;
}

#welcomeResult .card-text {
    display: grid;
    font-size: 1rem;
    text-decoration: none;
    border: none;
    color: #000000;
}

.card-positioncorrect {
    padding-left: 40px;
}

.card-positioncorrect {
    text-decoration: none !important;
}

.card-positioncorrect:hover {
    text-decoration: none !important;
}

.custom-card-link:hover {
    text-decoration: none;
}

.filter-bar {
    margin-bottom: 2em;
}

.filter-bar .dropdown .btn {
    border: 1px #000 solid;
}

.filter-link {
    margin-right: 1.2em !important;
    display: inline;
}

input {
    border: none;
    background-color: transparent;


}

input:focus,
textarea:focus{
    outline: none  !important;
    border-color: black !important;
}

.textTagsItems {
    font-size: 13px;
    display: inline-block;
}

.tagTitle {
    font-size: 13px;
    font-weight: bold;
}

.tags {
    padding: 0.5em;
    background-color: #fff;
    border: 1px #dedede solid;
}

.tagsRemoveIcon {
    margin-left: 5px;
}

.autocompleter {
    background-color: #f9f9f9;
}

.bygg-li {
    width: 50%;
    float: left;
    background-color: #f9f9f9;
    padding: 0.5em;
    border-right: 5px #fff solid;
    overflow: hidden;
}

.org-li {
    width: 50%;
    float: right;
    background-color: #f9f9f9;
    padding: 0.5em;
    overflow: hidden;
}

.autocompleter-list .category-title{
    font-weight: bold;
    padding: 0.5em;
}

.autocompleter-item {
    padding: 0.5em;
}

.autocompleter-item span:last-child {
    color: #000;
    float: none;
}

/* MEDIA QUERIES */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .navbar-brand {
        margin-right: 0 !important;
    }
    .navbar-brand span {
        font-size: 14px;
    }

    .date-circle {
        margin-left: -20px;
    }

    .custom-card .desc {
        margin-left: 20px;
    }

    .filter-link {
        display: block !important;
    }

    .autocompleter-item span {
        display: block !important;
        float: none !important;
        overflow: hidden;
    }

    .autocompleter-item span:last-child {
        margin-top: 5px !important;
    }

    .bygg-li {
        width: 100%;
        border-right: 0px !important;
    }

    .org-li {
        width: 100%;
        border: none;
    }

    #navSearchForm {
        display: none;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {

    .filter-link {
        display: block !important;
    }

    #navSearchForm {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {

    .filter-link {
        display: block !important;
    }

    .search-container #searchInput:hover,
    .search-container #searchInput:focus {
        width: 200px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
    .pageResults .custom-card:nth-child(1),
    .searchResult .custom-card:nth-child(1){
        margin-right: 5px;

/*        min-height: 90% !important;*/
    }

    .pageResults .custom-card:nth-child(2),
    .searchResult .custom-card:nth-child(2){
        margin-left: 5px;
    }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .pageResults .custom-card:nth-child(1),
    .searchResult .custom-card:nth-child(1){
        margin-right: 5px;
    }

    .pageResults .custom-card:nth-child(2),
    .searchResult .custom-card:nth-child(2){
        margin-left: 5px;
    }
}




/********************************************
BUILDING PAGE STYLE
*********************************************/

@keyframes spinner {
  to {transform: rotate(360deg);
}
}

#loading-img {
    height: 100%;
    z-index: 99999;
    text-align: center;
    margin-top: 25%;
    color: #fff;
    /*background: url("../img/loading.png") center center no-repeat;*/
    /*-webkit-animation: spinner 2s infinite ease-in-out;
    animation: spinner 2s infinite ease-in-out;*/
}

.overlay {
    background: #000;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 99999;
    width:      100%;
    height:     100%;
}

/*.info-content {
    padding-top: 2em;

    border-left:solid 6px red !important;
   border-right:solid 6px red !important;
   height:     100px;
}*/

.location {
    margin-bottom: 2em;
}

.location span {
    font-size: 16px;
    padding: 0.5em;
    border-right: none;
    display: inline-block;
/*    text-decoration: underline;*/
    padding-top: 2em;
/*    background-color: red;*/
}

/*.location span:last-child {
}*/

.location span:last-child:before {
     content: ""  !important;
}

.location span:last-child:after {
     content: ""  !important;
}

.location span:after {
    content: "|" !important;
    margin-left: 10px;
}

.image-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
    border: 2px solid #fff;
}

.building-place-adr {
    display: inline;
    font-size: 14px;
}

.building-place-adr p {
    margin-bottom: 0;
}

.building-place-adr span {
    padding-right: .35rem;
}

.building-bookable h1 {
    margin-bottom: 2em !important;
}

.building-card {
    background-color: #f5f5f5;
    border: none;
}

.building-card-header {
    background-color: transparent;
    border-bottom: 1px #e2e2e2 solid;
    padding: 1em;
}

.building-card-header button{
    color: #000 !important;
    background-color: transparent;
}

.building-card-header button{
    color: #000 !important;
    background-color: transparent;
}

.building-accordion {
    width: 100%;
}

.card-body {
    padding-left: 30px !important;
}

.tooltip { pointer-events: none; }

.building-images img {
    margin-bottom: 1em;
}

.event-color-desc {
    text-align: right;
}

.square {
    width: 14px;
    height: 14px;
/*    border: 1px solid rgba(0, 0, 0, .2);*/
    display: inline-block;

/*   border: 1px solid red;*/
}

.allocation {
/*  background: rgb(110, 163, 216);*/

    background: #82368c;


}

.booking {
  background: #27348b;
}

.event {
  background: #b7d3f2;
}


.scheduler-view-day-header-day span:nth-child(1) {
    text-transform: capitalize;
    color: #82368C;
}

.scheduler-view-day-header-day span:nth-child(2) {
    font-size: 27px !important;
    display: block;
}

.scheduler-view-day-header-day .scheduler-today-hd {
    color: #82368C  !important;
    font-weight: bold;
}


.scheduler-today-hd {
    border-bottom: 3px solid #82368C  !important;
    color: #333;
    font-weight: bold;
}


.scheduler-base-controls {
    margin-left: 1em;
	margin-right: 1em;
	width: 100%;
}

.scheduler-event-disabled {
    background-image: none !important;
    color: #fff !important;
    opacity: 1 !important;
    max-width: 100%;
}


.scheduler-event-past {

      color: red !important;
}

/*.yui3-widget-bd {

     background-color: red;
border: 1px red solid !important;
}*/

.yui3-calendar td {
    padding: 0.4em;
}

.yui3-calendar-header {
    padding: 0.5em;
/*     background-color: red;*/
}

.yui3-calendar-header-label {
    display: inline-block !important;
    min-width: 200px !important;
}

.yui3-calendar-header a:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  padding: 0.5em;
  font-size: 1.4em;
}

.yui3-calendar-header a:hover {
    text-decoration: none;
}

.yui3-calendarnav-prevmonth:before {
    content: "\f104";
}

.yui3-calendarnav-nextmonth:before {
    content: "\f105";
}

.yui3-calendar-nextmonth-day,
.yui3-calendar-prevmonth-day,
.scheduler-base-nav-date {
    visibility: hidden;
}

.yui3-calendar-weekdayrow,
.yui3-calendar-row {
    text-align: center;
}

.yui3-calendar-header {
    justify-content: center;
    align-items: center;
}

.yui3-calendar-day:hover,
.yui3-aclist-item:hover {
    background: rgba(38, 51, 139, 0.4);
}

.yui3-calendar-day-selected {
    background: rgba(38, 51, 139, 0.4);
}

.yui3-calendar-selection-disabled:hover {
    background-color: #e6e6e6;
}
.org-name {
    font-size: 19px;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

    .building-bookable {
        margin-top: 2em !important;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {

    .building-bookable {
        margin-top: 2em !important;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {

    .building-bookable {
        margin-top: 2em !important;
    }

}


/********************************************
RESOURCE PAGE STYLE
*********************************************/

.main-picture {
    max-height: 300px;
    min-height: 300px;
}

#list-img-thumbs img {
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}

#list-img-thumbs img:hover {
    cursor: pointer;
}


/********************************************
ORGANIZATION / DELEGATE PAGE STYLE
*********************************************/

#organization-edit-page-content label, .span-label,
#delegate-page-content label, .span-label,
#delegate-edit-page-content label, .span-label,
#group-page-content label, .span-label,
#group-edit-page-content label, .span-label,
#systemmessage-page-content label, .span-label,
#event-edit-page-content label, .span-label,
#event-delete-page-content label, .span-label,
#booking-new-page-content label, .span-label,
#booking-edit-page-content label, .span-label,
#booking-delete-page-content label, .span-label,
#allocation-delete-page-content label, .span-label,
#booking-cancel-page-content label, .span-label,
#allocation-cancel-page-content label, .span-label,
#allocation-delete-preview-page-content label, .span-label,
#booking-delete-preview-page-content  label, .span-label,
#booking-edit-preview-page-content label, .span-label,
#booking-new-preview-page-content label, .span-label,
#report-numbers-page-content label, .span-label {
    font-size: 0.8em;
    color: #373737;
    display: block;
}

.xdsoft_datetimepicker {
    margin-top: -139px !important;
}

#organization-edit-page-content .form-group, .new-application-page .form-check {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

/********************************************
NEW APPLICATION PAGE STYLE
*********************************************/

/* Form input styling */
.new-application-page .form-input {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background: #fff;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    transition: .15s ease-in-out;
}

.new-application-page .form-control::placeholder,
.new-application-page .form-input::placeholder {
    font-size: .8rem;
}

.new-application-page .form-group .input-group .bookingDate,
.new-application-page .form-group .input-group .bookingStartTime,
.new-application-page .form-group .input-group .bookingEndTime,
.new-application-page .form-group .choseResource,
.new-application-page .form-group #audienceDropdownBtn {
    cursor: pointer;
}

.new-application-page .form-group .form-input.notValid {
    border-color: #dc3545;
}
.new-application-page .form-group .form-input.isValid {
    border-color: #28a745;
}

.form-group .dropdown .form-control:hover {
    cursor: pointer;
}

.new-application-page {
    margin-bottom: 100px;
}

#show-attachment {
    display: flex;
    margin: 1rem 0;
    align-items: center;
}

#show-attachment a {
    padding-left: 1rem;
    font-size: 0.8rem;
}

.new-application-page hr {
    border-color: #595959;
}

.new-application-page #bookable-resource {
    display: flex;
    flex-direction: column;
}

.new-application-page .textContainer {
    display: flex;
}

.exitBtn {
    padding: .75rem 0;
    display: flex;
    align-items: center;
    color: #373737;
    text-align: right;
}

.exitBtn:hover {
    color: #89266a;
    text-decoration: none;
}
.exitBtn i {
    margin-right: 0.5rem;
}

.btn-light {
    border: 1px #9e9e9e solid;
    border-radius: 0;
}

.mapBtn {
    background-color: transparent;
    color: #212529;
    border: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .375rem .75rem;
    text-align: left;
}

.mapBtn i {
    color: #82368c;
}

.modal h2 {
    text-transform: capitalize;
}

.mapBtn:hover {
    cursor: pointer;
}

.mapBtn:focus {
    outline: none;
}

/* MODAL STYLING */
.modal-header .close {
    color: #000;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.modal-body iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.modal-header .close:hover {
    color:  rgb(137, 38, 106);
}

.modal-footer .btn {
    background-color: transparent;
    color: #212529;
    border: 1px #4d4c4c solid;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.building-place-info p {
    margin-bottom: 0;
    margin-top: .5rem;
    color: #27348B;
    font-size: .8rem;
}
.building-place-info p:hover {
    color: #0056b3;
    text-decoration: underline;
}


.btn-light:hover,
.modal-footer .btn:hover{
    border-radius: 0;
    background-color: rgb(137, 38, 106);
    color: white;
    cursor: pointer;
}

.new-application-page .btn-outline-light {
    color: #000;
    border: none;
    text-decoration: underline;
}

.new-application-page .btn-outline-light:hover {
    background-color: transparent;
}

.new-application-page label, .span-label {
    font-size: 0.8em;
    color: #373737;
    display: block;
    margin-right: .5rem;
}

.new-application-page .form-group, .new-application-page .form-check {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.new-application-page .check-box-label {
    font-size: 1.3rem;
}

.new-application-page .form-check .fa-external-link-alt{
    font-size: .5rem;
    margin-left: .3rem;
    text-align: center;
    color: #26348B
}


.new-application-page .sm-input {
    width: 90px !important;
}

.new-application-page .btn,
.new-application-page .btn:hover, .new-application-page .dropdown .btn:active, .new-application-page .dropdown .btn:focus {
    border: 1px #4d4c4c solid;
    outline: none !important;
}

.selectedItems {
   color: green;
}

.seperateByComma:empty {
   display: none;
}

.seperateByComma:not(:empty):before {
    content:"\2713";
}

.repeatEvent {
    right: 0 !important;
    top: 2px !important;
}

.new-application-page .validationMessage {
    color: #212529;
}

.new-application-page .fa-minus-circle {
    color: #595959;
}

.new-application-page .fa-minus-circle:hover {
    color: #ee5b5e;
    cursor: pointer;
}

/* Error Modal TEST */
.modal-confirm {
    color: #434e65;
    width: 525px;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    background: #e85e6c;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 58px;
    margin: -2px 0 0 -2px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #eeb711;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645;
    outline: none;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
/*  */

.booking-cart {
    max-height: 100%;
    overflow-y: scroll;
    z-index: 999999;
    border: 1px solid #e2e2e2;
    position: fixed;
    bottom: 0px;
    right: 10px;
    width: 27%;
    min-width: 480px;
    background-color: #fff;
}

.booking-card:hover {
    cursor: pointer;
}

.booking-cart-title {
    padding: 0.5em;
    background-color: #4B4B4B;
    color: #fff;
}

.booking-cart-title:hover {
    cursor: pointer;
}

.booking-cart-item {
    padding: 0.9em;
    border-bottom: 1px solid #e2e2e2;
}

.booking-cart-item .fa-trash-alt:hover,
#new-application-partialtwo  .fa-trash-alt:hover {
    cursor: pointer !important;
    opacity: 0.5;
}

#new-application-partialtwo .applications {
    background-color: #fff;
}


.new-application-page .form-group #attachment-upload {
    display: flex;
    flex-direction: column;
}

.new-application-page .form-group .upload-button {
    margin-bottom: 0;
}

.new-application-page .form-group #attachment-remove {
    cursor: pointer;
    color: #26348B;
}

.new-application-page .form-group #attachment-remove:hover {
    color: #0056b3;
    text-decoration: underline;
}

.isDisabled {
    cursor: not-allowed;
    pointer-events: none;
}

#submit-error {
    margin-top: 1rem;
    color: red;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

    .booking-cart {
        right: 0;
        min-width: 95% !important;
    }

    .booking-cart-title i,
    .booking-cart-title span:nth-child(2) {
        margin-right: 10px;
    }
}

@media (max-width: 390px) {

    .booking-cart {
        right: 0;
        min-width: 100% !important;
    }

    .booking-cart-title i,
    .booking-cart-title span:nth-child(2) {
        margin-right: 10px;
    }
}

@media (min-width: 1850px) {

    .booking-cart {
        margin-bottom: -10px !important;
        margin-right: -23px !important;
    }

}

.brand-site-img{
	width: 150px;
}

@media (max-width: 765px) {

    .brand-site-img {
	width: 90px !important;
    }

}

@media (max-width: 767px) {

    .col-md-4{
	padding-bottom: 30px !important;
    }
}

.footer-brand-site-img{
       width: 180px !important;
       height: 88px !important;
}

@media (max-width: 767px) {
   .footer-brand-site-img {
	width: 60px;
    }
}


.frontpageimage {
  position: relative;
  background: url("../img/frontpageimage.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px !important;
  border-radius: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 560px) {
    .frontpageimage {
        display: none;
    }
}

@media (max-width: 767px) {
.frontpageimage {
  background: url("../img/frontpageimage.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px !important;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: -10% !important;

  margin-top: -10% !important;
}



}
@media (min-width: 576px) {
    .modal-dialog {
     /*   max-width: 700px;*/
    }
}

@media (max-width: 576px) {

#welcomeResult .custom-card {
    max-height: none;
}
}

.header-text a{
    color: white;
}

.header-text a:hover{
    text-decoration: none;
}

h1{
     font-size: 2.5rem;
}

h2{
     font-size: 1.5rem;
}

@media (min-width: 1200px) {
footer .container {
    max-width: 1200px !important;
}
}

.custom-card-link-href{
	text-decoration: none !important;
}


footer{
	font-size: 14px;
}

footer h3{
	font-size: 16px;
	font-weight: bold;
}

.file-upload-button{
	-webkit-appearance: button;
	margin: 0;
	font-size: 16px !important;
	border: 1px solid #4d4c4c !important;
	width: 120px;

}

.file-upload-button:hover{
	background-color: #89266a !important;
	color: white !important;
}

.upload-button{
	border: 1px solid black;
	padding: .375rem .75rem;
	font-size: 16px !important;
	vertical-align: middle;
	text-align: center;
	line-height: 1.5;
	background-color: #f8f9fa;
	width: 150px;
	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.upload-button:hover   {
    background-color: rgb(137, 38, 106);
    text-decoration: none !important;
    color: white;
    cursor: pointer;
}

.login-logo{
	padding-right: 5px;
}

#building_name,
.building-card-title,
.resource_title{
    font-size: 1.5rem;
}

.yui3-calendar-selection-disabled{
	background-color: #e6e6e6;
	cursor: not-allowed !important;
	font-style: italic;
}

.header_borderline{
	border-bottom: 1.5px solid rgb(137, 38, 106);
}

