html, body
{
	padding: 0;
	margin: 0;
}
html
{
	height: 100%;
}

body {
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	min-height: 100%;
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: #333;
	text-decoration: underline;
}

nav:not(.mm-menu)
{
	display: none;
}

.header,
.footer
{
	text-align: center;
}
.header,
.footer
{
	background: #777;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 0 50px;
}

.header.mm-fixed-top
{
	position: fixed;
	top: 0;
	left: 0;
}

#horizontal-menu
{
	position: absolute;
	top: 40px;
    right: 0px;
    z-index: 1;
}

.header a
{
	background: center center no-repeat transparent;
/*
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
*/
display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}
.content
{
	padding: 100px 50px 50px 10px;
}

/*
	LAYOUT
*/
#hamburger
{
	display: block;
	width: 40px;
	height: 36px;
/*	margin: 20px;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
#hamburger:before,
#hamburger:after,
#hamburger span
{
	background: #fff;
	content: '';
	display: block;
	width: 30px;
	height: 6px;
	position: absolute;
	left: 5px;
}
#hamburger:before
{
	top: 5px;
}
#hamburger:after
{
	bottom: 5px;
}
#hamburger span
{
	top: 50%;
	margin-top: -3px;
}
 
@media all and (min-width: 1430px)
{
	#hamburger {
		display: none;
	}
}

/* Hamburger animation */
#hamburger:before,
#hamburger:after,
#hamburger span
{
	transition: none 0.5s ease 0.5s;
	transition-property: transform, top, bottom, left, opacity;
        box-shadow: 0px 0px 1px 0px #777;
}
html.mm-opening #hamburger span
{
	left: -50px;
	opacity: 0;
}
html.mm-opening #hamburger:before
{
	transform: rotate( 45deg );
	top: 15px;
}
html.mm-opening #hamburger:after
{
	transform: rotate( -45deg );
	bottom: 15px;
}