<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Mainframe including Header, Menu, Workspace -->
<title>pb.WebMAUI</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/javascript" src="./templates/default/dhtml.js"></script>
<link rel="stylesheet" type="text/css" href="./templates/imp/main.css" />
</head>
<body>
<table width="90%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td align="left" valign="top">{Menu}</td>
    <td align="left">{Workspace}</td>
  </tr>
</table>
{DebugArea}
</body>
</html>
