<?php

/* Chora CSS information
 * This file is parsed by css.php, and used to produce a stylesheet.
 * $Horde: chora/config/html.php.dist,v 1.10 2001/03/23 20:46:53 avsm Exp $
 */

$css['body']['font-family'] = 'Geneva,Arial,Helvetica,sans-serif';
$css['body']['font-size'] = '11px';
$css['body']['background-color'] = '#222244';
$css['body']['color'] = 'black';

$css['a']['color'] = '#333388';
$css['a']['font-family'] = 'Geneva,Arial,Helvetica,sans-serif';
$css['a']['font-size'] = '11px';
$css['a']['text-decoration'] = 'none';

$css['a:hover']['text-decoration'] = 'underline';
$css['a:hover']['color'] = 'navy';
$css['a.footer:hover']['color'] = 'gray';

$css['.title']['font-size'] = '15px';
$css['.title']['font-weight'] = 'bold';

$css['.outline-lite']['background-color'] = '#cdcdcd';
$css['.outline-menu']['background-color'] = '#9999cc';

$css['.menu']['color'] = '#222222';
$css['.menu']['background-color'] = '#dfdfdf';
$css['.menu']['font-family'] = 'Geneva,Arial,Helvetica,sans-serif';

$css['.menuhead']['color'] = '#ccccee';
$css['.menuhead']['background-color'] = '#444466';
$css['.menuhead']['font-family'] = 'Geneva,Arial,Helvetica,sans-serif';
$css['.menuhead']['font-size'] = '12px';

$css['a.menuhead']['color'] = 'white';
$css['a.menuhead']['font-family'] = 'Geneva,Arial,Helvetica,sans-serif';
$css['a.menuhead']['font-size'] = '11px';
$css['a.menuhead:hover']['color'] = '#ddddff';

$css['.button']['color'] = 'white';
$css['.button']['background-color'] = '#666699';
$css['.button']['border-bottom'] = 'thin solid #222244';
$css['.button']['border-right'] = 'thin solid #222244';
$css['.button']['border-top'] = 'thin solid #9999cc';
$css['.button']['border-left'] = 'thin solid #9999cc';
$css['.button']['font-size'] = '9pt';
$css['.button']['font-family'] = 'Geneva,Arial,Helvetica,sans-serif';
$css['.button']['font-weight'] = 'bold';

$css['td']['font-size'] = '11px';
$css['td']['font-family'] = 'Geneva,Arial,Helvetica,sans-serif';

$css['th']['font-size'] = '11px';
$css['th']['font-family'] = 'Geneva,Arial,Helvetica,sans-serif';

$css['.header']['background-color'] = '#dedeee';
$css['.header']['color'] = 'black';
$css['.header-sel']['background-color'] = '#bbcbff';
$css['.info']['background-color'] = '#d0d0d0';

$css['.item0']['background-color'] = '#eeeeee';
$css['.item1']['background-color'] = '#ffffff';
$css['.attic']['background-color'] = '#eedddd';
$css['.attic']['font-style'] = 'italic';

$css['.footer']['color'] = '#aaaaaa';
$css['.footer']['font-style'] = 'italic';

$css['.diff-back']['background-color'] = '#ffffff';
$css['.diff-header']['background-color'] = '#cfcfd9';
$css['.diff-log']['background-color'] = '#eeeeee';
$css['.diff-request']['background-color'] = '#eeeeee';

$css['.annotate-back']['background-color'] = '#ffffff';
$css['.annotate-header']['background-color'] = '#dddddd';
$css['.annotate-author']['background-color'] = '#eeeeff';
$css['.annotate-rev']['background-color'] = '#ffeeee';

$css['.hr-diff-back']['background-color'] = '#ffffff';
$css['.hr-diff-add']['background-color'] = '#ccccff';
$css['.hr-diff-change']['background-color'] = '#99ff99';
$css['.hr-diff-nochange']['background-color'] = '#99cc99';
$css['.hr-diff-remove']['background-color'] = '#ff9999';
$css['.hr-diff-grey']['background-color'] = '#cccccc';
$css['.hr-diff-context']['background-color'] = '#eeeeee';
$css['.hr-diff-linenum']['background-color'] = '#99cccc';

$css['.history']['background-color'] = '#f2f3ff';
$css['.history-branch']['background-color'] = '#cceebb';
?>
