<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
<!-- BEGIN Content -->
<table width="100%" cellspacing="1" border="0" cellpadding="2" align="left">
  <tr class="filter">
    <td align="right">
      <input class="field" type="text" name="fldFilter" value="{fldFilter}" size="30" />
      <input type="submit" name="btnSearch" value="suchen" />
    </td>
  </tr>
</table>
</td>
</tr>
<tr>
  <td>
    <table width="100%" cellspacing="1" border="0" cellpadding="2" align="left">
      <tr class="caption" valign="top">
        <td width="50%"><b>Name</b></td>
        <td><b>Mail/Account</b></td>
        <td width="1%">Stufe</td>
      </tr>
      <!-- BEGIN Account -->
      <tr  class="{ListClass}" valign="top">
        <td><a class="{ListClass}" href="{LinkAccount}">{Name}&nbsp;</a></td>
        <td>
          <!-- BEGIN Address -->
          {Address}<br />
          <!-- END Address -->
        </td>
        <td> {Accesslevel} </td>
      </tr>
      <!-- END Account -->
    </table>
  </td>
</tr>
<tr>
  <td>
    <table width="100%" cellspacing="1" border="0" cellpadding="2" align="left">
      <tr class="filter">
        <td align="right">
          <select name="fldNewDomainadmin" >
            <option value=" ">(Neuen Domainverwalter aussuchen)</option>
            <!-- BEGIN NewDomainadmin -->
            <option value="{NewDomainadminDN}">{NewDomainadmin}</option>
            <!-- END NewDomainadmin -->
          </select>
          <input type="submit" name="btnNew" value="Speichern" />
        </td>
      </tr>
    </table>
    <!-- END Content -->
  </td>
</tr>
</body>
</html>
